{% extends "./department-template.html" %}

{% block col_title %}
Department of Geology and Petroleum Studies 
{% endblock %}


{% block sch_title %} SCHOOL OF PHYSICAL SCIENCES {% endblock %} {% block col_acronym %}CoNAS {% endblock %}

{% block dept_name %} Geology and Petroleum Studies {% endblock %}

{% block course1_name %}Bachelor of science in Geology(Major) {% endblock %}

{% block course2_name %} Bachelor of science in Geology(Minor){% endblock %}

{% block course3_name %}Bachelor of science in  Petroleum Geoscience & Production {% endblock %}

{% block course_1_courseunit_list_1 %} 
<li class="course_units"><b><i><a  href="#">GLO1101-External Earth Processes</a></i></b></li>
<li class="course_units"><b><i><a  href="#">GLO1102-Internal Earth Processes</a></i></b></li>
<li class="course_units"><b><i><a  href="#">GLO1103-Crystallography And Mineralogy</a></i></b></li>
<li class="course_units"><b><i><a  href="#">GLO1104-Exogenic Natural Hazards& Their Mitigation</a></i></b></li>
<li class="course_units"><b><i><a  href="communication skills.html">CSK1101-Communication Skills</a></i></b></li>
{% endblock %}

{% block course_1_courseunit_list_2 %}
<li class="course_units"><b><i><a  href="#">GLO1201-Palaeontology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">GLO12O2-Introduction to Petrology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PGP1203-Geology of Uganda</a></i></b></li>
<li class="course_units"><b><i><a  href="#">GLO1204-Petroleum Geology and well logging</a></i></b></li>
{% endblock %}

{% block course_1_courseunit_list_3 %}
<li class="course_units"><b><i><a  href ="#">GLO2101-Optical Mineralogy</a></i></b></li>
<li class="course_units"><b><i><a  href="#">GLO2102-Structural Geology & Geotectonics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">GLO2103-Geophysics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">GLO2104-Geostastics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">DES1108-Development Studies</a></i></b></li>
<li class="course_units"><b><i><a  href="#">GLO2105-Endogenic Natural Hazards and their Mitigation</a></i></b></li>
<li class="course_units"><b><i><a  href="#">GLO2106-Genesis of gemstones and their significance</a></i></b></li>
{% endblock %}

{% block course_1_courseunit_list_4 %}
<li class="course_units"><b><i><a  href="#">GLO2201-Field Geology & Surveying</a></i></b></li>
<li class="course_units"><b><i><a  href="#">GLO2202-Sedimentary Petrology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">GLO2203-Stratigraphy</a></i></b></li>
<li class="course_units"><b><i><a  href="#">GLO2204-Hydrogeology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">GLO2205-Geochemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">GLO2206-Engineering Geology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">GLO2207-Photogeology and Remote Sensing.</a></i></b></li>
<li class="course_units"><b><i><a  href="#">GLO2208-Endogenic Natural Hazards & their  Mitigation</a></i></b></li>
{% endblock %}

{% block course_1_courseunit_list_5 %}
<li class="course_units"><b><i><a href="#">GLO3101-Igneous Petrology</a></i></b></li>
<li class="course_units"><b><i><a href="#">GLO3102-Economic Geology</a></i></b></li>
<li class="course_units"><b><i><a href="#">GLO3103-Seminar Presentation</a></i></b></li>
<li class="course_units"><b><i><a href="#">GLO3104-Sedimentology</a></i></b></li>
<li class="course_units"><b><i><a href="#">GLO3105-Environmental Geology</a></i></b></li>
<li class="course_units"><b><i><a href="#">GLO3106-Prospecting and Mining Geology</a></i></b></li>
<li class="course_units"><b><i><a href="#">GLO3107-Geomorphology</a></i></b></li>
{% endblock %}

{% block course_1_courseunit_list_6 %}
<li class="course_units"><b><i><a href="#">GLO 3201-Metamorphic Petrology</a></i></b></li>
<li class="course_units"><b><i><a href="#">GLO 3202-Geology of East Africa</a></i></b></li>
<li class="course_units"><b><i><a href="#">GLO 3204-Ore Microscopy</a></i></b></li>
<li class="course_units"><b><i><a href="#">GRM 3203-Water Quality & Instrumentation</a></i></b></li>
<li class="course_units"><b><i><a href="#">GLO 3203-Research Project</a></i></b></li>
{% endblock %}






{% block course_2_courseunit_list_1 %} 
<li class="course_units"><b><i><a  href="#">GLO1101-External Earth Processes</a></i></b></li>
<li class="course_units"><b><i><a  href="#">GLO1102-Internal Earth Processes</a></i></b></li>
<li class="course_units"><b><i><a  href="#">GLO1103-Crystallography And Mineralogy</a></i></b></li>
<li class="course_units"><b><i><a  href="#">GLO1104-Exogenic Natural Hazards& Their Mitigation</a></i></b></li>
<li class="course_units"><b><i><a  href="communication skills.html">CSK1101-Communication Skills</a></i></b></li>
{% endblock %}

{% block course_2_courseunit_list_2 %}
<li class="course_units"><b><i><a  href="#">GLO1201-Palaeontology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">GLO12O2-Introduction to Petrology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PGP1203-Geology of Uganda</a></i></b></li>
<li class="course_units"><b><i><a  href="#">GLO1204-Petroleum Geology and well logging</a></i></b></li>
{% endblock %}

{% block course_2_courseunit_list_3 %}
<li class="course_units"><b><i><a  href ="#">GLO2101-Optical Mineralogy</a></i></b></li>
<li class="course_units"><b><i><a  href="#">GLO2103-Geophysics</a></i></b></li>
{% endblock %}

{% block course_2_courseunit_list_4 %}
    <li class="course_units"><b><i><a  href="#">GLO2204-Hydrogeology</a></i></b></li>
    <li class="course_units"><b><i><a  href="#">GLO2205-Geochemistry</a></i></b></li>
    <li class="course_units"><b><i><a  href="#">GLO2206-Engineering Geology</a></i></b>
{% endblock %}

{% block course_2_courseunit_list_5 %}
<li class="course_units"><b><i><a href="#">GLO3101-Igneous Petrology</a></i></b></li>
<li class="course_units"><b><i><a href="#">GLO3102-Economic Geology</a></i></b></li>
{% endblock %}

{% block course_2_courseunit_list_6 %}
<li class="course_units"><b><i><a href="#">GLO3201-Metamorphic Petrology</a></i></b></li>
<li class="course_units"><b><i><a href="#">GLO3202-Geology of East Africa</a></i></b></li>
{% endblock %}

 




{% block course_3_courseunit_list_1 %} 
<li class="course_units"><b><i><a  href="#">GLO1101-External Earth Processes</a></i></b></li>
<li class="course_units"><b><i><a  href="#">GLO1102-Internal Earth Processes</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PGP1101-Mineralogy</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PGP1102-Calculus</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PGP1103-Probability and Statistics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM1101-Basic Inorganic Chemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM1102-Basic Physical Chemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PHY1103-Properties of Matter</a></i></b></li>
{% endblock %}

{% block course_3_courseunit_list_2 %} 
<li class="course_units"><b><i><a  href="#">GLOs1201-Palaeontology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">GLOs1202-Petrology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">GLOs1203-Geology of Uganda</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PGPs1201-Introduction to Computer Science</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PGPs1202-Linear Algebra</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHMs1205-Basic Organic Chemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PHYs1205-Electricity and Magnetism</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PHYs1206-Heat and Thermodynamics</a></i></b></li>
{% endblock %}

{% block course_3_courseunit_list_3 %} 
<li class="course_units"><b><i><a  href="#">PGP2109-Structural Geology and Geotectonics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PGP2101-Introduction to Petroleum Geology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PGP2102-Petroleum Geophysics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PGP2103-Computing and Geostatistics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PGP2104-Introduction to Petroleum Engineering</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PGP2105-Rock Mechanics and Fluid Physics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PGP2106-Fluid Mechanics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PGP2107-Mineral Optics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PGP2108-Material Science</a></i></b></li>
{% endblock %}

{% block course_3_courseunit_list_4 %} 
<li class="course_units"><b><i><a  href="#">GLO2202-Sedimentary Petrology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">GLO2203-Stratigraphy</a></i></b></li>
<li class="course_units"><b><i><a  href="#">GLO2205-Geochemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PGP2201-GIS</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PGP2202-Electromagnetic and Radiometric Methods</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PGP2203-Mathematical Analysis</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PGP2204-Field Geology and Surveying</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PGP2205-Remote Sensing</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PGP2206-Environmental Geology</a></i></b></li>
{% endblock %}

{% block course_3_courseunit_list_5 %} 
<li class="course_units"><b><i><a href="#">PGP3108-Analytical Separation Techniques</a></i></b></li>
<li class="course_units"><b><i><a href="#">GLO3105-Sedimentology</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP3101-Palynology</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP3102-Seismic Data Interpretation</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP3103-Signal Processing</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP3104-Geophysical Data  Acquisition, Processing and interpretation</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP3105-Well Logging</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP3106-Electrical and Paleomagnetic Methods</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP3107-Scientific project proposal and report writing</a></i></b></li>
{% endblock %}

{% block course_3_courseunit_list_6 %} 
<li class="course_units"><b><i><a href="#">GLO3202-Regional Geology of East Africa</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP3201-Petroleum Geochemistry</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP3202-Seminar Presentation</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP3203-Computer Modelling and Design</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP3204-Analysis of Sedimentary Basins</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP3205-Sociology and Ethics in Petroleum</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP3206-Oil and Gas Policy and Environmental Law</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP3207-Differential Equations</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP3208-Thematic Map Interpretation</a></i></b></li>
{% endblock %}

{% block course_3_courseunit_list_7 %} 
<li class="course_units"><b><i><a href="#">PGP4104-Petroleum Economics</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP4102-Petroleum Reservoir Management</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP4103-Drilling Engineering</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP4101-Health, Safety and Environmental aspects of Petroleum Development</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP4105-Reservoir Geophysics and Geology</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP4106-Reservoir Engineering</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP4107-Electronics and Instrumentation</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP4108-Drilling Fluids</a></i></b></li>
{% endblock %}

{% block course_3_courseunit_list_8 %} 
<li class="course_units"><b><i><a href="#">PGP4201-Petroleum Production Methods</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP4202-Management of Petroleum Operations</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP4204-Enhanced Oil Recovery Processes</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP4205-Regulation in the Oil and Gas Industry</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP4206-Safety and Reliability Analysis</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP4208-Petroleum Refining and Transportation</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP4207-Gas Marketing and Gas Utilization</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP4203-Project</a></i></b></li>
{% endblock %}










{% block course_1_year_4 %} {% endblock %}

{% block course_2_year_4 %} {% endblock %}

{% block course_2_year_5 %} {% endblock %}

{% block course_list_4 %} {% endblock %}