{% extends "./department-template.html" %}

{% block col_title %}
Department of Physics
{% endblock %}


{% block sch_title %} SCHOOL OF PHYSICAL SCIENCES {% endblock %} {% block col_acronym %}CoNAS {% endblock %}

{% block dept_name %} Physics {% endblock %}

{% block course1_name %}Bachelor of Science (Physics Major) {% endblock %}

{% block course2_name %}Bachelor of Science (Physics Minor){% endblock %}


{% block course_1_courseunit_list_1 %} 
<li class="course_units"><b><i><a  href="#">PHY1111-Mathematical Methods in Physics I</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PHY1112-Properties of Matter</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PHY1113-Heat & Thermodynamics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PHY1114-General Physics (For None Physics students)</a></i></b></li>
<li class="course_units"><b><i><a  href="communication skills.html">CSK1101-Communication Skills</a></i></b></li>
{% endblock %}

{% block course_1_courseunit_list_2 %} 
<li class="course_units"><b><i><a  href="#">PHY1211-Classical Mechanics I</a></i></b></li>
<li class="course_units"><b><i><a  href = "#">PHY1212-Electricity and Magnetism</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PHY1213-Optics</a></i></b></li>
{% endblock %}

{% block course_1_courseunit_list_3 %} 
<li class="course_units"><b><i><a  href ="#">PHY2111-Mathematical Methods in Physics II</a></i></b></li>
<li class="course_units"><b><i><a  href ="#">PHY2112-Solid State Physics I</a></i></b></li>
<li class="course_units"><b><i><a  href ="#">PHY2113-Wave Optics</a></i></b></li>
<li class="course_units"><b><i><a  href ="#">DES1108-Introduction to Development Studies</a></i></b></li>
<li class="course_units"><b><i><a  href ="#">PHY2114-Evolution of Physics</a></i></b></li>
<li class="course_units"><b><i><a  href ="#">PHY2115-Elements of Astronomy and Astrophysics</a></i></b></li>
<li class="course_units"><b><i><a  href ="#">PHY2116-Elements of Environmental Physics</a></i></b></li>
{% endblock %}

{% block course_1_courseunit_list_4 %} 
<li class="course_units"><b><i><a  href="#">PHY2211-Classical Mechanics II</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PHY2214-Quantum Mechanics I</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PHY2215-Electronics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PHY2212-Fluid Dynamics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PHY2213-Introduction to Geo-Physics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PHY2216-Acoustics</a></i></b></li>
{% endblock %}

{% block course_1_courseunit_list_5 %} 
<li class="course_units"><b><i><a href="#">PHY3111-Computer Programming in Physics</a></i></b></li>
<li class="course_units"><b><i><a href="#">PHY3112-Electro-Magnetism</a></i></b></li>
<li class="course_units"><b><i><a href="#">PHY3117-Statistical Mechanics</a></i></b></li>
<li class="course_units"><b><i><a href="#">PHY3113-Geophysical Methods</a></i></b></li>
<li class="course_units"><b><i><a href="#">PHY3114-Introduction to Space Physics</a></i></b></li>
<li class="course_units"><b><i><a href="#">PHY3115-Electronics & Instrumentation</a></i></b></li>
<li class="course_units"><b><i><a href="#">PHY3116-Agricultural Physics</a></i></b></li>
<li class="course_units"><b><i><a href="#">PHY3118-Bio-Physics</a></i></b></li>
{% endblock %}

{% block course_1_courseunit_list_6 %} 
<li class="course_units"><b><i><a href="#">PHY3211-Physics Project</a></i></b></li>
<li class="course_units"><b><i><a href="#">PHY3212-Solid State Physics II</a></i></b></li>
<li class="course_units"><b><i><a href="#">PHY3214-Quantum Mechanics II</a></i></b></li>
<li class="course_units"><b><i><a href="#">PHY3218-Nuclear Physics</a></i></b></li>
<li class="course_units"><b><i><a href="#">PHY3213-Materials Science</a></i></b></li>
<li class="course_units"><b><i><a href="#">PHY3215-Solar Energy</a></i></b></li>
<li class="course_units"><b><i><a href="#">PHY3216-Microwaves and Fibre Optics</a></i></b></li>
<li class="course_units"><b><i><a href="#">PHY3217-Industrial Physics</a></i></b></li>
{% endblock %}





{% block course_2_courseunit_list_1 %} 
<li class="course_units"><b><i><a  href="#">PHY1111-Mathematical Methods in Physics I</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PHY1112-Properties of Matter</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PHY1113-Heat & Thermodynamics</a></i></b></li>
<li class="course_units"><b><i><a  href="communication skills.html">CSK1101-Communication Skills</a></i></b></li>
{% endblock %}

{% block course_2_courseunit_list_2 %} 
<li class="course_units"><b><i><a  href="#">PHY1211-Classical Mechanics I</a></i></b></li>
<li class="course_units"><b><i><a  href = "#">PHY1212-Electricity and Magnetism</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PHY1213-Optics</a></i></b></li>
{% endblock %}

{% block course_3_courseunit_list_3 %} 
<li class="course_units"><b><i><a  href ="#">PHY2112-Solid State Physics I</a></i></b></li>
<li class="course_units"><b><i><a  href ="#">PHY2113-Wave Optics</a></i></b></li>
<li class="course_units"><b><i><a  href ="#">DES1108-Introduction to Development Studies</a></i></b></li>
<li class="course_units"><b><i><a  href ="#">PHY2116-Elements of Environmental Physics</a></i></b></li>
{% endblock %}

{% block course_4_courseunit_list_4 %} 
<li class="course_units"><b><i><a  href="#">PHY2213-Introduction to Geo-physics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PHY2214-Quantum Mechanics I</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PHY2215-Electronics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PHY2216-Acoustics</a></i></b></li>
{% endblock %}

{% block course_5_courseunit_list_5 %} 
<li class="course_units"><b><i><a href="#">PHY3112-Electro-Magnetism</a></i></b></li>
<li class="course_units"><b><i><a href="#">PHY3113-Geo-physical Methods</a></i></b></li>
<li class="course_units"><b><i><a href="#">PHY3114-Introduction to Space Physics</a></i></b></li>
<li class="course_units"><b><i><a href="#">PHY3115-Electronics & Instrumentation</a></i></b></li>
<li class="course_units"><b><i><a href="#">PHY3116-Agricultural Physics</a></i></b></li>
<li class="course_units"><b><i><a href="#">PHY3118-Bio-Physics</a></i></b></li>
{% endblock %}

{% block course_6_courseunit_list_6 %} 
<li class="course_units"><b><i><a href="#">PHY3213-Materials Science</a></i></b></li>
<li class="course_units"><b><i><a href="#">PHY3215-Solar Energy</a></i></b></li>
<li class="course_units"><b><i><a href="#">PHY3216-Microwaves and Fibre Optics</a></i></b></li>
<li class="course_units"><b><i><a href="#">PHY3217-Industrial Physics</a></i></b></li>
{% endblock %}



{% block course_1_year_4 %} {% endblock %}

{% block course_2_year_4 %} {% endblock %}

{% block course_2_year_5 %} {% endblock %}

{% block course_list_3 %} {% endblock %}

{% block course_list_4 %} {% endblock %}
