

{% extends "./department-template.html" %}

{% block col_title %}
Department of Zoology, Entomology & Fisheries Sciences
{% endblock %}


{% block sch_title %} SCHOOL OF BIOSCIENCES {% endblock %} {% block col_acronym %}CoNAS {% endblock %}

{% block dept_name %} Zoology, Entomology & Fisheries Sciences {% endblock %}

{% block course1_name %}Bachelor of science in Biotechnology{% endblock %}

{% block course2_name %}Bachelor of science in Ethnobotany{% endblock %}

{% block course3_name %}Bachelor of science in Conservation Biology{% endblock %}

{% block course4_name %}Bachelor of science in Botany{% endblock %}

{% block course_1_courseunit_list_1 %} 
<li class="course_units"><b><i><a  href="#">BCH1101-Cell biology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BCH-1102-Biomolecules structures and functions of macromolecules</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BBT1103-Enzymology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BOT1101-Flowering plant growth and development</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BBT1105-Basic computer applications</a></i></b></li>
<li class="course_units"><b><i><a  href="#">ETB1104-Economics for conservation</a></i></b></li>
{% endblock %}

{% block course_1_courseunit_list_2 %} 
<li class="course_units"><b><i><a  href="#">BBT1201-Basic animal physiology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BBT1202-Introductory microbiology and mycology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BBT1203-Cellular Metabolism</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BBT1204-Basic Plant Physiology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BOT1201-Basic Genetics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BOT1202-Basic Ecology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BBT1205-Animal growth and development</a></i></b></li>
{% endblock %}

{% block course_1_courseunit_list_3 %} 
<li class="course_units"><b><i><a  href ="#">BBT2301-Applications of biotechnology in Seed science and Technology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BBT2302-Molecular markers</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BBT2303-Recombinant DNA Technologies</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BBT2304-Evolutionary biology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BBT2305-Molecular systematics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BBT2306-Molecular Evolution</a></i></b></li>
{% endblock %}

{% block course_1_courseunit_list_4 %} 
<li class="course_units"><b><i><a  href="#">BBT2401-Research methods</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BBT2402-Molecular defense mechanisms in plants and animals</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BBT2403-Tissue culture</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BBT2404-Biostatistics and Modeling</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BOT2202-Plant-water relations and Mineral nutrition</a></i></b></li>
{% endblock %}

{% block course_1_courseunit_list_5 %} 
<li class="course_units"><b><i><a href="#">BBT3501-Genomics and Bioinformatics</a></i></b></li>
<li class="course_units"><b><i><a href="#">BBT3502-Stress Physiology and environment</a></i></b></li>
<li class="course_units"><b><i><a href="#">BBT3503-Biosafety, Bioethics and Biopolicy</a></i></b></li>
<li class="course_units"><b><i><a href="#">BBT3504-Plants as Chemical and Pharmaceutical factories</a></i></b></li>
<li class="course_units"><b><i><a href="#">BBT3505-Bioprospecting</a></i></b></li>
{% endblock %}

{% block course_1_courseunit_list_6 %} 
<li class="course_units"><b><i><a href="#">BBT3601-Fermentation Biotechnology</a></i></b></li>
<li class="course_units"><b><i><a href="#">BBT3602-Microbiology, Plant Pathology and Virology</a></i></b></li>
<li class="course_units"><b><i><a href="#">BBT3603-Product development and entrepreneurship</a></i></b></li>
<li class="course_units"><b><i><a href="#">BBT3604-Biotechnology and crop Improvement</a></i></b></li>
<li class="course_units"><b><i><a href="#">BBT3605-Environmental Biotechnology</a></i></b></li>
{% endblock %}



{% block course_2_courseunit_list_1 %} 
<li class="course_units"><b><i><a  href="#">BCH-1101-Cell biology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BCH-1102-Biomolecules structures and functions</a></i></b></li>
{% endblock %}

{% block course_2_courseunit_list_2 %} 
<li class="course_units"><b><i><a  href="#">BCH1201-Enzymology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BCH1202-Metabolism and Metabolic Regulation</a></i></b></li>
{% endblock %}

{% block course_2_courseunit_list_3 %} 
<li class="course_units"><b><i><a  href ="#">BCH2101-Principals and Applications of Biochemical Methods</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BCH2102-Physical Biochemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BCH2103-Endocrinology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BCH2104-Tissue structure and function</a></i></b></li>
{% endblock %}

{% block course_2_courseunit_list_4 %} 
<li class="course_units"><b><i><a  href="#">BCH2201-Microbial Biochemistry and Genetics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BCH2202-Molecular Biology</a></i></b></li>
{% endblock %}

{% block course_2_courseunit_list_5 %} 
<li class="course_units"><b><i><a href="#">BCH3101-Food Science and Nutrition</a></i></b></li>
<li class="course_units"><b><i><a href="#">BCH3102-Immunology and Immunochemistry</a></i></b></li>
<li class="course_units"><b><i><a href="#">BCH3103-Advanced Molecular Biology</a></i></b></li>
<li class="course_units"><b><i><a href="#">BCH3104-Animal Nutrition</a></i></b></li>
<li class="course_units"><b><i><a href="#">BOT3101-Plant Biochemistry</a></i></b></li>
{% endblock %}

{% block course_2_courseunit_list_6 %} 
<li class="course_units"><b><i><a href="#">BCH3201-Industrial Biochemistry and Biotechnology</a></i></b></li>
<li class="course_units"><b><i><a href="#">BCH3203-Clinical Biochemistry and Disease Processes</a></i></b></li>
<li class="course_units"><b><i><a href="#">BCH3204-Comparative Biochemistry</a></i></b></li>
<li class="course_units"><b><i><a href="#">BCH3205-Pharmacology and Toxicology </a></i></b></li>
{% endblock %}


{% block course_1_year_4 %} {% endblock %}

{% block course_2_year_4 %} {% endblock %}

{% block course_2_year_5 %} {% endblock %}

{% block course_3_year_4 %} {% endblock %}
{% block course_4_year_4 %} {% endblock %}