

{% extends "./department-template.html" %}

{% block col_title %}
Department of Biochemistry & Sports Science
{% endblock %}


{% block sch_title %} SCHOOL OF BIOSCIENCES {% endblock %} {% block col_acronym %}CoNAS {% endblock %}

{% block dept_name %} Biochemistry & Sports Science {% endblock %}

{% block course1_name %}Bachelor of science in Biochemistry (Major){% endblock %}

{% block course2_name %}Bachelor of science in Biochemistry (Minor){% endblock %}

{% block course3_name %}Bachelor of science in Sports Science{% endblock %}



{% block course_1_courseunit_list_1 %} 
<li class="course_units"><b><i><a  href="#">BCH-1101-Cell biology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BCH-1102-Biomolecules structures and functions</a></i></b></li>
{% endblock %}

{% block course_1_courseunit_list_2 %} 
<li class="course_units"><b><i><a  href="#">BCH1201-Enzymology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BCH1202-Metabolism and metabolic regulation</a></i></b></li>
{% endblock %}

{% block course_1_courseunit_list_3 %} 
<li class="course_units"><b><i><a  href ="#">BCH2101-Principals and Applications of Biochemical Methods</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BCH2102-Physical Biochemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BCH2103-Endocrinology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BCH2104-Tissue structure and function</a></i></b></li>
{% endblock %}

{% block course_1_courseunit_list_4 %} 
<li class="course_units"><b><i><a  href="#">BCH 2201-Microbial biochemistry and genetics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BCH 2202-Molecular biology</a></i></b></li>
{% endblock %}

{% block course_1_courseunit_list_5 %}
<li class="course_units"><b><i><a href="#">BCH3101-Food science and nutrition</a></i></b></li>
<li class="course_units"><b><i><a href="#">BCH3102-Immunology and immunochemistry</a></i></b></li>
<li class="course_units"><b><i><a href="#">BCH3103-Advanced molecular biology</a></i></b></li>
<li class="course_units"><b><i><a href="#">BCH3104-Animal nutrition</a></i></b></li>
<li class="course_units"><b><i><a href="#">BOT3101-Plant biochemistry</a></i></b></li>
{% endblock %}

{% block course_1_courseunit_list_6 %} 
<li class="course_units"><b><i><a href="#">BCH3201-Industrial biochemistry and biotechnology</a></i></b></li>
<li class="course_units"><b><i><a href="#">BCH3203-Clinical biochemistry and disease processes</a></i></b></li>
<li class="course_units"><b><i><a href="#">BCH3204-Comparative biochemistry</a></i></b></li>
<li class="course_units"><b><i><a href="#">BCH3205-Pharmacology and toxicology </a></i></b></li>
{% endblock %}




{% block course_2_courseunit_list_1 %} 
<li class="course_units"><b><i><a  href="#">BCH-1101-Cell biology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BCH-1102-Biomolecules structures and functions</a></i></b></li>
{% endblock %}

{% block course_2_courseunit_list_2 %} 
<li class="course_units"><b><i><a  href="#">BCH1201-Enzymology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BCH1202-Metabolism and metabolic regulation</a></i></b></li>
{% endblock %}

{% block course_2_courseunit_list_3 %} 
<li class="course_units"><b><i><a  href ="#">BCH2101-Principals and Applications of Biochemical Methods</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BCH2102-Physical Biochemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BCH2103-Endocrinology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BCH2104-Tissue structure and function</a></i></b></li>
{% endblock %}

{% block course_2_courseunit_list_4 %} 
<li class="course_units"><b><i><a  href="#">BCH 2201-Microbial biochemistry and genetics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BCH 2202-Molecular biology</a></i></b></li>
{% endblock %}

{% block course_2_courseunit_list_5 %}
<li class="course_units"><b><i><a href="#">BCH3101-Food science and nutrition</a></i></b></li>
<li class="course_units"><b><i><a href="#">BCH3102-Immunology and immunochemistry</a></i></b></li>
<li class="course_units"><b><i><a href="#">BCH3103-Advanced molecular biology</a></i></b></li>
<li class="course_units"><b><i><a href="#">BCH3104-Animal nutrition</a></i></b></li>
<li class="course_units"><b><i><a href="#">BOT3101-Plant biochemistry</a></i></b></li>
{% endblock %}

{% block course_2_courseunit_list_6 %} 
<li class="course_units"><b><i><a href="#">BCH3201-Industrial biochemistry and biotechnology</a></i></b></li>
<li class="course_units"><b><i><a href="#">BCH3203-Clinical biochemistry and disease processes</a></i></b></li>
<li class="course_units"><b><i><a href="#">BCH3204-Comparative biochemistry</a></i></b></li>
<li class="course_units"><b><i><a href="#">BCH3205-Pharmacology and toxicology </a></i></b></li>
{% endblock %}


{% block course_3_courseunit_list_1 %} 
<li class="course_units"><b><i><a  href="#">SPS1101-Introduction to Sports Science</a></i></b></li>
<li class="course_units"><b><i><a  href="#">SPS1103-Basic Organic Chemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">SPS1104-Human Anatomy</a></i></b></li>
<li class="course_units"><b><i><a  href="#">SPS1105-Basic Mechanics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PSY1101-General Psychology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">Makbit1101-Introduction To Computer And Information Science</a></i></b></li>
<li class="course_units"><b><i><a  href="#">SPS1108-Soccer</a></i></b></li>
<li class="course_units"><b><i><a  href="#">SPS1110-Swimming I (Introduction to Swimming)</a></i></b></li>
{% endblock %}

{% block course_3_courseunit_list_2 %} 
<li class="course_units"><b><i><a  href="#">SPS1201-Introduction to Biochemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">SPS1202-Growth, Development and Skill acquisition</a></i></b></li>
<li class="course_units"><b><i><a  href="#">SPS1203-Human Physiology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">SPS1204-Biomechanics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">SPS1207-Psychology of Sport</a></i></b></li>
<li class="course_units"><b><i><a  href="#">SPS1208-Athletics: Track Events</a></i></b></li>
<li class="course_units"><b><i><a  href="#">SPS1212-Netball</a></i></b></li>
<li class="course_units"><b><i><a  href="#">SPS1213-Swimming II(Water Safety)</a></i></b></li>
{% endblock %}

{% block course_3_courseunit_list_3 %} 
<li class="course_units"><b><i><a  href="#">SPS2102-Physiology of Exercise</a></i></b></li>
<li class="course_units"><b><i><a  href="#">SPS2103-Sports Pedagogy</a></i></b></li>
<li class="course_units"><b><i><a  href="#">SPS2105-Biomechanical Analysis</a></i></b></li>
<li class="course_units"><b><i><a  href="#">SPS2106-Biomedical Implications of Sports</a></i></b></li>
<li class="course_units"><b><i><a  href="#">SPS2101-Sports Management</a></i></b></li>
<li class="course_units"><b><i><a  href="#">SPS2108-Research Methods in Sports and Exercise</a></i></b></li>
<li class="course_units"><b><i><a  href="#">SPS2111-Basketball</a></i></b></li>
<li class="course_units"><b><i><a  href="#">SPS2112-Handball</a></i></b></li>
<li class="course_units"><b><i><a  href="#">SPS2113-Rugby</a></i></b></li>
<li class="course_units"><b><i><a  href="#">SPS2114-Athletics: Field Events</a></i></b></li>
{% endblock %}

{% block course_3_courseunit_list_4 %} 
<li class="course_units"><b><i><a  href="#">GLO2202-Sedimentary Petrology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">GLO2203-Stratigraphy</a></i></b></li>
<li class="course_units"><b><i><a  href="#">GLO2205-Geochemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PGP2201-GIS</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PGP2202-Electromagnetic and Radiometric Methods</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PGP2203-Mathematical Analysis</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PGP2204-Field Geology and Surveying</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PGP2205-Remote Sensing</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PGP2206-Environmental Geology</a></i></b></li>
{% endblock %}

{% block course_3_courseunit_list_5 %} 
<li class="course_units"><b><i><a href="#">PGP3108-Analytical Separation Techniques</a></i></b></li>
<li class="course_units"><b><i><a href="#">GLO3105-Sedimentology</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP3101-Palynology</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP3102-Seismic Data Interpretation</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP3103-Signal Processing</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP3104-Geophysical Data  Acquisition, Processing and interpretation</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP3105-Well Logging</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP3106-Electrical and Paleomagnetic Methods</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP3107-Scientific project proposal and report writin</a></i></b></li>
{% endblock %}

{% block course_3_courseunit_list_6 %} 
<li class="course_units"><b><i><a href="#">GLO3202-Regional Geology of East Africa</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP3201-Petroleum Geochemistry</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP3202-Seminar Presentation</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP3203-Computer Modelling and Design</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP3204-Analysis of Sedimentary Basins</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP3205-Sociology and Ethics in Petroleum</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP3206-Oil and Gas Policy and Environmental Law</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP3207-Differential Equations</a></i></b></li>
<li class="course_units"><b><i><a href="#">PGP3208-Thematic Map Interpretation</a></i></b></li>
{% endblock %}


{% block course_1_year_4 %} {% endblock %}

{% block course_2_year_4 %} {% endblock %}

{% block course_2_year_5 %} {% endblock %}

{% block course_3_year_4 %} {% endblock %}

{% block course_list_4 %} {% endblock %}

