{% extends "./department-template.html" %}

{% block col_title %}
Department of chemistry 
{% endblock %}


{% block sch_title %} SCHOOL OF PHYSICAL SCIENCES {% endblock %}{% block col_acronym %}CoNAS {% endblock %}

{% block dept_name %}Chemistry {% endblock %}

{# ****** 1ST COURSE STARTS HERE****** #}

{% block course1_name %}Bachelor of Science In Chemistry(Major) {% endblock %}

{% block course_1_courseunit_list_1 %}
<li class="course_units"><b><i><a  href="#">CHM1101-Basic Inorganic Chemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM1102-Basic Physical Chemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM1105-Integrated Physical/Inorganic Laboratory</a></i></b></li>
<li class="course_units"><b><i><a  href="#">MTH1101-Calculus I</a></i></b></li>
<li class="course_units"><b><i><a  href="communication skills.html">TEC1101-Communication Skills</a></i></b></li>
{% endblock course_1_courseunit_list_1 %}

{% block course_1_courseunit_list_2 %}
<li class="course_units"><b><i><a  href="#">CHS1205-Basic Organic Chemistry</a></i></b></li>
{% endblock %}

{% block course_1_courseunit_list_3 %}
<li class="course_units"><b><i><a  href ="#">CHM2111-Elements Of Analytical Chemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM2112-Bonding And Periodicity</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM2113-Polyfunctional And Cyclic Aliphatics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM2109-Aromatic Chemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM2114-Natural Products Chemistry</a></i></b></li>
{%endblock %}

{% block course_1_courseunit_list_4 %}
<li class="course_units"><b><i><a  href="#">CHM2220-Transition Metal Chemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM2221-Stereo And Physical Organic Chemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM2213-Electrochemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM2222-Thermodynamics And Kinetics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM2223-Introductory Spectroscopy</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM2224-Inorganic Energetics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM2218-Basic Environmental Chemistry</a></i></b></li>
{%endblock %}

{% block course_1_courseunit_list_5 %}
<li class="course_units"><b><i><a href="#">CHM3128-Organometallic And Bio-inorganic Chemistry</a></i></b></li>
<li class="course_units"><b><i><a href="#">CHM3129-Quantum Chemistry</a></i></b></li>
<li class="course_units"><b><i><a href="#">CHM3122-Colloid Science</a></i></b></li>
<li class="course_units"><b><i><a href="#">CHM3130-Solution And Statistical Thermodynamics</a></i></b></li>
<li class="course_units"><b><i><a href="#">CHM3124-Solid-State And Crystal Chemistry</a></i></b></li>
<li class="course_units"><b><i><a href="#">ICH3130-Inorganic Chemical Technology </a></i></b></li>
<li class="course_units"><b><i><a href="#">CHM3131-Reaction Kinetics</a></i></b></li>
<li class="course_units"><b><i><a href="#">CHM3132-Advanced Spectroscopy</a></i></b></li>
<li class="course_units"><b><i><a href="#">CHM3133-Divalent Species</a></i></b></li>
{% endblock %}


{% block course_1_courseunit_list_6 %}
<li class="course_units"><b><i><a href="#">CHM3236-Advanced Analytical Chemistry</a></i></b></li>
<li class="course_units"><b><i><a href="#">CHM3228-Application Of Group Theory in Chemistry</a></i></b></li>
<li class="course_units"><b><i><a href="#">CHM3237-Pesticides Chemistry</a></i></b></li>
<li class="course_units"><b><i><a href="#">CHM3231-Advanced Physical Chemistry Practicals-</a></i></b></li>
<li class="course_units"><b><i><a href="#">ICH3130-Organic Chemistry</a></i></b></li>
<li class="course_units"><b><i><a href="#">CHM3233-Advanced Inorganic Topics</a></i></b></li>
<li class="course_units"><b><i><a href="#">CHM3234-Advanced Organic Topics</a></i></b></li>
<li class="course_units"><b><i><a href="#">CHM3238-Structure Determination</a></i></b></li>
<li class="course_units"><b><i><a href="#">CHM3232-Polymer Chemistry</a></i></b></li>
{% endblock %}
{# ****** 1ST COURSE ENDS HERE****** #}

{# ****** 2ND COURSE STARTS HERE****** #}

{% block course2_name %}Bachelor of Science In Chemistry(Minor){% endblock %}


{% block course_2_courseunit_list_1 %}
<li class="course_units"><b><i><a  href="#">CHM1101-Basic Inorganic Chemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM1102-Basic Physical Chemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM1105-Integrated Physical/Inorganic Laboratory</a></i></b></li>
<li class="course_units"><b><i><a  href="#">MTH1101-Calculus I</a></i></b></li>
<li class="course_units"><b><i><a  href="communication skills.html">TEC1101-Communication Skills</a></i></b></li>
{% endblock %}
{% block course_2_courseunit_list_2 %}
<li class="course_units"><b><i><a  href="#">CHS1205-Basic Organic Chemistry</a></i></b></li>
{% endblock %}

{% block course_2_courseunit_list_3 %}
<li class="course_units"><b><i><a  href ="#">CHM2111-Elements Of Analytical Chemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM2112-Bonding And Periodicity</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM2113-Polyfunctional And Cyclic Aliphatics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM2109-Aromatic Chemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM2114-Natural Products Chemistry</a></i></b></li>
{% endblock %}
{% block course_2_courseunit_list_4 %}
<li class="course_units"><b><i><a  href="#">CHM2220-Transition Metal Chemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM2221-Stereo And Physical Organic Chemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM2213-Electrochemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM2222-Thermodynamics And Kinetics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM2223-Introductory Spectroscopy</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM2224-Inorganic Energetics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM2218-Basic Environmental Chemistry</a></i></b></li>
{% endblock %}


{% block course_2_courseunit_list_5 %}
<li class="course_units"><b><i><a href="#">CHM3128-Organometallic And Bio-inorganic Chemistry</a></i></b></li>
<li class="course_units"><b><i><a href="#">CHM3129-Quantum Chemistry</a></i></b></li>
<li class="course_units"><b><i><a href="#">CHM3122-Colloid Science</a></i></b></li>
<li class="course_units"><b><i><a href="#">CHM3130-Solution And Statistical Thermodynamics</a></i></b></li>
<li class="course_units"><b><i><a href="#">CHM3124-Solid-State And Crystal Chemistry</a></i></b></li>
<li class="course_units"><b><i><a href="#">ICH3130-Inorganic Chemical Technology </a></i></b></li>
<li class="course_units"><b><i><a href="#">CHM3131-Reaction Kinetics</a></i></b></li>
<li class="course_units"><b><i><a href="#">CHM3132-Advanced Spectroscopy</a></i></b></li>
<li class="course_units"><b><i><a href="#">CHM3133-Divalent Species</a></i></b></li>
{% endblock %}
{% block course_2_courseunit_list_6 %}
<li class="course_units"><b><i><a href="#">CHM3236-Advanced Analytical Chemistry</a></i></b></li>
<li class="course_units"><b><i><a href="#">CHM3228-Application Of Group Theory in Chemistry</a></i></b></li>
<li class="course_units"><b><i><a href="#">CHM3237-Pesticides Chemistry</a></i></b></li>
<li class="course_units"><b><i><a href="#">CHM3231-Advanced Physical Chemistry Practicals-</a></i></b></li>
<li class="course_units"><b><i><a href="#">ICH3130-Organic Chemistry</a></i></b></li>
<li class="course_units"><b><i><a href="#">CHM3233-Advanced Inorganic Topics</a></i></b></li>
<li class="course_units"><b><i><a href="#">CHM3234-Advanced Organic Topics</a></i></b></li>
<li class="course_units"><b><i><a href="#">CHM3238-Structure Determination</a></i></b></li>
<li class="course_units"><b><i><a href="#">CHM3232-Polymer Chemistry</a></i></b></li>
{% endblock %}

{# ****** 2ND COURSE ENDS HERE****** #}


{# ****** 3RD COURSE STARTS HERE****** #}

{% block course3_name %}Bachelor of Science In Industrial Chemistry{% endblock %}


{% block course_3_courseunit_list_1 %}
<li class="course_units"><b><i><a  href="#">ICH1101-Introduction To Computing</a></i></b></li>
<li class="course_units"><b><i><a  href="#">ICH1102-Introduction To Industrial Chemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">ICH1103-Mathematics For Chemical Engineers I</a></i></b></li>
<li class="course_units"><b><i><a  href="#">ICH1104-Industrial Stoichiometry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">ICH1104-FundamentalsOf Electrical Engineering</a></i></b></li>
<li class="course_units"><b><i><a  href="#">ICH1105-Descriptive Geometry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">ICH1106-Basic Inorganic Chemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM1101-BAsic Physical Chemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM1102-Basic Physical/Inorganic practicals </a></i></b></li>
{% endblock %}

{% block course_3_courseunit_list_2 %}
<li class="course_units"><b><i><a  href="#">ICH1206-Fluid Mechanics</a></i></b></li>
<li class="course_units"><b><i><a  href ="#">ICH1207-Heat Transfer</a></i></b></li>
<li class="course_units"><b><i><a  href="#">ICH1208-Basic Industrial Drawing</a></i></b></li>
<li class="course_units"><b><i><a  href="#">ICH1209-Basic Thermodynamics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">MTH1202-Elements Of Statisticsn & Probabilities</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM1205-Basic Organic Chemistry</a></i></b></li>
{% endblock %}


{% block course_3_courseunit_list_3 %}
<li class="course_units"><b><i><a  href="#">ICH2112-Mass Transfer I</a></i></b></li>
<li class="course_units"><b><i><a  href="#">ICH2113-Mathematics For Chemical Engineers II</a></i></b></li>
<li class="course_units"><b><i><a  href="#">ICH2114-Introductory Economics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">ICH2115-Chemical Reaction Engineering</a></i></b></li>
<li class="course_units"><b><i><a  href="#">ICH2116-Energy Technology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">ICH2117-Industrial Management</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM2111-Elements Of Analytical Chemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM2112-Bonding And Periodicity</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM2113-Polyfunctional And Cyclic Aliphatics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM2109-Aromatic Chemistry</a></i></b></li>

{% endblock %}

{% block course_3_courseunit_list_4 %}
<li class="course_units"><b><i><a  href="#">ICH2218-Chemical Engineering Thermodynamics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">ICH2219-Chemial Engineering Economic</a></i></b></li>
<li class="course_units"><b><i><a  href="#">ICH2221-Materials Science</a></i></b></li>
<li class="course_units"><b><i><a  href="#">ICH2222-Industrial Microbiology	</a></i></b></li>
<li class="course_units"><b><i><a  href="#">ICH2223-Unit Operations Laboratory</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM2217-Transition Metal Chemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM2218-Basic Environmental Chemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM2213-Electrochemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM2222-Thermodynamics And Kinetics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CHM2223-Introductory Spectroscopy</a></i></b></li>

{% endblock %}


{% block course_3_courseunit_list_5 %}
<li class="course_units"><b><i><a href="#">ICH3124-Reactor Design</a></i></b></li>
<li class="course_units"><b><i><a href="#">ICH3125-Chemical Plant Design</a></i></b></li>
<li class="course_units"><b><i><a href="#">ICH3126-Seperation Processes</a></i></b></li>
<li class="course_units"><b><i><a href="#">ICH3127-BioTechnology</a></i></b></li>
<li class="course_units"><b><i><a href="#">ICH3128-Mathematics For Chemical Engineers III</a></i></b></li>
<li class="course_units"><b><i><a href="#">ICH3129-Mass Transfer II</a></i></b></li>
<li class="course_units"><b><i><a href="#">CHM3128-Organometallic And Bio-inorganic Chemistry</a></i></b></li>

{% endblock %}

{% block course_3_courseunit_list_6 %}
<li class="course_units"><b><i><a href="#">ICH3230-Process Control And Analysis</a></i></b></li>
<li class="course_units"><b><i><a href="#">ICH3231-Transport Phenomena</a></i></b></li>
<li class="course_units"><b><i><a href="#">ICH3233-Inorganic Chemial Technology</a></i></b></li>
<li class="course_units"><b><i><a href="#">ICH3234-Organic Chemical Technology</a></i></b></li>
<li class="course_units"><b><i><a href="#">ICH3235-Industrial Waste Management</a></i></b></li>
<li class="course_units"><b><i><a href="#">ICH3236-Electrochemical & Electrothermal Processes</a></i></b></li>
<li class="course_units"><b><i><a href="#">ICH3237-Cleaner Production</a></i></b></li>

{% endblock %}

{# ****** 3RD COURSE ENDS HERE****** #}














{% block course_1_year_4 %} {% endblock %}
{% block course_2_year_4 %} {% endblock %}
{% block course_3_year_4 %} {% endblock %}
{% block course_list_4 %}{% endblock %}