{% extends "./department-template.html" %}

{% block col_title %}
Department of Mathematics
{% endblock %}


{% block sch_title %} SCHOOL OF PHYSICAL SCIENCES {% endblock %} {% block col_acronym %}CoNAS {% endblock %}

{% block dept_name %} Mathematics {% endblock %}

{% block course1_name %}Bachelor of Science (Mathematics Major) {% endblock %}

{% block course2_name %}Bachelor of Science (Mathematics Minor){% endblock %}


{% block course_1_courseunit_list_1 %} 
<li class="course_units"><b><i><a  href="#">MTH1101-Calculus I</a></i></b></li>
<li class="course_units"><b><i><a  href="#">MTH1102-Linear Algebra I</a></i></b></li>
<li class="course_units"><b><i><a  href="#">MTH1103-Foundations of Mathematics</a></i></b></li>
<li class="course_units"><b><i><a  href="communication skills.html">CSK1101-Communication Skills</a></i></b></li>
{% endblock %}

{% block course_1_courseunit_list_2 %} 
<li class="course_units"><b><i><a  href="#">MTH1201-Calculus II</a></i></b></li>
<li class="course_units"><b><i><a  href = "#">MTH1202-Elements of Probability and Statistics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">MTH1204-Calculus III</a></i></b></li>
<li class="course_units"><b><i><a  href="#">Development Studies</a></i></b></li>
{% endblock %}

{% block course_1_courseunit_list_3 %} 
<li class="course_units"><b><i><a  href ="#">MTH2106-Computer Methods</a></i></b></li>
{% endblock %}

{% block course_1_courseunit_list_4 %} 
<li class="course_units"><b><i><a  href="#">MTH2201-Abstract Algebra</a></i></b></li>
<li class="course_units"><b><i><a  href="#">MTH2202-Complex Analysis</a></i></b></li>
<li class="course_units"><b><i><a  href="#">MTH2203-Numerical Analysis I</a></i></b></li>
<li class="course_units"><b><i><a  href="#">MTH2205-Linear Programming</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PHY1211-Classical Mechanics I</a></i></b></li>
{% endblock %}

{% block course_1_courseunit_list_5 %} 
<li class="course_units"><b><i><a href="#">MTH3104-Dynamical Systems</a></i></b></li>
<li class="course_units"><b><i><a href="#">MTH3107-Rings and Modules</a></i></b></li>
<li class="course_units"><b><i><a href="#">MTH3102-Numerical Analysis II</a></i></b></li>
<li class="course_units"><b><i><a href="#">MTH3105-Discrete Mathematics</a></i></b></li>
<li class="course_units"><b><i><a href="#">MTH3106-Stochastic Processes</a></i></b></li>
<li class="course_units"><b><i><a href="#">MTH3109-Statistical Inference I</a></i></b></li>
<li class="course_units"><b><i><a href="#">MTH3101-Functional Analysis</a></i></b></li>
<li class="course_units"><b><i><a href="#">MTH3110-General Topology</a></i></b></li>
<li class="course_units"><b><i><a href="#">MTH3111-History of Mathematics</a></i></b></li>
<li class="course_units"><b><i><a href="#"> MTH3112-Mathematical Logic</a></i></b></li>
<li class="course_units"><b><i><a href="#">MTH3113-Introduction to Financial Mathematics</a></i></b></li>
{% endblock %}

{% block course_1_courseunit_list_6 %} 
<li class="course_units"><b><i><a href="#">MTH3201-Real Analysis II</a></i></b></li>
<li class="course_units"><b><i><a href="#">MTH3202-Differential Equations II</a></i></b></li>
<li class="course_units"><b><i><a href="#">MTH3206-Advanced Statistics</a></i></b></li>
<li class="course_units"><b><i><a href="#">MTH3210-Graph Theory</a></i></b></li>
<li class="course_units"><b><i><a href="#">MTH3214-Number Theory</a></i></b></li>
<li class="course_units"><b><i><a href="#">TH3215-Algebraic Topology</a></i></b></li>
<li class="course_units"><b><i><a href="#">TH3216-Biomathematics</a></i></b></li>
<li class="course_units"><b><i><a href="#">MTH3217-Life Insurance Mathematics</a></i></b></li>
<li class="course_units"><b><i><a href="#">PHY2211-Classical Mechanics II</a></i></b></li>
{% endblock %}




{% block course_2_courseunit_list_1 %} 
<li class="course_units"><b><i><a  href="#">MTH1101-Calculus I</a></i></b></li>
<li class="course_units"><b><i><a  href="#">MTH1102-Linear Algebra I</a></i></b></li>
<li class="course_units"><b><i><a  href="#">MTH1103-Foundations of Mathematics</a></i></b></li>
<li class="course_units"><b><i><a  href="communication skills.html">CSK1101-Communication Skills</a></i></b></li>
{% endblock %}

{% block course_2_courseunit_list_2 %} 
<li class="course_units"><b><i><a  href="#">MTH1201-Calculus II</a></i></b></li>
<li class="course_units"><b><i><a  href = "#">MTH1202-Elements of Probability and Statistics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">MTH1204-Calculus III</a></i></b></li>
<li class="course_units"><b><i><a  href="#">Development Studies</a></i></b></li>
{% endblock %}

{% block course_2_courseunit_list_3 %} 
<li class="course_units"><b><i><a  href ="#">MTH2101-Real Analysis I</a></i></b></li>
<li class="course_units"><b><i><a  href="#">MTH2102-Probability Theory</a></i></b></li>
<li class="course_units"><b><i><a  href="#">MTH2103-Differential Equations I</a></i></b></li>
<li class="course_units"><b><i><a  href="#">MTH2104-Linear Algebra II</a></i></b></li>
{% endblock %}

{% block course_2_courseunit_list_4 %} 
<li class="course_units"><b><i><a  href="#">MTH2201-Group theory</a></i></b></li>
<li class="course_units"><b><i><a  href="#">MTH2202-Complex Analysis</a></i></b></li>
<li class="course_units"><b><i><a  href="#">MTH2203-Numerical Analysis I</a></i></b></li>
<li class="course_units"><b><i><a  href="#">MTH2205-Linear Programming</a></i></b></li>
<li class="course_units"><b><i><a  href="#">PHY1211-Classical Mechanics I </a></i></b></li>
{% endblock %}

{% block course_2_courseunit_list_5 %} 
<li class="course_units"><b><i><a href="#">MTH3102-Numerical Analysis II</a></i></b></li>
<li class="course_units"><b><i><a href="#">MTH3104-Dynamical Systems</a></i></b></li>
<li class="course_units"><b><i><a href="#">MTH3107-Rings and Modules</a></i></b></li>
<li class="course_units"><b><i><a href="#">MTH3105-Discrete Mathematics</a></i></b></li>
<li class="course_units"><b><i><a href="#">MTH3106-Stochastic Processes</a></i></b></li>
<li class="course_units"><b><i><a href="#">MTH3109-Statistical Inference I</a></i></b></li>
<li class="course_units"><b><i><a href="#">MTH3110-General Topology</a></i></b></li>
<li class="course_units"><b><i><a href="#">MTH3111-History of Mathematics</a></i></b></li>
<li class="course_units"><b><i><a href="#">MTH3112-Mathematical Logic</a></i></b></li>
<li class="course_units"><b><i><a href="#">MTH3113-Introduction to Financial Mathematics</a></i></b></li>
{% endblock %}

{% block course_2_courseunit_list_6 %} 
<li class="course_units"><b><i><a href="#">MTH3201-Real Analysis II</a></i></b></li>
<li class="course_units"><b><i><a href="#">MTH3202-Differential Equations II</a></i></b></li>
<li class="course_units"><b><i><a href="#">MTH3206-Advanced Statistics</a></i></b></li>
<li class="course_units"><b><i><a href="#">MTH3210-Graph Theory</a></i></b></li>
<li class="course_units"><b><i><a href="#">MTH3214-Number Theory</a></i></b></li>
<li class="course_units"><b><i><a href="#">MTH3215-Algebraic Topology</a></i></b></li>
<li class="course_units"><b><i><a href="#">MTH3216-Biomathematics</a></i></b></li>
<li class="course_units"><b><i><a href="#">MTH3217-Life Insurance Mathematics</a></i></b></li>
<li class="course_units"><b><i><a href="#"> PHY2211-Classical Mechanics IIy</a></i></b></li>
{% endblock %}






{% block course_1_year_4 %} {% endblock %}

{% block course_2_year_4 %} {% endblock %}

{% block course_2_year_5 %} {% endblock %}

{% block course_list_3 %} {% endblock %}

{% block course_list_4 %} {% endblock %}
