{% extends "gpa_elevator/templates/courseunit-template.php" %}


{% block col_title %}
CMP3202-Human Computer Interaction
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/cedat/index">Cedat{% endblock %}
    {% block Course_unit_name %}<a href="http://localhost/cedat/CMP2205">{{ block('coursecode') }} {% endblock %}
{% block courseunit %}CMP3202:Human Computer Interaction {% endblock %}

{% block lectureNotice %} 
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3202-Human_Computer_Interaction/Lecture_notes/Class1-History & Overview.pdf">{{ block('pdf_icon') }}History & Overview</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3202-Human_Computer_Interaction/Lecture_notes/Class2-HCI Design.pdf">{{ block('pdf_icon') }}HCI Design</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3202-Human_Computer_Interaction/Lecture_notes/Slides5-InputOutput.pdf">{{ block('pdf_icon') }}Input Output</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3202-Human_Computer_Interaction/Lecture_notes/Slides6-IntelligentSystems1.pdf">{{ block('pdf_icon') }}Intelligent Systems 01</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3202-Human_Computer_Interaction/Lecture_notes/Slides7-IntelligentSystems2.pdf">{{ block('pdf_icon') }}Intelligent Systems 02</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3202-Human_Computer_Interaction/Lecture_notes/Slides8-Artificial-Intelligence.pdf">{{ block('pdf_icon') }}Artificial Intelligence</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3202-Human_Computer_Interaction/Lecture_notes/Slides9-HpertxtMultimedia&www.pdf">{{ block('pdf_icon') }}Hpertxt,Multimedia & www</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3202-Human_Computer_Interaction/Lecture_notes/Slides10-HCIinSWdev.pdf">{{ block('pdf_icon') }}HCI in SW development</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3202-Human_Computer_Interaction/Lecture_notes/Paper-HCI-State of the art.pdf">{{ block('pdf_icon') }}HCI State of the art</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3202-Human_Computer_Interaction/Lecture_notes/434-Exam1-Solutions.pdf">{{ block('pdf_icon') }}Sample Questions with solutions</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3202-Human_Computer_Interaction/Lecture_notes/midterm.pdf">{{ block('pdf_icon') }}Sample Objective Questions</a></i></b></li>
{% endblock %}
{% block hidden_lecture_notes %}
Other Sources
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3202-Human_Computer_Interaction/Lecture_notes/e3-lect-01.pdf">{{ block('pdf_icon') }}Lecture 1</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3202-Human_Computer_Interaction/Lecture_notes/e3-lect-02.pdf">{{ block('pdf_icon') }}Lecture 2</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3202-Human_Computer_Interaction/Lecture_notes/e3-lect-03.pdf">{{ block('pdf_icon') }}Lecture 3</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3202-Human_Computer_Interaction/Lecture_notes/HCI-LECT5 [Compatibility Mode].pdf">{{ block('pdf_icon') }}Lecture 4</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3202-Human_Computer_Interaction/Lecture_notes/HCI-LECT6-PROTOTYPES.pdf">{{ block('pdf_icon') }}Lecture 5</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3202-Human_Computer_Interaction/Lecture_notes/HCI-LECT7-SHNEIDERMANS PRINIPLE.pdf">{{ block('pdf_icon') }}Lecture 6</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3202-Human_Computer_Interaction/Lecture_notes/HCI-LECT8-HEURISTIC PRINCIPLES.pdf">{{ block('pdf_icon') }}Lecture 7</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3202-Human_Computer_Interaction/Lecture_notes/HCI-LECT9-HEURISTIC EVALUATION.pdf">{{ block('pdf_icon') }}Lecture 8</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3202-Human_Computer_Interaction/Lecture_notes/HCI-LECT10-CONTEXTUAL INQUIRY.pdf">{{ block('pdf_icon') }}Lecture 9</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3202-Human_Computer_Interaction/Lecture_notes/HCI-LECT11-COGNITIVE WALK THROUGH.pdf">{{ block('pdf_icon') }}Lecture 10</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3202-Human_Computer_Interaction/Lecture_notes/LECT12-QUALITATIVE RESEARCH.pdf">{{ block('pdf_icon') }}Lecture 11</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3202-Human_Computer_Interaction/Lecture_notes/LECT13_WEB INTERFACE EVALUATION.pdf">{{ block('pdf_icon') }}Lecture 12</a></i></b></li>
{% endblock %}
{% block coursecode %}CMP3202{% endblock %}

{% block papers_before_14 %}
<li class="pastpaper"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3202-Human_Computer_Interaction/Past_papers/HCI CAT I 2014.pdf">CMP3202-CAT-2014</a></i></b></li>
<li class="pastpaper"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3202-Human_Computer_Interaction/Past_papers/HCI Exam 2014.pdf">CMP3202-Examination-2014</a></i></b></li>

{% endblock  %}
{% block courseunit_link_1 %}<a href="CMP3203" id="other_course_unit-linkbutton" class="link-item btn--pink">CMP3203-Computer System Maintainace {% endblock courseunit_link_1 %} 
{% block courseunit_link_2 %}<a href="CMP3204" id="other_course_unit-linkbutton" class="link-item btn--pink">CMP3204-Distributed Information Systems {% endblock  %} 

    
{% block ref_textbks %}{% endblock  %}
