{% extends "gpa_elevator/templates/courseunit-template.php" %}


{% block col_title %}
CMP3204-Distributed Information Systems
{% endblock %}
{% block coursecode %} CMP3204{% endblock %}
{% block nav_col_name %}<a href="http://localhost/cedat/index">Cedat{% endblock %}
{% block Course_unit_name %}<a href="http://localhost/cedat/CMP3204">{{ block('coursecode') }} {% endblock %}
{% block courseunit %}CMP3204:Distributed Information Systems {% endblock %}

{% block lectureNotice %} 
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3204-Distributed_Information_Systems/Lecture_notes/437-Lecture-1-IntroDistributed.pdf">{{ block('pdf_icon') }}Introduction</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3204-Distributed_Information_Systems/Lecture_notes/437-Lecture-2-Architectures.pdf">{{ block('pdf_icon') }}Architectures</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3204-Distributed_Information_Systems/Lecture_notes/437-Lecture-3-Processes.pdf">{{ block('pdf_icon') }}Processes</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3204-Distributed_Information_Systems/Lecture_notes/437-Lecture-4-MigrationCommunication.pdf">{{ block('pdf_icon') }}Migration Communication</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3204-Distributed_Information_Systems/Lecture_notes/437-Lecture-5-RpcCommunication.pdf">{{ block('pdf_icon') }}Rpc Communication</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3204-Distributed_Information_Systems/Lecture_notes/437-Lecture-6-StreamsEpidemic.pdf">{{ block('pdf_icon') }}Streams Epidemic</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3204-Distributed_Information_Systems/Lecture_notes/437-Lecture-7-Naming.pdf">{{ block('pdf_icon') }}Naming</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3204-Distributed_Information_Systems/Lecture_notes/437-Lecture-8-Naming2Synchronization.pdf">{{ block('pdf_icon') }}Naming 2, Synchronization</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3204-Distributed_Information_Systems/Lecture_notes/437-Lecture-9-VectorMutex.pdf">{{ block('pdf_icon') }}Vector Mutex</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3204-Distributed_Information_Systems/Lecture_notes/437-Lecture-10-PositioningElectionsConits.pdf">{{ block('pdf_icon') }}Positioning Elections Conits</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3204-Distributed_Information_Systems/Lecture_notes/437-Lecture-11-ClientConReplication.pdf">{{ block('pdf_icon') }}Client Consistency and Replication Mechanisms</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3204-Distributed_Information_Systems/Lecture_notes/437-Lecture-12-ConsistencyProtocolsWebServices.pdf">{{ block('pdf_icon') }}Consistency Protocols Web Services</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3204-Distributed_Information_Systems/Lecture_notes/437-Lecture-13-DistributesDatabases2PC.pdf">{{ block('pdf_icon') }}Distributes Databases & Two Phase Commits</a></i></b></li>
{% endblock %}
{% block hidden_lecture_notes %}
Other Sources
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3204-Distributed_Information_Systems/Lecture_notes/Lecture 1.pdf">{{ block('pdf_icon') }}Lecture 1</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3204-Distributed_Information_Systems/Lecture_notes/Lecture 2.pdf">{{ block('pdf_icon') }}Lecture 2</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3204-Distributed_Information_Systems/Lecture_notes/Lecture 3.pdf">{{ block('pdf_icon') }}Lecture 3</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3204-Distributed_Information_Systems/Lecture_notes/Lecture 4.pdf">{{ block('pdf_icon') }}Lecture 4</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3204-Distributed_Information_Systems/Lecture_notes/Lecture 5.pdf">{{ block('pdf_icon') }}Lecture 5</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3204-Distributed_Information_Systems/Lecture_notes/Lecture 6.pdf">{{ block('pdf_icon') }}Lecture 6</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3204-Distributed_Information_Systems/Lecture_notes/MobileDataManagement1.pdf">{{ block('pdf_icon') }}Mobile DataManagemen 01</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3204-Distributed_Information_Systems/Lecture_notes/MobileDataManagement2.pdf">{{ block('pdf_icon') }}Mobile DataManagement 02</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3204-Distributed_Information_Systems/Lecture_notes/P2Ppresentation.pdf">{{ block('pdf_icon') }}P2P systems</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3204-Distributed_Information_Systems/Lecture_notes/distributed-systems.pdf">{{ block('pdf_icon') }}General Notes</a></i></b></li>     
{% endblock %}
{% block ref_textbks %}{% endblock %}

{% block exam_list_4 %}
<li class="pastpaper"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3204-Distributed_Information_Systems/Past_papers/Test.pdf">CMP3204-Continous Assessment Test I</a></i></b></li>
<li class="pastpaper"><b><i><a href="http://localhost/pdf/muk/computer_eng/year3/sem2/CMP3204-Distributed_Information_Systems/Past_papers/Answer sheet test.pdf">CMP3204-Marking Guide CAT 1</a></i></b></li>
<li class="pastpaper"><b><i><a href="http://localhost/erormassage.html">CMP3204-Continous Assessment Test II</a></i></b></li>
<li class="pastpaper"><b><i><a href="http://localhost/erormassage.html">CMP3204-Final Semester Exam</a></i></b></li>
{% endblock %}




{% block courseunit_link_1 %}<a href="CMP3205" id="other_course_unit-linkbutton" class="link-item btn--pink">CMP3205-Intelligent Systems {% endblock courseunit_link_1 %} 
{% block courseunit_link_2 %}<a href="CMP3202" id="other_course_unit-linkbutton" class="link-item btn--pink">CMP3202-Human Computer Interactions {% endblock  %} 

