{% extends "gpa_elevator/templates/courseunit-template.php" %}

{% block col_title %}
CMP3104-Computer Based Medical Systems
{% endblock %}

{% block courseunit %} {{ block('coursecode') }}:Computer Based Medical Systems{% endblock %}
{% block coursecode %}CMP3104{% endblock %}
{% block nav_col_name %}<a href="http://localhost/cedat/index">Cedat{% endblock %}
{% block Course_unit_name %}<a href="http://localhost/cedat/CMP3104">{{ block('coursecode') }} {% endblock %}
{% block courseName %} Bachelor Of Science In Computer Engineering  {% endblock %}
{% block ref_textbks %} {% endblock %}




