{% extends "gpa_elevator/templates/courseunit-template.php" %}


{% block col_title %}
CMP4204-Wireless Technologies
{% endblock %}

{% block courseunit %} CMP4204:Wireless Technologies{% endblock %}
{% block coursecode %}CMP4204{% endblock %}
{% block nav_col_name %}<a href="http://localhost/cedat/index">Cedat{% endblock %}
{% block Course_unit_name %}<a href="http://localhost/cedat/CMP4204">{{ block('coursecode') }} {% endblock %}
{% block courseName %} Bachelor Of Science In Computer Engineering  {% endblock %}
{% block ref_textbks %} {% endblock %}