{% extends "gpa_elevator/templates/courseunit-template.php" %}

{% block col_title %}
CMP4101-Digital Signal Processing
{% endblock %}

{% block courseunit %} {{ block('coursecode') }}:Digital Signal Processing{% endblock %}
{% block coursecode %}CMP4101{% endblock %}
{% block nav_col_name %}<a href="http://localhost/cedat/index">Cedat{% endblock %}
{% block Course_unit_name %}<a href="http://localhost/cedat/CMP4101">{{ block('coursecode') }} {% endblock %}
    {% block courseName %} Bachelor of Science In Computer Engineering{% endblock %}
{% block ref_textbks %} {% endblock %}


{% block courseunit_link_1 %}<a href="CMP4104" id="other_course_unit-linkbutton" class="link-item btn--pink">CMP4104-Digital Image and Video Processing {% endblock courseunit_link_1 %} 
{% block courseunit_link_2 %}<a href="CMP4102" id="other_course_unit-linkbutton" class="link-item btn--lightgreen">CMP4102-Instrumention and Control Engineering{% endblock %} 
                
    