{% extends "gpa_elevator/templates/courseunit-template.php" %}

{% block col_title %}
EMT3105-Engineering Mathematics V
{% endblock %}

{% block courseunit %} {{ block('coursecode') }}:Engineering Mathematics V{% endblock %}
{% block coursecode %}EMT3105{% endblock %}
{% block nav_col_name %}<a href="http://localhost/cedat/index">Cedat{% endblock %}
{% block Course_unit_name %}<a href="http://localhost/cedat/ELE3102">{{ block('coursecode') }} {% endblock %}
    {% block courseName %} Bachelor of Science In Computer, Electrical, Biomedical & Telecommunication engineering{% endblock %}
{% block ref_textbks %} {% endblock %}















