{% extends "gpa_elevator/templates/courseunit-template.php" %}


{% block col_title %}
TEC4201-Entrepreneurship
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/cedat/index">Cedat{% endblock %}
{% block Course_unit_name %}<a href="http://localhost/cedat/TEC4201">{{ block('coursecode') }} {% endblock %}
{% block courseunit %} TEC4201:Entrepreneurship{% endblock %}

{% block courseName %} Bachelor Of Science In computer Engineering  {% endblock %}

{% block lectureNotice %} 
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year4/sem2/TEC4201-Entrepreneurship/Lecture_notes/chapter 01.pdf">{{ block('pdf_icon') }}Introduction</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year4/sem2/TEC4201-Entrepreneurship/Lecture_notes/Lecture2 - Opportunity Recognition Generating Ideas.pdf">{{ block('pdf_icon') }}Opportunity Recognition Generating Ideas</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year4/sem2/TEC4201-Entrepreneurship/Lecture_notes/Lecture3 - feasibility analysis.pdf">{{ block('pdf_icon') }}Feasibility analysis</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year4/sem2/TEC4201-Entrepreneurship/Lecture_notes/Lecture4 - Writing a Business Plan.pdf">{{ block('pdf_icon') }}Writing a Business Plan</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year4/sem2/TEC4201-Entrepreneurship/Lecture_notes/Lecture5 - Industry and Competitor analysis.pdf">{{ block('pdf_icon') }}Industry and Competitor analysis</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year4/sem2/TEC4201-Entrepreneurship/Lecture_notes/Lecture6 Business Model.pdf">{{ block('pdf_icon') }}Business Model</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year4/sem2/TEC4201-Entrepreneurship/Lecture_notes/Lecture7 Ethical and legal foundation.pdf">{{ block('pdf_icon') }}Ethical and legal foundation</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year4/sem2/TEC4201-Entrepreneurship/Lecture_notes/Lecture8 Financial Strength and Viability.pdf">{{ block('pdf_icon') }}Financial Strength and Viability</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year4/sem2/TEC4201-Entrepreneurship/Lecture_notes/Lecture9 Building a new venture team.pdf">{{ block('pdf_icon') }}Building a new venture team</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year4/sem2/TEC4201-Entrepreneurship/Lecture_notes/Lecture10 Getting Financing Or Funding.pdf">{{ block('pdf_icon') }}Getting Financing Or Funding</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year4/sem2/TEC4201-Entrepreneurship/Lecture_notes/Lecture11 Unique Marketing Issues.pdf">{{ block('pdf_icon') }}Unique Marketing Issues</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year4/sem2/TEC4201-Entrepreneurship/Lecture_notes/Lecture12-intellectual property.pdf">{{ block('pdf_icon') }}Intellectual property</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year4/sem2/TEC4201-Entrepreneurship/Lecture_notes/Lecture13.pdf">{{ block('pdf_icon') }}Lecture 13</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year4/sem2/TEC4201-Entrepreneurship/Lecture_notes/Lecture14.pdf">{{ block('pdf_icon') }}Lecture 14</a></i></b></li>
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year4/sem2/TEC4201-Entrepreneurship/Lecture_notes/Lecture15.pdf">{{ block('pdf_icon') }}Lecture 15</a></i></b></li>
{% endblock %}
{% block extra_lecture_notes %}
{% endblock %}
{% block ref_textbks %}
<li class="lecture-notes"><b><i><a href="http://localhost/pdf/muk/computer_eng/year4/sem2/TEC4201-Entrepreneurship/Reference_books/TAXATION HANDBOOK .pdf">{{ block('bk_icon') }}Taxation Handbook</a></i></b></li>
{% endblock %}
{% block coursecode %}TEC4201{% endblock %}

{% block courseunit_link_1 %}<a href="CMP4202" id="other_course_unit-linkbutton" class="link-item btn--pink">CMP4202-VLSI System Design {% endblock courseunit_link_1 %} 
{% block courseunit_link_2 %}<a href="CMP4205" id="other_course_unit-linkbutton" class="link-item btn--pink">CMP4205-Audio & Speech Signal Processing  {% endblock %} 