{% extends "gpa_elevator/templates/college-template.php" %}


{% block col_title %}
College of Business And Management Sciences
{% endblock %}
  {% block nav_col_name %}<a href="http://localhost/Home/cobams">CoBAMS{% endblock %}
    {% block nav_Courseunit %} {% endblock %}
{% block col_name %}COLLEGE OF BUSINESS AND MANAGEMENT SCIENCE (CoBAMS) {% endblock %}

{% block sch1_title %}SCHOOL OF ECONOMICS {% endblock %}

{% block sch2_title %}SCHOOL OF BUSINESS {% endblock %}

{% block sch3_title %}SCHOOL OF STATISTICS AND PLANNING{% endblock %}

{% block dept1_name %}Department of Economic Theory and Analysis {% endblock %}
{% block dept_1_course1_name %}Bachelor of Arts in Economics {% endblock %}

{% block dept_1_course_1_year_4 %}{% endblock %}
{% block dept_1_course_list_2 %}{% endblock %}
{% block dept_1_course_list_3 %}{% endblock %}
{% block dept_1_course_list_4 %}{% endblock %}

{% block dept2_name %}Department of Policy and Development Economics {% endblock %}
{% block dept_2_course1_name %}Bachelor of Arts in Development Economics {% endblock %}

{% block dept_2_course_1_year_4 %}{% endblock %}
{% block dept_2_course_list_2 %}{% endblock %}
{% block dept_2_course_list_3 %}{% endblock %}
{% block dept_2_course_list_4 %}{% endblock %}

{% block sch_1_dept_3 %}{% endblock %}

{% block sch_1_dept_10 %} {% endblock %}

{% block dept4_name %}Department of Marketing and Management{% endblock %}
{% block dept_4_course1_name %}Bachelor of Business Administration {% endblock %}

{% block dept_4_course_1_year_4 %}{% endblock %}
{% block dept_4_course2_name %}Bachelor of Commerce (External) {% endblock %}

{% block dept_4_course_2_year_4 %}{% endblock %}
{% block dept_4_course_2_year_5 %}{% endblock %}
{% block dept_4_course_list_3 %}{% endblock %}
{% block dept_4_course_list_4 %}{% endblock %}

{% block dept5_name %}Department of Finance and Accounting{% endblock %}
{% block dept_5_course1_name %}Bachelor of Science in Accounting {% endblock %}
{% block dept_5_course_1_year_4 %}{% endblock %}

{% block dept_5_course_list_2 %}{% endblock %}
{% block dept_5_course_list_3 %}{% endblock %}
{% block dept_5_course_list_4 %}{% endblock %}

{% block sch_2_dept_3 %}{% endblock %}

{% block dept7_name %}Department of Planning and Applied statistics{% endblock %}
{% block dept_7_course1_name %}Bachelor of Science in Quantitative Economics {% endblock %}
{% block dept_7_course_1_year_4 %}{% endblock %}
{% block dept_7_course2_name %}Bachelor of Business Statistics {% endblock %}
{% block dept_7_course_2_year_4 %}{% endblock %}
{% block dept_7_course_2_year_5 %}{% endblock %}
{% block dept_7_course_list_3 %}{% endblock %}
{% block dept_7_course_list_4 %}{% endblock %}


{% block dept8_name %}Department of Population Studies{% endblock %}
{% block dept_8_course1_name %}Bachelor of Science in Population Studies{% endblock %}
{% block dept_8_course_1_year_4 %}{% endblock %}
{% block dept_8_course2_name %}Diploma in Demography{% endblock %}
{% block dept_8_course_2_year_3 %}{% endblock %}
{% block dept_8_course_2_year_4 %}{% endblock %}
{% block dept_8_course_2_year_5 %}{% endblock %}
{% block dept_8_course_list_3 %}{% endblock %}
{% block dept_8_course_list_4 %}{% endblock %}

{% block dept9_name %}Department of Statistical Methods & Actuarial Sciences{% endblock %}
{% block dept_9_course1_name %}Bachelor of Statistics{% endblock %}
{% block dept_9_course_1_year_4 %}{% endblock %}
{% block dept_9_course2_name %}Bachelor Of Science in Actuarial Sciences {% endblock %}
{% block dept_9_course_2_year_4 %}{% endblock %}
{% block dept_9_course_2_year_5 %}{% endblock %}
{% block dept_9_course_list_3 %}{% endblock %}
{% block dept_9_course_list_4 %}{% endblock %}


{% block stylesheets %}
<link rel="dns-prefetch" href="https://fonts.googleapis.com/">
<link href="https://pagecdn.io/lib/easyfonts/fonts.css" rel="stylesheet" />
<link rel="dns-prefetch" href="https://s.w.org/">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/owl.carousel.css">
<link rel="stylesheet" href="../../css/owl.theme.default.css">
<link rel="stylesheet" href="../../css/all.css">
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/navigation.css">
<link rel="stylesheet" href="../../css/form.css">
<link rel="stylesheet" href="../../css/main.css">
{% endblock %}   
{% block js_links %}
  <script type="text/javascript" src="../../js/jquery-3.4.1.min.js"></script>
  <link rel="stylesheet" id="msnb_notice_style-css" href="../../css/msnb_style.css" type="text/css" media="all">
  <script type="text/javascript" src="../../js/popper.min.js"></script>
  <script type="text/javascript" src="../../js/all.js"></script>
  <link rel="stylesheet" href="../../css/academicons.min.css">
  <link rel="stylesheet" href="../../css/media-queries.css">
  <link rel="stylesheet" href="../../css/theme-utils.css">
  <script type="text/javascript" src="../../js/elevator.js"></script>
  <script type="text/javascript" src="../../js/owl.carousel.js"></script>
  <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
{% endblock %}

