
{% extends "gpa_elevator/templates/college-template.php" %}
{% block col_title %}
ISBAT University
{% endblock %}
{% block nav_col_name %} <a href="#"> Faculties and Courses{% endblock %}
{% block nav_Courseunit %}  {% endblock %}

{% block uni_title %}ISBAT{% endblock %}

{% block university_name %}ISBAT UNIVERSITY {% endblock %}

{% block col_name %} {% endblock %}

{% block sch1_title %} FACULTY OF INFORMATION & COMMUNICATION TECHNOLOGY{% endblock %}

{% block dept1_name %}{% endblock %}

{% block dept_1_course1_name %}Bachelor Of Science In Multimedia & Animations {% endblock %}
{% block dept_1_course_1_year_4 %}{% endblock %}
{% block dept_1_course2_name %}Bachelor Of Science In Networking & Cyber Security {% endblock %}
{% block dept_1_course_2_year_4 %}{% endblock %}
{% block dept_1_course_2_year_5 %}{% endblock %}
{% block dept_1_course3_name %}Diploma In Information Technology {% endblock %}
{% block dept_1_course_3_year_3 %}{% endblock %}
{% block dept_1_course_3_year_4 %}{% endblock %}
{% block dept_1_course4_name %}Diploma In Hardware And Networking  {% endblock %}
{% block dept_1_course_4_year_3 %}{% endblock %}
{% block dept_1_course_4_year_4 %}{% endblock %}

{% block sch_1_dept_2 %} {% endblock %}
{% block sch_1_dept_3 %} {% endblock %}
{% block sch_1_dept_10 %} {% endblock %}

{% block sch2_title %} FACULTY OF BUSINESS & COMMERCE {% endblock %}
{% block dept4_name %}{% endblock %}
{% block dept_4_course1_name %}Bachelor Of Business Administration In International Business{% endblock %}
{% block dept_4_course2_name %} Bachelor Of Business Administration In International Marketing {% endblock %}
{% block dept_4_course3_name %}Bachelor Of Commerce{% endblock %}
{% block dept_4_course4_name %}Bachelor Of Science In Applied Accounting{% endblock %}
{% block dept_5_course1_name %}Bachelor Of Hotel Management{% endblock %}
{% block dept_5_course2_name %}Bachelor Of Human Resource Management{% endblock %}
{% block dept_5_course3_name %}Bachelor Of Science In Applied Economics {% endblock %}
{% block dept_5_course4_name %}Bachelor Of Hospitality And Tourism Managment {% endblock %}

{% block dept_6 %} {% endblock %}
{% block sch_2_dept_3 %} {% endblock %}

{% block sch3_title %}FACULTY OF ENGINEERING{% endblock %}

{% block dept7_name %}{% endblock %}

{% block dept_7_course1_name %}Bachelor Of Science In Computer Engineering  {% endblock %}
{% block dept_7_course2_name %}Bachelor Of Science In Applied Information Technology {% endblock %}
{% block dept_7_course3_name %}Bachelor Of Engineering In Electronics & Communication {% endblock %}

{% block dept_7_course_list_4 %} {% endblock %}
{% block sch_3_dept_2 %} {% endblock %}
{% block sch_3_dept_3 %} {% endblock %}


{% block quick_link_img %}<img id="university_links-img" src="../../img/isabat-logo.jpg" alt="ISBAT University Logo">{% endblock %}


{% block quick_links %} 
<li class="link-item" id="link-item-first-child"><a href="index.html">Gpa Elevator Home Page</a></li>
<li class="link-item"><a href="https://isbatuniversity.ac.ug/" target="_blank">ISBAT Website</a></li>
<li class="link-item"><a href="https://isbatuniversity.ac.ug/news-events" target="_blank">News & Events</a></li>
<li class="link-item"><a href="http://virtual.isbat.ac.ug/" target="_blank">e-Learning</a></li>
<li class="link-item"><a href="https://isbatuniversity.ac.ug/life-at-isbat/life" target="_blank">Life At ISBAT</a></li>
{% endblock %}  
