{% extends "gpa_elevator/templates/college-template.php" %}

{% block col_title %}
Faculty Of Commerce
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/mubs/Faculty_of_Commerce">{{ block('col_title') }}{% endblock %}
{% block nav_Courseunit %} {% endblock %}
{% block uni_title %}Mubs{% endblock %}


{% block university_name %}MAKERERE UNIVERSITY BUSINESS SCHOOL {% endblock %}

{% block col_name %} FACULTY OF COMMERCE{% endblock %}
{% block sch1_title_box %}{% endblock %}

{% block dept1_name %} Department of Accounting {% endblock %}
{% block dept_1_course1_name %} Bachelor of Science in Accounting{% endblock %}
{% block dept_1_course_1_year_4 %}{% endblock %}
{% block dept_1_course_list_2 %} {% endblock %}
{% block dept_1_course_list_3 %} {% endblock %}
{% block dept_1_course_list_4 %} {% endblock %}



{% block dept2_name %}Department of Finance {% endblock %}
{% block dept_2_course1_name %}Bachelor of Commerce{% endblock %}
{% block dept_2_course_1_courseunit_list_1 %}
<li class="course_units"><b><i><a  href="#">COM1101-Fundamental Accounting Principles</a></i></b></li>
<li class="course_units"><b><i><a href="#"> COM1102-Business Law I</a></i></b></li>
<li class="course_units"><b><i><a  href="#">COM1103-Economics I</a></i></b></li>
<li class="course_units"><b><i><a  href="#">COM1104-Principles of Economics</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM1105-Business Communication Skill</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM1112-Business Administration</a></i></b></li>
{% endblock %}
{% block dept_2_course_1_courseunit_list_2 %}
<li class="course_units"><b><i><a  href="#">COM1206-Quantitative Methods I</a></i></b></li>
<li class="course_units"><b><i><a  href ="#">COM1207-Organizational Theory</a></i></b></li>
<li class="course_units"><b><i><a  href="#">COM1208-Business Administration</a></i></b></li>
<li class="course_units"><b><i><a  href="#">COM1209-Information Technology I</a></i></b></li>
<li class="course_units"><b><i><a  href="#">COM1210-Principles of Purchasing & Supplies Management</a></i></b></li>
<li class="course_units"><b><i><a  href="#">COM1211-Information Communication Technology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">COM1212-Quantitative Methods II</a></i></b></li>
<li class="course_units"><b><i><a  href="#">MRk1210-Principles of Purchasing & Supplies Mgt</a></i></b></li>
<li class="course_units"><b><i><a  href="#">MRk1212-Quantitative Methods II</a></i></b></li>
<li class="course_units"><b><i><a  href="#">COM1207-Organizational Theory</a></i></b></li>
<li class="course_units"><b><i><a  href="#">COM1208-Business Administration</a></i></b></li>
<li class="course_units"><b><i><a  href="#">COM1209-Information Technology I</a></i></b></li>
<li class="course_units"><b><i><a  href="#">COM1210-Principles of Purchasing & Supplies Management</a></i></b></li>
{% endblock %}
{% block dept_2_course_1_courseunit_list_3 %}
<li class="course_units"><b><i><a  href="#">COM2102-Business Statistics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">COM2104-Managerial Economics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">COM2112-Principles of Marketing</a></i></b></li>
<li class="course_units"><b><i><a  href="#">COM2101-Intermediate Accounting</a></i></b></li>
<li class="course_units"><b><i><a  href="#">COM2105-Business Law II</a></i></b></li>
<li class="course_units"><b><i><a  href="#">COM2106-Management Accounting</a></i></b></li>
<li class="course_units"><b><i><a  href="#">COM2103-Economics II</a></i></b></li>
<li class="course_units"><b><i><a  href="#">COM2119-Information Communication Technology I</a></i></b></li>
{% endblock %}
{% block dept_2_course_1_courseunit_list_4 %}
<li class="course_units"><b><i><a  href="#">COM2208-Information Technology II</a></i></b></li>
<li class="course_units"><b><i><a  href="#">COM2215-Financial Management</a></i></b></li>
<li class="course_units"><b><i><a  href="#">COM2214-Public Sector Structure</a></i></b></li>
<li class="course_units"><b><i><a  href="#">COM2216-Elements of Production Mgt</a></i></b></li>
<li class="course_units"><b><i><a  href="#">COM2205-Business Law II</a></i></b></li>
<li class="course_units"><b><i><a  href="#">COM2212-Principles of Marketing</a></i></b></li>
<li class="course_units"><b><i><a  href="#">COM2206-Management Accounting</a></i></b></li>
<li class="course_units"><b><i><a  href="#">COM2219-Quantitative Methods II</a></i></b></li>
<li class="course_units"><b><i><a  href="#">COM2217-Research Methods</a></i></b></li>

{% endblock %}
{% block dept_2_course_1_courseunit_list_5 %}
<li class="course_units"><b><i><a href="#">COM3135-E-Business and Web Design</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3101-Elements of Taxation</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3102-Human Resource Management</a></i></b></li>
<li class="course_units"><b><i><a href="#">MgT3105-Entrepreneurship Development</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3108-Advanced Accounting</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3109-Auditing</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3125-Law relating to Financial Institution</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3126-Management of Financial Institutions</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3112-Principles of Insurance</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3113-Marketing Channels</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3114-Marketing Research</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3115-Procurement and Supplies Law</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3116-Supply Chain Operations & Structure</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3117-Inventory and Store Management</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3106-Public Finance & Taxation</a></i></b></li>
<li class="course_units"><b><i><a href="#">LHM2224-Business kiswahili II</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3107-The Local govt Finance Law</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3130-Inferential stat. for decision making</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3131-Business Software programming</a></i></b></li>
<li class="course_units"><b><i><a href="#">BUC3104-Information Technology III</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3105-Information Communication Technology III</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3136-Monetary Policy & Portfolio Analysis</a></i></b></li>
{% endblock %}
{% block dept_2_course_1_courseunit_list_6 %}
<li class="course_units"><b><i><a href="#">COM3106-Management of Financial Institutions</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3218-Strategic Management</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3253-Ugandan Econ & Regional Integration</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3234-Business Ethics </a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3205-Information Communication Technology III</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3219-Income Tax </a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3216-Supply Chain Operations & Structure</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3233-Cost & Management Accounting</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3235-Monetary Policy & Portfolio Analysis</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3226-Wages and Salary Administration</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3227-Industrial Relations</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3228-Industrial Psychology</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3231-Actuarial Math </a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3232-Life Insurance</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3223-International Marketing</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3224-Sales Force Management</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3229-Public Sector Accounting</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3230-Public sector Project Management </a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3233-Cost & Management Accounting</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3234-Inventory & Stores Management</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3236-Finance for International Business</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3241-Advanced Human Resource Management</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3253-Uganda Economy</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3270-Supply Organization & structures</a></i></b></li>
<li class="course_units"><b><i><a href="#">COM3272-Econometrics</a></i></b></li>
<li class="course_units"><b><i><a href="#">COx3102-Financial Management</a></i></b></li>
<li class="course_units"><b><i><a href="#">COx4104-Information Technology III</a></i></b></li>
<li class="course_units"><b><i><a href="#">COx4109-Wages and Salary Administration</a></i></b></li>
{% endblock %}
{% block dept_2_course_1_year_4 %}{% endblock %}

{% block dept_2_course2_name %}Bachelor of Science in Finance{% endblock %}
{% block dept_2_course_2_year_4 %}{% endblock %}
{% block dept_2_course_list_3 %} {% endblock %}
{% block dept_2_course_list_4 %} {% endblock %}


{% block dept3_name %} Department of Law and Economics {% endblock %}
{% block dept_3_course1_name %}Bachelor of Arts in Economic{% endblock %}
{% block dept_3_course_1_year_4 %}{% endblock %}
{% block dept_3_course2_name %}Bachelor of Real Estate and Business Management{% endblock %}
{% block dept_3_course_2_year_4 %}{% endblock %}
{% block dept_3_course_2_year_5 %}{% endblock %}

{% block dept_3_course_list_3 %} {% endblock %}
{% block dept_3_course_list_4 %} {% endblock %}


{% block sch2_title_box %}{% endblock %}
{% block col_sch_2 %}{% endblock %}
{% block col_sch_3 %}{% endblock %}
{% block sch_1_dept_10 %}{% endblock %}


{% block quick_link_img %}<img id="university_links-img" src="../../img/mubs-logo.png" alt="Makerere University Business School Logo">{% endblock %}

