{% extends "gpa_elevator/templates/college-template.php" %}

{% block col_title %}
School Of law 
{% endblock %}
  {% block nav_col_name %}<a href="http://localhost/Home/schlaw">School of Law{% endblock %}
    {% block nav_Courseunit %} {% endblock %}
{% block sch1_title_box %} {% endblock %}
{% block dept1_name %}{% endblock %}
{% block col_name %} SCHOOL OF LAW {% endblock %}

{% block dept_1_course_list_1 %}
<li>
    <h4 class ="course_name" aria-expanded="false"><b>{% block dept_1_course1_name %} BACHELOR OF LAWS (LLB) {% endblock %}</b></h4> 
       <ul id="dept_1_course1">
         {% block dept_1_course_1_year_1 %}
         <li class="std-yr"><b><i>YEAR ONE</i></b>
               <ul>
                 <li>
               <strong><b class="sem"><i>SEMESTER ONE</i></b></strong>
               <ul>
                {% block dept_1_course_1_courseunit_list_1 %}
                <li class="course_units"><b><i><a  href="#">LAW1106-Introducing Law</a></i></b></li>
                <li class="course_units"><b><i><a href="#">LAW1107-Development Studies</a></i></b></li>
                <li class="course_units"><b><i><a  href="#">LAW1108-Fundamentals of Criminal Law</a></i></b></li>
                <li class="course_units"><b><i><a  href="#">LAW1109-Law of Contracts I</a></i></b></li>
                <li class="course_units"><b><i><a href="#">LAW1110-Principles of Constitutional Law I</a></i></b></li>
                {% endblock %}
               </ul>
             </li>
         <li>
             <b class="sem"><i>SEMESTER TWO</i></b>
             <ul>
                {% block dept_1_course_1_courseunit_list_2 %}
                <li class="course_units"><b><i><a  href="#">LAW1206-Legal Methods</a></i></b></li>
                <li class="course_units"><b><i><a  href ="#">LAW1207-Administrative Law I</a></i></b></li>
                <li class="course_units"><b><i><a  href="#">LAW1208-Criminal Liability</a></i></b></li>
                <li class="course_units"><b><i><a  href="#">LAW1209-Law of Contracts II</a></i></b></li>
                <li class="course_units"><b><i><a  href="#">LAW1210-Principles of Constitutional Law II</a></i></b></li>
                {% endblock %}
               </ul>
           </li>
           </ul>
         </li>
         {% endblock dept_1_course_1_year_1 %}

         {% block dept_1_course_1_year_2 %}
         <li class="std-yr"><b><i>YEAR TWO</i></b>
   <ul>
       <li>
           <b class="sem"><i>SEMESTER ONE</i></b>
             <ul>
                {% block dept_1_course_1_courseunit_list_3 %}
                <li class="course_units"><b><i><a  href="#">LAW2106-Nature and History of Torts</a></i></b></li>
                <li class="course_units"><b><i><a  href="#">LAW2107-Administrative Law II</a></i></b></li>
                <li class="course_units"><b><i><a  href="#">LAW2108-Equity and Trusts</a></i></b></li>
                <li class="course_units"><b><i><a  href="#">LAW2109-Law of Evidence I</a></i></b></li>
                <li class="course_units"><b><i><a  href="#">LAW2110-Foundations of Land Law</a></i></b></li>
                {% endblock %}
             </ul>
       </li>
         <li>
           <b class="sem"><i>SEMESTER TWO</i></b>
             <ul>
                {% block dept_1_course_1_courseunit_list_4 %}
                <li class="course_units"><b><i><a  href="#">LAW2207-Negligence, Strict Liability and Procedure in Torts</a></i></b></li>
                <li class="course_units"><b><i><a  href="#">LAW2208-Social Research Methods</a></i></b></li>
                <li class="course_units"><b><i><a  href="#">LAW2209-Family Law I</a></i></b></li>
                <li class="course_units"><b><i><a  href="#">LAW2210-Law of Evidence II</a></i></b></li>
                <li class="course_units"><b><i><a  href="#">LAW2211-Land Transactions</a></i></b></li>
                {% endblock %}
             </ul>
         </li>
   </ul>
         </li>
         {% endblock dept_1_course_1_year_2 %}

         {% block dept_1_course_1_year_3 %}
         <li class="std-yr"><b><i>YEAR THREE</i></b>
   <ul>
     <li>
       <b class="sem"><i>SEMESTER ONE</i></b>
           <ul>
            {% block dept_1_course_1_courseunit_list_5 %}
            <li class="course_units"><b><i><a href="#">LAW3108-Jurisprudence I</a></i></b></li>
            <li class="course_units"><b><i><a href="#">LAW3109-Family Law II</a></i></b></li>
            <li class="course_units"><b><i><a href="#">LAW3110-Law of Sale of Goods and Hire Purchase</a></i></b></li>
            <li class="course_units"><b><i><a href="#">LAW3111-Conflict of Laws </a></i></b></li>
            <li class="course_units"><b><i><a href="#">LAW3112-Principles of International Law I</a></i></b></li>
            <li class="course_units"><b><i><a href="#">LAW3113-Banking and Negotiable Instruments</a></i></b></li>
            <li class="course_units"><b><i><a href="#">LAW3114-International and Regional Human Rights</a></i></b></li>
            {% endblock %}
           </ul>
     </li>
     <li>
         <b class="sem"><i>SEMESTER TWO</i></b>
           <ul>
            {% block dept_1_course_1_courseunit_list_6 %}
            <li class="course_units"><b><i><a href="#">LAW3209-Jurisprudence II</a></i></b></li>
            <li class="course_units"><b><i><a href="#">LAW3210-Criminal Procedure</a></i></b></li>
            <li class="course_units"><b><i><a href="#">LAW3211-Law of Business Associations I </a></i></b></li>
            <li class="course_units"><b><i><a href="#">LAW3212-Environmental Law and Policy </a></i></b></li>
            <li class="course_units"><b><i><a href="#">LAW3213-Principles of International Law II </a></i></b></li>
            <li class="course_units"><b><i><a href="#">LAW3214-Human Rights in the Domestic Perspective </a></i></b></li>
            <li class="course_units"><b><i><a href="#">LAW3215-Consumer Law and Protection</a></i></b></li>
            {% endblock %}
           </ul>
    </li>
 </ul>
         </li>
         {% endblock dept_1_course_1_year_3 %}
         {% block dept_1_course_1_year_4 %}
         <li class="std-yr"><b><i>YEAR FOUR</i></b>
   <ul>
     <li>
       <b class="sem"><i>SEMESTER ONE</i></b>
           <ul>
            {% block dept_1_course_1_courseunit_list_7 %}
            <li class="course_units"><b><i><a href="#">CMP4201-Research Project</a></i></b></li>
            <li class="course_units"><b><i><a href="#">CMP4202-VLSI Systems Design</a></i></b></li>
            <li class="course_units"><b><i><a href="#">CMP4204-Wireless Technologies</a></i></b></li>
            <li class="course_units"><b><i><a href="#">CMP4205-Audio and Speech Signal Processing</a></i></b></li>
            <li class="course_units"><b><i><a href="#">ELE4201-Project </a></i></b></li>
            <li class="course_units"><b><i><a href="#">TEC4201-Entrepreneurship </a></i></b></li>
          {% endblock %}
           </ul>
     </li>
     <li>
         <b class="sem"><i>SEMESTER TWO</i></b>
           <ul>
            {% block dept_1_course_1_courseunit_list_8 %}
            <li class="course_units"><b><i><a href="#">LAW4118-Insurance Law</a></i></b></li>
            <li class="course_units"><b><i><a href="#">LAW4213-Research Paper</a></i></b></li>
            <li class="course_units"><b><i><a href="#">LAW4214-Estate Planning</a></i></b></li>
            <li class="course_units"><b><i><a href="#">LAW4215-Revenue Law and Taxation II</a></i></b></li>
            <li class="course_units"><b><i><a href="#">LAW4216-Gender and the Law</a></i></b></li>
            <li class="course_units"><b><i><a href="#">LAW4217-Criminology and Penology</a></i></b></li>
            <li class="course_units"><b><i><a href="#">LAW4218-Hire Purchase and Bankruptcy</a></i></b></li>
            <li class="course_units"><b><i><a href="#">LAW4219-Computers and the Law</a></i></b></li>
            <li class="course_units"><b><i><a href="#">LAW4220-Intellectual Property Law II</a></i></b></li>
            <li class="course_units"><b><i><a href="#">LAW4221-Labour Law II</a></i></b></li>
            <li class="course_units"><b><i><a href="#">LAW4222-Health and the Law II</a></i></b></li>
            {% endblock %}
           </ul>
    </li>
 </ul>
         </li>
         {% endblock dept_1_course_1_year_4 %}
       </ul>
</li>
{% endblock %}

{% block paraguide %}Just select the year which you want to visit and then select that particular course unit to get access to all papers and lecture notes{% endblock %}



{% block dept_1_course_list_2 %}{% endblock %}
{% block dept_1_course_list_3 %}{% endblock %}
{% block dept_1_course_list_4 %}{% endblock %}
{% block sch_1_dept_2 %}{% endblock %}
{% block sch_1_dept_3 %}{% endblock %}
{% block sch_1_dept_10 %}{% endblock %}
{% block col_sch_2 %} {% endblock %}
{% block col_sch_3 %} {% endblock %}

{% block stylesheets %}
<link rel="dns-prefetch" href="https://fonts.googleapis.com/">
<link href="https://pagecdn.io/lib/easyfonts/fonts.css" rel="stylesheet" />
<link rel="dns-prefetch" href="https://s.w.org/">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/owl.carousel.css">
<link rel="stylesheet" href="../../css/owl.theme.default.css">
<link rel="stylesheet" href="../../css/all.css">
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/navigation.css">
<link rel="stylesheet" href="../../css/form.css">
<link rel="stylesheet" href="../../css/main.css">
{% endblock %}   
{% block js_links %}
  <script type="text/javascript" src="../../js/jquery-3.4.1.min.js"></script>
  <link rel="stylesheet" id="msnb_notice_style-css" href="../../css/msnb_style.css" type="text/css" media="all">
  <script type="text/javascript" src="../../js/popper.min.js"></script>
  <script type="text/javascript" src="../../js/all.js"></script>
  <link rel="stylesheet" href="../../css/academicons.min.css">
  <link rel="stylesheet" href="../../css/media-queries.css">
  <link rel="stylesheet" href="../../css/theme-utils.css">
  <script type="text/javascript" src="../../js/elevator.js"></script>
  <script type="text/javascript" src="../../js/owl.carousel.js"></script>
  <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
{% endblock %}

