{% extends "gpa_elevator/templates/courseunit-template.php" %}

{% block col_title %}
MEC1204-Mechanics of Materials
{% endblock %}

{% block nav_col_name %}<a href="http://localhost/cedat/index">Cedat{% endblock %}
{% block Course_unit_name %}<a href="http://localhost/cedat/MEC1204">{{ block('coursecode') }} {% endblock %}

{% block courseunit %}{{ block('coursecode') }}:Mechanics of Materials{% endblock %}
{% block coursecode %}MEC1204{% endblock %}
{% block courseName %} Bachelor Of Science In Mechanical Engineering  {% endblock %}

{% block ref_textbks %} {% endblock %}

{% block courseunit_link_1 %} <a href="http://localhost/cedat/EMT1201" id="other_course_unit-linkbutton" class="link-item btn--pink">EMT1201-Engineering Mathematics II{% endblock courseunit_link_1 %}
{% block courseunit_link_2 %} <a href="http://localhost/cedat/EMT1204" class="link-item btn--lightgreen" id="other_course_unit-linkbutton">EMT1204-Information Communication Technology {% endblock courseunit_link_2 %}
