{% extends "gpa_elevator/templates/courseunit-template.php" %}

{% block col_title %}
MEC1202-Engineering Mechanics II
{% endblock %}

{% block nav_col_name %}<a href="http://localhost/cedat/index">Cedat{% endblock %}
{% block Course_unit_name %}<a href="http://localhost/cedat/MEC1202">{{ block('coursecode') }} {% endblock %}

{% block courseunit %}{{ block('coursecode') }}:Engineering Mechanics II{% endblock %}
{% block coursecode %}MEC1202{% endblock %}
{% block courseName %} Bachelor Of Science In Mechanical Engineering  {% endblock %}

{% block ref_textbks %} {% endblock %}

{% block courseunit_link_1 %} <a href="http://localhost/cedat/MEC1203" id="other_course_unit-linkbutton" class="link-item btn--pink">MEC1203- Thermodynamics{% endblock courseunit_link_1 %}
{% block courseunit_link_2 %} <a href="http://localhost/cedat/MEC1204" class="link-item btn--lightgreen" id="other_course_unit-linkbutton">MEC1204-Mechanics of Materials {% endblock courseunit_link_2 %}
