{% extends "gpa_elevator/templates/courseunit-template.php" %}

{% block col_title %}
MEC3202-Production Engineering II
{% endblock %}

{% block nav_col_name %}<a href="http://localhost/cedat/index">Cedat{% endblock %}
{% block Course_unit_name %}<a href="http://localhost/cedat/MEC3202">{{ block('coursecode') }} {% endblock %}

{% block courseunit %}{{ block('coursecode') }}:Production Engineering II{% endblock %}
{% block coursecode %}MEC3202{% endblock %}
{% block courseName %} Bachelor Of Science In Mechanical Engineering  {% endblock %}

{% block ref_textbks %} {% endblock %}

{% block courseunit_link_1 %} <a href="http://localhost/cedat/MEC3203" id="other_course_unit-linkbutton" class="link-item btn--pink">MEC3203-Product Design & Development{% endblock courseunit_link_1 %}
{% block courseunit_link_2 %} <a href="http://localhost/cedat/MEC3204" class="link-item btn--lightgreen" id="other_course_unit-linkbutton">MEC3204-Heat Transfer {% endblock courseunit_link_2 %}
    