{% extends "gpa_elevator/templates/courseunit-template.php" %}

{% block col_title %}
MEC3205-Control System Engineering
{% endblock %}

{% block nav_col_name %}<a href="http://localhost/cedat/index">Cedat{% endblock %}
{% block Course_unit_name %}<a href="http://localhost/cedat/MEC3205">{{ block('coursecode') }} {% endblock %}

{% block courseunit %}{{ block('coursecode') }}:Control System Engineering{% endblock %}
{% block coursecode %}MEC3205{% endblock %}
{% block courseName %} Bachelor Of Science In Mechanical Engineering  {% endblock %}

{% block ref_textbks %} {% endblock %}

{% block courseunit_link_1 %} <a href="http://localhost/cedat/MEC3201" id="other_course_unit-linkbutton" class="link-item btn--pink">MEC3201-Maintainance Engineering{% endblock courseunit_link_1 %}
{% block courseunit_link_2 %} <a href="http://localhost/cedat/MEC3202" class="link-item btn--lightgreen" id="other_course_unit-linkbutton">MEC3202-Production Engineering II {% endblock courseunit_link_2 %}
       