{% extends "gpa_elevator/templates/courseunit-template.php" %}

{% block col_title %}
MEC4202-Environmental Engineering
{% endblock %}

{% block nav_col_name %}<a href="http://localhost/cedat/index">Cedat{% endblock %}
{% block Course_unit_name %}<a href="http://localhost/cedat/MEC4202">{{ block('coursecode') }} {% endblock %}

{% block courseunit %}{{ block('coursecode') }}:Environmental Engineering{% endblock %}
{% block coursecode %}MEC4202{% endblock %}
{% block courseName %} Bachelor Of Science In Mechanical Engineering  {% endblock %}

{% block ref_textbks %} {% endblock %}

{% block courseunit_link_1 %} <a href="http://localhost/cedat/MEC4204" id="other_course_unit-linkbutton" class="link-item btn--pink">MEC4204-Mechanical Engineering Project II{% endblock courseunit_link_1 %}
{% block courseunit_link_2 %} <a href="http://localhost/cedat/MEC4205" class="link-item btn--lightgreen" id="other_course_unit-linkbutton">MEC4205-Air Conditioning and Refrigeration {% endblock courseunit_link_2 %}
          