{% extends "gpa_elevator/templates/college-template.php" %}

{% block col_title %}
Faculty of Computing and Informatics
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/mubs/Faculty_Of_Computing_and_Informatics">{{ block('col_title') }}{% endblock %}
{% block nav_Courseunit %} {% endblock %}
{% block uni_title %}Mubs{% endblock %}

{% block university_name %}MAKERERE UNIVERSITY BUSINESS SCHOOL {% endblock %}

{% block col_name %} FACULTY OF COMPUTING AND INFORMATICS {% endblock %}
{% block sch1_title_box %}{% endblock %}

{% block dept1_name %}Department of Applied Computting & Information Technology {% endblock %}
{% block dept_1_course1_name %} Bachelor of Business Computing (BBC) {% endblock %}
{% block dept_1_course_1_year_4 %}{% endblock %}
{% block dept_1_course2_name %}Bachelor of Office and Information Management (BOIM) {% endblock %}
{% block dept_1_course_2_year_4 %}{% endblock %}
{% block dept_1_course_2_year_5 %}{% endblock %}
{% block dept_1_course3_name %}Postgraduate Diploma in Business Computing {% endblock %}
{% block dept_1_course_3_year_3 %}{% endblock %}
{% block dept_1_course_3_year_4 %}{% endblock %}
{% block dept_1_course4_name %}Post graduate Diploma in E-commerce and Web design {% endblock %}
{% block dept_1_course_4_year_3 %}{% endblock %}
{% block dept_1_course_4_year_4 %}{% endblock %}
{% block dept_2 %}{% endblock %}
{% block dept_2_course1_name %} Post Graduate Diploma in ICT Policy and Regulation {% endblock %}
{% block dept_2_course_1_year_3 %}{% endblock %}
{% block dept_2_course_1_year_4 %}{% endblock %}
{% block dept_2_course2_name %}Diploma in Business Computing (DBC) {% endblock %}
{% block dept_2_course_2_year_3 %}{% endblock %}
{% block dept_2_course_2_year_4 %}{% endblock %}
{% block dept_2_course_2_year_5 %}{% endblock %}
{% block dept_2_course3_name %}Diploma in Computer Science (DCS) {% endblock %}
{% block dept_2_course_3_year_3 %}{% endblock %}
{% block dept_2_course_3_year_4 %}{% endblock %}
{% block dept_2_course4_name %}Diploma in Office management (DOM){% endblock %}
{% block dept_2_course_4_year_3 %}{% endblock %}
{% block dept_2_course_4_year_4 %}{% endblock %}
{% block dept_2_course_4_year_5 %}{% endblock %}

{% block dept_3 %} {% endblock %}
{% block dept_3_course1_name %} Diploma in E-Commerce{% endblock %}
{% block dept_3_course_1_year_3 %}{% endblock %}
{% block dept_3_course_1_year_4 %}{% endblock %}
{% block dept_3_course2_name %} Diploma in Web Designing{% endblock %}
{% block dept_3_course_2_year_3 %}{% endblock %}
{% block dept_3_course_2_year_4 %}{% endblock %}
{% block dept_3_course_2_year_5 %}{% endblock %}

{% block dept_3_course_list_3 %} {% endblock %}
{% block dept_3_course_list_4 %} {% endblock %}

{% block dept4_name %}Department Of computer science & engineering{% endblock %}
{% block dept_4_course1_name %}Bachelor of Science in Computer Science {% endblock %}
{% block dept_4_course_1_year_4 %}{% endblock %}
{% block dept_4_course2_name %} Bachelor of Science in Software Engineering{% endblock %}
{% block dept_4_course_2_year_4 %}{% endblock %}
{% block dept_4_course_2_year_5 %}{% endblock %}
{% block dept_4_course3_name %} Bachelor of Science in Computer Engineering {% endblock %}
{% block dept_4_course_3_year_4 %}{% endblock %}

{% block dept_4_course4_name %} Postgraduate Diploma in Computer Science{% endblock %}
{% block dept_4_course_4_year_3 %}{% endblock %}
{% block dept_4_course_4_year_4 %}{% endblock %}

{% block dept_6 %} {% endblock %}
{% block dept_5_course1_name %}Post graduate Diploma in Software Engineering {% endblock %}
{% block dept_5_course_1_year_3 %}{% endblock %}
{% block dept_5_course_1_year_4 %}{% endblock %}
{% block dept_5_course2_name %}Post graduate Diploma in ICT for Development {% endblock %}
{% block dept_5_course_2_year_3 %}{% endblock %}
{% block dept_5_course_2_year_4 %}{% endblock %}
{% block dept_5_course_2_year_5 %}{% endblock %}

{% block dept_5_course_list_3 %} {% endblock %}
{% block dept_5_course_list_4 %} {% endblock %}


{% block sch_2_dept_3 %}{% endblock %}
{% block sch2_title_box %}{% endblock %}
{% block col_sch_3 %}{% endblock %}
{% block sch_1_dept_10 %}{% endblock %}


{% block quick_link_img %}<img id="university_links-img" src="../../img/mubs-logo.png" alt="Makerere University Business School Logo">{% endblock %}

