{% extends "gpa_elevator/templates/college-template.php" %}

{% block col_title %}
Faculty of Social Sciences
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/ndu/#">{{ block('col_title') }}{% endblock %}
{% block nav_Courseunit %} {% endblock %}
{% block uni_title %}Ndu{% endblock %}

{% block university_name %}NDEJJE UNIVERSITY {% endblock %}

{% block col_name %} FACULTY OF SOCIAL SCIENCES {% endblock %}

{% block sch1_title_box %}{% endblock %}

{% block dept1_name %}Department of Development and Social studies{% endblock %}

{% block dept_1_course1_name %} Bachelor of Development Studies{% endblock %}

{% block dept_1_course_1_year_4 %}{% endblock %}

{% block dept_1_course2_name %}Bachelor of Community-based Development{% endblock %}

{% block dept_1_course_2_year_4 %}{% endblock %}
{% block dept_1_course_2_year_5 %}{% endblock %}

{% block dept_1_course3_name %}Bachelor of Guidance and Counseling{% endblock %}
{% block dept_1_course_3_year_4 %}{% endblock %}

{% block dept_1_course4_name %} Bachelor of Social Work and Social Administration{% endblock %}
{% block dept_1_course_4_year_4 %}{% endblock %}

{% block dept2_name %} Department of Journalism and Public Affairs  {% endblock %}

{% block dept_2_course1_name %} Bachelor of Journalism & Mass Communication{% endblock %}
{% block dept_2_course_1_year_4 %}{% endblock %}

{% block dept_2_course2_name %}Bachelor of Information Systems{% endblock %}
{% block dept_2_course_2_year_4 %}{% endblock %}
{% block dept_2_course_2_year_5 %}{% endblock %}
{% block dept_2_course3_name %}Bachelor of Quantitative Economics{% endblock %}
{% block dept_2_course_3_year_4 %}{% endblock %}

{% block dept_2_course4_name %}Bachelor of Statistics and Planning  {% endblock %}
{% block dept_2_course_4_year_4 %}{% endblock %}
{% block dept_3 %}{% endblock %}


{% block dept_3_course2_name %} Bachelor of Biology{% endblock %}
{% block dept_3_course_2_year_4 %}{% endblock %}
{% block dept_3_course_2_year_5 %}{% endblock %}

{% block dept_3_course3_name %}Bachelor of Chemistry {% endblock %}
{% block dept_3_course_3_year_4 %}{% endblock %}

{% block dept_3_course4_name %}Bachelor of Physics {% endblock %}
{% block dept_3_course_4_year_4 %}{% endblock %}






{% block sch_1_dept_10 %}{% endblock %}

{% block col_sch_2 %}{% endblock %}
{% block col_sch_3 %}{% endblock %}
{% block quick_link_img %}<img id="university_links-img" src="../../img/ndejje-logo.jpg" alt="Ndejje University Logo">{% endblock %}

{% block quick_links %} 
<li class="link-item" id="link-item-first-child"><a href="http://localhost/Home/index">Gpa Elevator Home Page</a></li>
<li class="link-item"><a href="https://www.ndejjeuniversity.ac.ug/" target="_blank">Ndejje University Website</a></li>
<li class="link-item"><a href="https://student.ndu.ac.ug/" target="_blank">Students Portal</a></li>
<li class="link-item"><a href="https://www.ndejjeuniversity.ac.ug/kampala-campus/" target="_blank">University Location</a></li>
<li class="link-item"><a href="https://www.ndejjeuniversity.ac.ug/distance-learning/" target="_blank">e-Learning</a></li>
<li class="link-item"><a href="https://admissions.ndu.ac.ug/" target="_blank">Admissions Portal</a></li>
<li class="link-item"><a href="https://www.ndejjeuniversity.ac.ug/funding/" target="_blank">Scholarship</a></li>
{% endblock %} 