{% extends "gpa_elevator/templates/courseunit-template.php" %}

{% block col_title %}
ELE1104-Physical Electronics
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/cedat/index">Cedat{% endblock %}
{% block Course_unit_name %}<a href="http://localhost/cedat/ELE1104">{{ block('coursecode') }} {% endblock %}
{% block courseunit %} {{ block('coursecode') }}:Physical Electronics{% endblock %}
{% block coursecode %}ELE1104{% endblock %}
{% block courseName %} Bachelor Of Science In Electrical Engineering  {% endblock %}

{% block ref_textbks %} {% endblock %}

{% block courseunit_link_1 %} <a href="http://localhost/cedat/ELE1105" id="other_course_unit-linkbutton" class="link-item btn--pink">ELE1105-Circuit Theory{% endblock courseunit_link_1 %}
{% block courseunit_link_2 %} <a href="http://localhost/cedat/CMP1103" class="link-item btn--lightgreen" id="other_course_unit-linkbutton">CMP1103-Information Communication Technology{% endblock courseunit_link_2 %}
        
    