{% extends "gpa_elevator/templates/courseunit-template.php" %}

{% block col_title %}
ELE3114-Electrical Machines & Drives I
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/cedat/index">Cedat{% endblock %}
{% block Course_unit_name %}<a href="http://localhost/cedat/ELE3114">{{ block('coursecode') }} {% endblock %}
{% block courseunit %} {{ block('coursecode') }}:Electrical Machines & Drives I{% endblock %}
{% block coursecode %}ELE3114{% endblock %}
{% block courseName %} Bachelor Of Science In Electrical Engineering  {% endblock %}

{% block ref_textbks %} {% endblock %}

{% block courseunit_link_1 %} <a href="http://localhost/cedat/ELE3113" id="other_course_unit-linkbutton" class="link-item btn--pink">ELE3113-Power Systems Theory{% endblock courseunit_link_1 %}
{% block courseunit_link_2 %} <a href="http://localhost/cedat/ELE3112" class="link-item btn--lightgreen" id="other_course_unit-linkbutton">ELE3112-Radio Wave Propagation & Antennas{% endblock courseunit_link_2 %}
