{% extends "gpa_elevator/templates/courseunit-template.php" %}

{% block col_title %}
ELE4209-High Voltage Engineering
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/cedat/index">Cedat{% endblock %}
{% block Course_unit_name %}<a href="http://localhost/cedat/ELE4209">{{ block('coursecode') }} {% endblock %}
{% block courseunit %} {{ block('coursecode') }}:High Voltage Engineering{% endblock %}
{% block coursecode %}ELE4209{% endblock %}
{% block courseName %} Bachelor Of Science In Electrical Engineering  {% endblock %}

{% block ref_textbks %} {% endblock %}

{% block courseunit_link_1 %} <a href="http://localhost/cedat/ELE4214" id="other_course_unit-linkbutton" class="link-item btn--pink">ELE4214-Power Economics and Management{% endblock courseunit_link_1 %}
{% block courseunit_link_2 %} <a href="http://localhost/cedat/ELE4208" class="link-item btn--lightgreen" id="other_course_unit-linkbutton">ELE4208-Power Systems Engineering II{% endblock courseunit_link_2 %}
