{% extends "gpa_elevator/templates/courseunit-template.php" %}

{% block col_title %}
ELE4103-Telecommunication Systems I
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/cedat/index">Cedat{% endblock %}
{% block Course_unit_name %}<a href="http://localhost/cedat/ELE4103">{{ block('coursecode') }} {% endblock %}
{% block courseunit %} {{ block('coursecode') }}:Telecommunication Systems I{% endblock %}
{% block coursecode %}ELE4103{% endblock %}
{% block courseName %} Bachelor Of Science In Electrical Engineering  {% endblock %}

{% block ref_textbks %} {% endblock %}

{% block courseunit_link_1 %} <a href="http://localhost/cedat/ELE4106" id="other_course_unit-linkbutton" class="link-item btn--pink"> ELE4106-Network Theory II{% endblock courseunit_link_1 %}
{% block courseunit_link_2 %} <a href="http://localhost/cedat/ELE4112" class="link-item btn--lightgreen" id="other_course_unit-linkbutton">ELE4112-Microprocessor Based Systems{% endblock courseunit_link_2 %}
        
    