{% extends "gpa_elevator/templates/courseunit-template.php" %}

{% block col_title %}
LAW1104-Law of Contracts
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/cedat/index">Cedat{% endblock %}
{% block Course_unit_name %}<a href="http://localhost/cedat/LAW1104">{{ block('coursecode') }} {% endblock %}
{% block courseunit %} {{ block('coursecode') }}:Law of Contracts{% endblock %}
{% block coursecode %}LAW1104{% endblock %}
{% block courseName %} Bachelor Of Science In Electrical Engineering  {% endblock %}

{% block ref_textbks %} {% endblock %}

{% block courseunit_link_1 %} <a href="http://localhost/cedat/TEL3111" id="other_course_unit-linkbutton" class="link-item btn--pink">TEL3111-Communication Theory {% endblock courseunit_link_1 %}
{% block courseunit_link_2 %} <a href="http://localhost/cedat/ELE3114" class="link-item btn--lightgreen" id="other_course_unit-linkbutton">ELE3114-Electrical Machines & Drives I{% endblock courseunit_link_2 %}
        
    