{% extends "gpa_elevator/templates/courseunit-template.php" %}

{% block col_title %}
TEC2202-Technology,Ethics & Human Rights
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/cedat/index">Cedat{% endblock %}
{% block Course_unit_name %}<a href="http://localhost/cedat/TEC2202">{{ block('coursecode') }} {% endblock %}
{% block courseunit %} {{ block('coursecode') }}:Technology,Ethics & Human Rights{% endblock %}
{% block coursecode %}TEC2202{% endblock %}
{% block courseName %} Bachelor Of Science In Electrical Engineering  {% endblock %}

{% block ref_textbks %} {% endblock %}

{% block courseunit_link_1 %} <a href="http://localhost/cedat/ELE2212" id="other_course_unit-linkbutton" class="link-item btn--pink">ELE2212-Electrical Energy Systems {% endblock courseunit_link_1 %}
{% block courseunit_link_2 %} <a href="http://localhost/cedat/ELE2213" class="link-item btn--lightgreen" id="other_course_unit-linkbutton">ELE2213-Instrumentation {% endblock courseunit_link_2 %}
        
    