{% extends "gpa_elevator/templates/courseunit-template.php" %}

{% block col_title %}
TEL3111-Communication Theory
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/cedat/index">Cedat{% endblock %}
{% block Course_unit_name %}<a href="http://localhost/cedat/TEL3111">{{ block('coursecode') }} {% endblock %}
{% block courseunit %} {{ block('coursecode') }}:Communication Theory{% endblock %}
{% block coursecode %}TEL3111{% endblock %}
{% block courseName %} Bachelor Of Science In Electrical Engineering  {% endblock %}

{% block ref_textbks %} {% endblock %}

{% block courseunit_link_1 %} <a href="http://localhost/cedat/ELE3114" id="other_course_unit-linkbutton" class="link-item btn--pink">ELE3114-Electrical Machines & Drives I {% endblock courseunit_link_1 %}
{% block courseunit_link_2 %} <a href="http://localhost/cedat/ELE3112" class="link-item btn--lightgreen" id="other_course_unit-linkbutton">ELE3112-Radio Wave Propagation & Antennas{% endblock courseunit_link_2 %}
        
    