{% extends "gpa_elevator/templates/courseunit-template.php" %}

{% block col_title %}
TEL4213-Radio Frequency & Microwave Engineering
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/cedat/index">Cedat{% endblock %}
{% block Course_unit_name %}<a href="http://localhost/cedat/TEL4213">{{ block('coursecode') }} {% endblock %}
{% block courseunit %} {{ block('coursecode') }}:Radio Frequency & Microwave Engineering{% endblock %}
{% block coursecode %}TEL4213{% endblock %}
{% block courseName %} Bachelor Of Science In Electrical Engineering  {% endblock %}

{% block ref_textbks %} {% endblock %}

{% block courseunit_link_1 %} <a href="http://localhost/cedat/ELE4214" id="other_course_unit-linkbutton" class="link-item btn--pink">ELE4214-Power Economics and Management{% endblock courseunit_link_1 %}
{% block courseunit_link_2 %} <a href="http://localhost/cedat/ELE4204" class="link-item btn--lightgreen" id="other_course_unit-linkbutton">ELE4204-Radio Frequency Engineering {% endblock courseunit_link_2 %}
