{% extends "gpa_elevator/templates/courseunit-template.php" %}

{% block col_title %}
TEL4211-Business Management
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/cedat/index">Cedat{% endblock %}
{% block Course_unit_name %}<a href="http://localhost/cedat/TEL4211">{{ block('coursecode') }} {% endblock %}
{% block courseunit %} {{ block('coursecode') }}:Business Management{% endblock %}
{% block coursecode %}TEL4211{% endblock %}
{% block courseName %} Bachelor Of Science In Electrical Engineering  {% endblock %}

{% block ref_textbks %} {% endblock %}

{% block courseunit_link_1 %} <a href="http://localhost/cedat/CMP4202" id="other_course_unit-linkbutton" class="link-item btn--pink">CMP4202-VLSI Systems Design{% endblock courseunit_link_1 %}
{% block courseunit_link_2 %} <a href="http://localhost/cedat/ELE4205" class="link-item btn--lightgreen" id="other_course_unit-linkbutton">ELE4205-Antennas{% endblock courseunit_link_2 %}
