{% extends "gpa_elevator/templates/courseunit-template.php" %}

{% block col_title %}
TEL4215-Broadband And Advanced Communications
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/cedat/index">Cedat{% endblock %}
{% block Course_unit_name %}<a href="http://localhost/cedat/TEL4215">{{ block('coursecode') }} {% endblock %}
{% block courseunit %} {{ block('coursecode') }}:Broadband & Advanced Communications{% endblock %}
{% block coursecode %}TEL4215{% endblock %}
{% block courseName %} Bachelor Of Science In Electrical Engineering  {% endblock %}

{% block ref_textbks %} {% endblock %}

{% block courseunit_link_1 %} <a href="http://localhost/cedat/TEL4212" id="other_course_unit-linkbutton" class="link-item btn--pink">TEL4212-Satellite Communications{% endblock courseunit_link_1 %}
{% block courseunit_link_2 %} <a href="http://localhost/cedat/ELE4203" class="link-item btn--lightgreen" id="other_course_unit-linkbutton">ELE4203-Computer Systems Engineering{% endblock courseunit_link_2 %}
