{% extends "gpa_elevator/templates/college-template.php" %}


{% block col_title %}
Faculty of Engineering
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/Faculty_of_Engineering/index">{{ block('col_title') }}{% endblock %}
{% block nav_Courseunit %} {% endblock %}
{% block uni_title %}Kyu{% endblock %}

{% block university_name %}KYAMBOGO UNIVERSITY {% endblock %}

{% block col_name %} FACULTY OF ENGINEERING {% endblock %}

{% block sch1_title_box %}{% endblock %}

{% block dept1_name %}Department of Civil and Building Engineering{% endblock %}
{% block dept_1_course1_name %} Bachelor of Engineering in Civil & Building Engineering{% endblock %}
{% block dept_1_course2_name %}Higher Diploma In Civil & Building Engineering {% endblock %}
{% block dept_1_course_2_year_3 %}{% endblock %}
{% block dept_1_course_2_year_4 %}{% endblock %}
{% block dept_1_course_2_year_5 %}{% endblock %}
{% block dept_1_course3_name %}Diploma In Civil & Building Engineering {% endblock %}
{% block dept_1_course_3_year_3 %}{% endblock %}
{% block dept_1_course_3_year_4 %}{% endblock %}
{% block dept_1_course4_name %}Diploma In Water Engineering {% endblock %}
{% block dept_1_course_4_year_3 %}{% endblock %}
{% block dept_1_course_4_year_4 %}{% endblock %}


{% block dept2_name %}Department of Electrical & Electronics Engineering (Degree){% endblock %}
{% block dept_2_course1_name %} Bachelor of Electrical Engineering{% endblock %}


{% block dept_2_course_1_courseunit_list_1 %}
<li class="course_units"><b><i><a  href="TEEE1101">TEEE1101-Engineering Mathematics I</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE1102">TEEE1102-Computer Technology and ICT</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE1103">TEEE1103-Circuit Theory</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE1104">TEEE1104-Applied Mechanics</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE1105">TEEE1105-Engineering Drawing I</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE1106">TEEE1106-Communication Skills for Engineers</a></i></b></li><li class="course_units"><b><i><a  href="#"></a></i></b></li>


{% endblock %}

{% block dept_2_course_1_courseunit_list_2 %}
<li class="course_units"><b><i><a  href="TEEE1201">TEEE1201-Engineering Mathematics II</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE1202">TEEE1202-Computer Programming I</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE1203">TEEE1203-Engineering Drawing II</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE1204">TEEE1204-Electromagnetic Fields</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE1205">TEEE1205-Physical Electronics</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE1206">TEEE1206-Electrical Instrumentation</a></i></b></li>

{% endblock %}

{% block dept_2_course_1_courseunit_list_3 %}
<li class="course_units"><b><i><a  href="TEEE2101">TEEE2101-Engineering Mathematics III</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE2102">TEEE2102-Network Theory</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE2103">TEEE2103-Amplifier Circuits</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE2104">TEEE2104-Power systems I</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE2105">TEEE2105-Energy Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE2106">TEEE2106-Engineering Practice and Ethics</a></i></b></li>

{% endblock %}

{% block dept_2_course_1_courseunit_list_4 %}
<li class="course_units"><b><i><a  href="TEEE2201">TEEE2201-Engineering Mathematics IV</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE2202">TEEE2202-Power Electronics</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE2203">TEEE2203-Computer Programming II</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE2204">TEEE2204-Power Systems II</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE2205">TEEE2205-Digital Circuits</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE2206">TEEE2206-Engineering Control Systems I</a></i></b></li>

{% endblock %}

{% block dept_2_course_1_courseunit_list_5 %}
<li class="course_units"><b><i><a  href="TEEE3101">TEEE3101-Electrical Installation I</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE3102">TEEE3102-Power Systems III</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE3103">TEEE3103-Thermodynamics</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE3104">TEEE3104-Applied Electronics</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE3105">TEEE3105-Engineering Mathematics V</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE3106">TEEE3106-Microcontrollers and Applications</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE3107">TEEE3107-Communication Theory</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE3108">TEEE3108-Power Plant Engineering</a></i></b></li>

{% endblock %}

{% block dept_2_course_1_courseunit_list_6 %}
<li class="course_units"><b><i><a  href="TEEE3201">TEEE3201-Group Projects</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE3102">TEEE3102-Illumination, Heating and Cooling Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE3203">TEEE3203-Installation Design and Contracting</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE3204">TEEE3204-Power Systems Protection</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE3205">TEEE3205-Biomass Energy Technologies</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE3106">TEEE3106-Engineering Mathematics VI</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE3107">TEEE3107-Signal Processing</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE3108">TEEE3108-Engineering Control Systems II</a></i></b></li>

{% endblock %}

{% block dept_2_course_1_courseunit_list_7 %}
<li class="course_units"><b><i><a  href="TEEE4101">TEEE4101-Final Year Project I</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE4102">TEEE4102-Industrial Electronics</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE4103">TEEE4103-Electrical Power Systems Management</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE4104">TEEE4104-Electromechanical Drive Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE4105">TEEE4105-Power Systems Instrumentation and Control</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE4106">TEEE4106-Principles of Maintenance Engineering</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE4107">TEEE4107-Project Planning and Management</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE4108">TEEE4108-Entrepreneurship Skills</a></i></b></li>

{% endblock %}

{% block dept_2_course_1_courseunit_list_8 %}
<li class="course_units"><b><i><a  href="TEEE4201">TEEE4201-Final Year Project II</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE4202">TEEE4202-Management and Control of Energy Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE4203">TEEE4203-Stability and High Voltage Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE4204">TEEE4204-Safety Engineering and Management</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE4205">TEEE4205-Economics of Power Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE4206">TEEE4206-Substation Engineering</a></i></b></li>
<li class="course_units"><b><i><a  href="TEEE4207">TEEE4207-Power System Design</a></i></b></li>
{% endblock %}



{% block dept_2_course2_name %}Bachelor Of Engineering In Telecommunication Engineering {% endblock %}

{% block dept_2_course_2_courseunit_list_1 %}
<li class="course_units"><b><i><a  href="TETE1102">TETE1102-Engineering Mathematics I</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE1101">TETE1101-Electrical Workshop Practice</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE1103">TETE1103-Fundamentals of Telecommu</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE1108">TETE1108-Operating Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE1105">TETE1105-Circuit Theory</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE1106">TETE1106-Engineering Drawing I</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE1104">TETE1104-Mechanical Technology</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE1107">TETE1107-Communication Skills for Engineers</a></i></b></li>

{% endblock %}

{% block dept_2_course_2_courseunit_list_2 %}
<li class="course_units"><b><i><a  href="TETE1202">TETE1202-Engineering Mathematics II</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE1201">TETE1201-Computer Programming Fundamentals</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE1205">TETE1205-Fundamental Electronics</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE1204">TETE1204-Electrical Engineering Drawing</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE1203">TETE1203-Principles of Measurements and Instrumentation</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE1206">TETE1206-Data Communication Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE1207">TETE1207-Network Theory</a></i></b></li>

{% endblock %}

{% block dept_2_course_2_courseunit_list_3 %}
<li class="course_units"><b><i><a  href="TETE2101">TETE2101-Engineering Mathematics III</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE2107">TETE2107-Illumination, Heating and Cooling Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE2103">TETE2103-Amplifier Circuits</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE2104">TETE2104-Electrical and Magnetic fields</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE2105">TETE2105-Electrical Energy Utilization</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE2106">TETE2106-Electrical Devices and Machines</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE2102">TETE2102-Energy Systems</a></i></b></li>

{% endblock %}


{% block dept_2_course_2_courseunit_list_4 %}
<li class="course_units"><b><i><a  href="TETE2202">TETE2202-Engineering Mathematics IV</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE2207">TETE2207-Radio and TV Engineering</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE2203">TETE2203-Object Oriented programming</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE2204">TETE2204-Digital Electronics</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE2205">TETE2205-Signals and Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE2206">TETE2206-Communication Engineering</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE2201">TETE2201-Research Methods</a></i></b></li>

{% endblock %}

{% block dept_2_course_2_courseunit_list_5 %}
<li class="course_units"><b><i><a  href="TETE3101">TETE3101-Optical Communication Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE3102">TETE3102-Microcontrollers and Applications</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE3103">TETE3103-Applied Electronics</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE3104">TETE3104-Engineering Control Systems I</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE3105">TETE3105-Power Electronics</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE3106">TETE3106-Telephone Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE3107">TETE3107-Power Generation and Distribution</a></i></b></li>

{% endblock %}

{% block dept_2_course_2_courseunit_list_6 %}
<li class="course_units"><b><i><a  href="TETE3201">TETE3201-Group Projects</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE3202">TETE3202-Multimedia Networking</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE3203">TETE3203-Engineering Control Systems II</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE3206">TETE3206-Signal Processing</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE3205">TETE3205-Antennas and Wave Propagation</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE3204">TETE3204-Science, Technology and the Environment</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE3207">TETE3207-Network Security</a></i></b></li>

{% endblock %}

{% block dept_2_course_2_courseunit_list_7 %}
<li class="course_units"><b><i><a  href="TETE4101">TETE4101-TV and Video Engineering</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE4102">TETE4102-Transmission and Switching Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE4103">TETE4103-Mobile and Wireless Communication Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE4104">TETE4104-Database Development and Administration</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE4105">TETE4105-Principles of Maintenance Engineering</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE4106">TETE4106-Project Planning and Management</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE4107">TETE4107-Entrepreneurship Skills</a></i></b></li>

{% endblock %}

{% block dept_2_course_2_courseunit_list_8 %}
<li class="course_units"><b><i><a  href="TETE4201">TETE4201-Individual Projects</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE4202">TETE4202-Maintenance of Telephone Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE4203">TETE4203-Communication Systems and Contracting</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE4204">TETE4204-Satellite Communication Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE4205">TETE4205-Radar, Sonar and Navigation Engineering</a></i></b></li>
<li class="course_units"><b><i><a  href="TETE4206">TETE4206-RF and Microwave Engineering</a></i></b></li>
>
{% endblock %}

{% block dept_2_course3_name %}Bachelor Of Mechatronics & Biomedical Engineering {% endblock %}
{% block dept_2_course_list_4 %}{% endblock %}

{% block dept_2_course_3_courseunit_list_1 %}
<li class="course_units"><b><i><a  href="TEMB1101">TEMB1101-Fundamentals of Engineering Mathematics</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB1102">TEMB1102-Biochemistry and Medical Physics</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB1103">TEMB1103-Electrical Engineering Science</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB1104">TEMB1104-Mechanics I</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB1105">TEMB1105-Computing I</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB1106">TEMB1106-Mechanical Drawing</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB1107">TEMB1107-Engineering Profession</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB1108">TEMB1108-Functional Anatomy and Physiology I</a></i></b></li>
<li class="course_units"><b><i><a  href="#"></a></i></b></li>
{% endblock %}

{% block dept_2_course_3_courseunit_list_2 %}
<li class="course_units"><b><i><a  href="TEMB1201">TEMB1201-Further Engineering Mathematics</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB1202">TEMB1202-Computing II</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB1203">TEMB1203-Mechatronics Drawing</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB1204">TEMB1204-Fluid Mechanics</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB1205">TEMB1205-Thermodynamics</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB1206">TEMB1206-Workshop Practice</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB1207">TEMB1207-Functional Anatomy and Physiology </a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB1208">TEMB128-Electronics I</a></i></b></li>

{% endblock %}


{% block dept_2_course_3_courseunit_list_3 %}
<li class="course_units"><b><i><a  href="TEMB2101">TEMB2101-Applied Engineering Mathematics</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB2102">TEMB2102-Electronics II</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB2103">TEMB2103-Mechatronics Controls I</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB2104">TEMB2104-Engineering Metrology</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB2105">TEMB2105-Radiology Physics	</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB2107">TEMB2107-Applied Chemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB2108">TEMB2108-Mechanics II</a></i></b></li>

{% endblock %}

{% block dept_2_course_3_courseunit_list_4 %}
<li class="course_units"><b><i><a  href="TEMB2201">TEMB2201-Advanced Engineering Mathematics</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB2202">TEMB2202-Machine and Medical System Design</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB2203">TEMB2203-Biomedical Instrumentation I</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB2204">TEMB2204-Mechatronics Controls II</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB2205">TEMB2205-Production Technology</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB2206">TEMB2206-Power Electronics</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB2207">TEMB2207-Biomechanics and Materials</a></i></b></li>

{% endblock %}

{% block dept_2_course_3_courseunit_list_5 %}
<li class="course_units"><b><i><a  href="TEMB3101">TEMB3101-Microelectronics</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB3102">TEMB3102-Circuit Theory and Analysis</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB3103">TEMB3103-Very Large-Scale Integration</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB3104">TEMB3104-Design Methods for Engineering</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB3105">TEMB3105-Pneumatics and Hydraulic Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB3106M">TEMB3106M-Manufacturing Automation I</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB3107M">TEMB3107M-Management of Industrial Organisation</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB3108B">TEMB3108B-Healthcare Engineering Management</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB3109B">TEMB3109B-Medical Imaging Sensing & Proce</a></i></b></li>

{% endblock %}

{% block dept_2_course_3_courseunit_list_6 %}
<li class="course_units"><b><i><a  href="TEMB3201">TEMB3201-Group Engineering Projects</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB3202">TEMB3202-Mechatronics Controls III</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB3203">TEMB3203-Industrial Electronics</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB3204">TEMB3204-Software Applications in Signal & Proce</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB3205">TEMB3205-Electrical Network Analysis and Synthes</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB3206M">TEMB3206M-Industrial Plants and Systems I</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB3207M">TEMB3207M-Industrial Networking and Data Communi</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB3208B">TEMB3208B-Networking and Information Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB3209B">TEMB3209B-Assistive and Rehabilitation System</a></i></b></li>

{% endblock %}

{% block dept_2_course_3_courseunit_list_7 %}
<li class="course_units"><b><i><a  href="TEMB4101">TEMB4101-Engineering Practice and Ethics</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB4102">TEMB4102-Entrepreneurship and Innovations </a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB4103">TEMB4103-Illumination and Heating Systems	</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB4104M">TEMB4104M-Modern Transport and Railway</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB4105M">TEMB4105M-Industrial Plants and Systems II</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB4106B">TEMB4106B-Biomedical Equipment in Healthcare</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB4107B">TEMB4107B-Biomedical Microsystems</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB4108M">TEMB4108M-Traffic Control Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB4109M">TEMB4109M-Economics of Industry</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB4110B">TEMB4110B-Nuclear Medicine</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB4111B">TEMB4111B-Control of Infection and Hospital W</a></i></b></li>

{% endblock %}

{% block dept_2_course_3_courseunit_list_8 %}
<li class="course_units"><b><i><a  href="TEMB4201">TEMB4201-Individual Engineering Projects</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB4202">TEMB4202-Refrigeration and Air-conditioning</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB4203">TEMB4203-Power Machines and Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB4204M">TEMB4204M-Industrial Plants Installation and Se</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB4205M">TEMB4205M-Manufacturing Automation II</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB4206B">TEMB4206B-Installation, Maintenance and Servicing</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB4206B">TEMB4206B-Biomedical Equipment in Healthcar</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB4209M">TEMB4209M-Industrial Quality Management	</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB4210M">TEMB4210M-Robotics Technology in Industry</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB4211B">TEMB4211B-Robotic Technology in Medicine</a></i></b></li>
<li class="course_units"><b><i><a  href="TEMB4212B">TEMB4212B-Biomedical Instrumentation II</a></i></b></li>


{% endblock %}



{% block dept_2_course_4_year_3 %}{% endblock %}
{% block dept_2_course_4_year_4 %}{% endblock %}




{% block dept3_name %}Department of Electrical & Electronics Engineering (Diploma){% endblock %}
{% block dept_3_course1_name %} Higher Diploma In Electrical Engineering{% endblock %}
{% block dept_3_course2_name %}Diploma in Electrical Engineering{% endblock %}
{% block dept_3_course3_name %}Diploma in Computer Engineering {% endblock %}
{% block dept_3_course4_name %} Diploma in Telecommunications Engineering{% endblock %}
{% block dept_3_course_4_year_3 %}{% endblock %}
{% block dept_3_course_4_year_4 %}{% endblock %}

{% block dept4_name %}Department of Mechanical and Production Engineering (Degree){% endblock %}
{% block dept_4_course1_name %} Bachelor of Engineering in Mechanical & Manufacturing Engineering{% endblock %}
{% block dept_4_course2_name %}Bachelor Of Engineering In Automative & Power Engineering {% endblock %}
{% block dept_4_course3_name %}Bachelor Of Environmental Engineering & Management {% endblock %}
{% block dept_4_course4_name %}Bachelor Of Industrial Engineering & Management {% endblock %}
{% block dept_4_course_4_year_3 %}{% endblock %}
{% block dept_4_course_4_year_4 %}{% endblock %}

{% block dept5_name %}Department of Mechanical and Production Engineering (Diploma){% endblock %}
{% block dept_5_course1_name %} Post Graduate Diploma in Manufacturing Systems Engineering{% endblock %}
{% block dept_5_course_1_year_3 %}{% endblock %}
{% block dept_5_course_1_year_4 %}{% endblock %}
{% block dept_5_course2_name %}Higher Diploma in Mechanical Engineering {% endblock %}
{% block dept_5_course_2_year_3 %}{% endblock %}
{% block dept_5_course_2_year_4 %}{% endblock %}
{% block dept_5_course_2_year_5 %}{% endblock %}
{% block dept_5_course3_name %}Diploma in Automobile Engineering {% endblock %}
{% block dept_5_course_3_year_3 %}{% endblock %}
{% block dept_5_course_3_year_4 %}{% endblock %}
{% block dept_5_course4_name %}Diploma in Refrigeration and Air Conditioning Engineering {% endblock %}
{% block dept_5_course_4_year_3 %}{% endblock %}
{% block dept_5_course_4_year_4 %}{% endblock %}

{% block dept6_name %}Department of Lands and Architectural Studies{% endblock %}
{% block dept_6_course1_name %}Bachelor of Science in Surveying and Land Information Systems {% endblock %}
{% block dept_6_course2_name %}Bachelor of Architecture{% endblock %}
{% block dept_6_course3_name %}  Bachelor of Science in Building Economics{% endblock %}
{% block dept_6_course4_name %}Bachelor of Science in Land Economics {% endblock %}
{% block dept_7_course1_name %}Diploma in Architecture {% endblock %}
{% block dept_7_course_1_year_3 %}{% endblock %}
{% block dept_7_course_1_year_4 %}{% endblock %}

{% block dept_7_course_list_2 %} {% endblock %}
{% block dept_7_course_list_3 %} {% endblock %}
{% block dept_7_course_list_4 %} {% endblock %}

{% block dept_8 %} {% endblock %}
{% block sch2_title_box %}{% endblock %}
{% block sch3_title_box %}{% endblock %}
{% block sch_1_dept_10 %}{% endblock %}
{% block sch_3_dept_2 %}{% endblock %}
{% block sch_3_dept_3 %}{% endblock %}


{% block quick_link_img %}<img id="university_links-img" src="../../img/kyu-logo.jpg" alt="Kyambogo University Logo">{% endblock %}

{% block quick_links %} 
<li class="link-item"><a href="https://kyu.ac.ug/">University Website</a></li>
<li class="link-item"><a href="https://student.kyu.ac.ug/portal-1.6/?cache">Students Portal</a></li>
<li class="link-item"><a href="https://kyu.ac.ug/kyambogo-university-map/">University Location</a></li>
<li class="link-item"><a href="https://kelms.kyu.ac.ug/">e-Learning</a></li>
<li class="link-item"><a href="https://admissions.kyu.ac.ug/">Admissions Portal</a></li>
<li class="link-item"><a href="https://kyu.ac.ug/scholarship/">Scholarship</a></li>
{% endblock %}