 /*****************Google fonts starts here******************************/
 @import url('https://fonts.googleapis.com/css?family=Acme|Kreon:300|Lobster|Open+Sans+Condensed:300|Roboto&display=swap');





 /*****************Google fonts ends here******************************/
#body-content{
  padding: 10px !important;
  max-width: 1259px;
}
.body-content-main{
  margin:0 !important;
}

/****PAST PAPER AREA****/
.pastpaper_display_area{
  background-color: #fff;
  margin-bottom: 0;
  margin-top: 5px;
  padding: 5px;
  padding-bottom: 10px;
  font-size: 16px;
  border:1px solid var(--gray-color);
}
.pastpaper_display_area ul,
.lecture-notes-section ul {
  padding: 5px 10px 5px 20px;

}
#lecture_notes  ul li ,
#pastpaper_display_area  ul li {
  float:none;
  text-decoration: none;
  list-style: none;
  text-align: left;
}
.pastpaper_display_area a,
.lecture-notes-section a {
    padding: 1px 10px 1px 1px;
    margin: 0;
    display: block;
    border-bottom: 1px solid #eee;
}
.courseName {
  font-family: 'Acme';
  text-transform: capitalize;
  font-weight: lighter;
}
.course_name{
  text-transform: capitalize; 
}
.col-name{
  font-weight: bold
}

.courseunit_name{
  padding-top: 0px;
  margin: 0;
  color:var(--lightblue-color);
  font-weight:bold;
  text-transform: uppercase;
}
.horizontal-rule{
  border-top: 3px solid #eee;
}
.pastpaper_display_area_inner a:hover {
  background:#1B3058;
  text-decoration:none;
  cursor: pointer;
  border-bottom: 2px solid orange;
  color:white;
}
.academic-yr{
color:#a41d31;
font-size: 17px;
padding-top: 0px;
cursor: context-menu;
margin-bottom: 0px;

}
.toggle_more_content-open ,
.toggle_more_content-close {
font-size: 20px;
font-weight: bold;
cursor:pointer;
color:blue;
}
.toggle_more_content-open:hover,
.toggle_more_content-close:hover{
color:orangered;
}

.load-more-section a{
font-weight: bold;
border:none;
text-decoration:none;
}
.load-more-section a:hover{
background-color: none;
border:none;
background: none;
text-transform: none;
}
.loadmore-years a{
text-decoration:none;
color:inherit !important;
}
#b4_2014{
  margin-top: .2rem;
  font-size: 1rem;
  color:var(--school-color);
  font-weight: bold;
  margin-bottom: .2rem;
}

/****LECTURE NOTES****/
#lecture_notes{
  background-color:#fff !important;
  color:black;
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 10px;
  width:100%;

}
#lecture_notes h3{
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  border: 4px solid green;
}
.lecture-notes-box a {
  margin:0;
  line-height: 30px;
  padding:0;
  border-bottom: 1px solid #eee;

}
/* .lecture-notes-box a::before{
  font-family: 'Font Awesome 5 Free';
  content: "\f007";
  display: inline-block;
  padding-right:3px;
  vertical-align: middle;
  margin:0;
  line-height: 30px;
  padding:0;
  border-bottom: 1px solid #eee;
  font-weight: 900;
  
} */
.bk-icon,
.pdf{
  color:#ccc;
  padding-right:.5rem;
  font-size:1.7rem;
  vertical-align: top;
}

.lecture-notes-box a:hover .bk-icon{
  color: var(--green-color);
}
.lecture-notes-box a:hover .pdf{
  color:var(--red-color);
}
.lecture-notes-box a:hover{
  background: rgba(0, 0, 0, 0.03);
  text-decoration:none;
  cursor: pointer;
  border-bottom: 2px solid orange;
}

#more_lecture_notes_wrapper{
  display: none; 
}
.toggle_more_lecture_notes-checkbox:checked + .toggle_more_lecture_notes .toggle_more_content-open {
  display:none;
}
.toggle_more_lecture_notes-checkbox:checked + .toggle_more_lecture_notes .toggle_more_content-close {
  display:block;
}
.toggle_more_lecture_notes i{
  font-size: 15px !important;
}
.ref_textbks{
  color:var(--school-color);
  font-weight: bold;
  font-size: 17px;
  padding-top:.3rem;
}
/*   */
/*****END*****/


/*Quick Links- YOUTUBE-LINKS*/
.other_hyperlinks{
  background-color:#fff !important;
  color:black;
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 10px;
  width:100%;
}
.youtube-links a {
  text-align: center;
}
.youtube-links{
  padding: 5px;
  margin-bottom: 10px;
  text-overflow: clip;
}

.youtube-links h5{
  color:var(--green-color);
  font-weight: bold;
}

.youtube{
  color:red !important;
}
.btn-suggest{
  margin-top: 10px; 
  padding: 5px;
  background-color: #20c997 !important;
  border-radius: 20px;
  color: var(--white-color);
}
.comparisonSection__title{
  border: 2px solid #eee;
}
#comparisonSection__buttons:link,
#comparisonSection__buttons:visited {
  text-transform:uppercase;
  text-decoration: none;
  padding:4px 10px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
  margin-bottom: 10px;
}
#comparisonSection__buttons:hover{
  transform: translateY(-5px);
}
.links_to_other_courseunits a{
  text-decoration: none;
  margin-top:5px;
}
 #other_course_unit-linkbutton:link,
 #other_course_unit-linkbutton:visited {
     border-radius: 10px;
     padding:3px;
     font-size:20px;
     font-weight: bold;
     display:inline-block;
     min-width:230px;
     color:white;

 }
 .links_to_other_courseunits a:hover{
  background-image: linear-gradient(120deg,  transparent 0%,  rgb(255, 46, 206) 50%, #17a2b8 50%);
  background-size: 190%;
  transition: all .7s ease;
  background-position: 100%;
  border:none;
  /* transform: translateX(.5rem); */
 
 }

 .btn--orange{
  background-color: orange;
  color:white;
}
.btn--green{
  background-color: green;
  color:white;
}
.btn--blue{
  background-color:#6ec1e4; 
  color:white;
}
.btn--gray{
  background-color: gray;
  color:white;
}
.btn--lightgreen{
  background-color: lightgreen;
  color:white;
}
.btn--pink{
  background-color: #00aeef;
  color:white;
}
.btn--tertiary{
  background-color: yellow;
  color:gray;
}
/*****END*****/



/**********Question Section ********************/
.questionSection__ask{
  border:1px solid #eee;
  padding-left:0;
 
    }

#questionSection{
  margin-top: 20px;
  border-bottom:2px solid orange;
  margin-bottom:8px;
  background-color: #35424a;
  color:#fff;
  min-height:42px;
  text-align: center !important;
 
}
.question_section{
  text-align: left !important;
}

#questionSection h1{
  font-size: 30px;
  font-family: sans-serif;

}
.questionSection-welcome_massage{
  background-color: #fff;
  text-align: center;
  border:1px solid #eee;
  margin-bottom: 10px;
  padding:10px;
}
.questionSection-welcome_massage-rule{
  margin-top: 0px;
  padding:0;
}
.question_box{
  color: black;
  height: auto;
  width:100%;
  padding:10px;
}
.questionSection__ask-btns{
  margin-top:10px;
}
#button-send{
	font-family: Arial, Helvetica, sans-serif;
	float:left;
  width: 100%;
  height: 50px;
	border: none;
	cursor:pointer;
	background-color: #007bff;
	color:white;
  font-size:26px;
	padding-top:5px;
	padding-bottom:10px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  font-weight:700;
  box-shadow: rgb(204, 204, 204) 1px 1px 0px, rgb(201, 201, 201) 2px 2px 0px, rgb(187, 187, 187) 3px 3px 0px, rgb(185, 185, 185) 4px 4px 0px, rgb(170, 170, 170) 3px 5px 0px, rgba(0, 0, 0, 0.0980392) 3px 6px 1px, rgba(0, 0, 0, 0.0980392) 0px 0px 5px, rgba(0, 0, 0, 0.298039) 0px 1px 3px, rgba(0, 0, 0, 0.14902) 0px 3px 5px, rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.0980392) 0px 20px 20px, 0px 0px 5px rgba(0,0,0,0.5);
}

#button-send:hover{
	background-color: rgba(0,0,0,0);
	color: white;
}
	
.ease {
	width: 0px;
	height: 50px;
	background-color: #000;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}


.submit:hover .ease{
  width:100%;
  background-color:#0ebc7f;
}


#button-reset{
	font-family: Arial, Helvetica, sans-serif;
	float:left;
  width: 100%;
  height: 50px;
	border: none;
	cursor:pointer;
	background-color: #dc3545;
	color:white;
  font-size:26px;
	padding-top:5px;
	padding-bottom:10px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  font-weight:700;
  box-shadow: rgb(204, 204, 204) 1px 1px 0px, rgb(201, 201, 201) 2px 2px 0px, rgb(187, 187, 187) 3px 3px 0px, rgb(185, 185, 185) 4px 4px 0px, rgb(170, 170, 170) 3px 5px 0px, rgba(0, 0, 0, 0.0980392) 3px 6px 1px, rgba(0, 0, 0, 0.0980392) 0px 0px 5px, rgba(0, 0, 0, 0.298039) 0px 1px 3px, rgba(0, 0, 0, 0.14902) 0px 3px 5px, rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.0980392) 0px 20px 20px, 0px 0px 5px rgba(0,0,0,0.5);
}

#button-reset:hover{
	background-color: rgba(0,0,0,0);
	color: white;
}
	
.ease-reset {
	width: 0px;
	height: 50px;
	background-color: #000;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}


.submit:hover .ease-reset{
  width:100%;
  background-color:#555;
}
.Trending_questions_title{
  box-shadow: rgb(255, 252, 252) 1px 1px 1px 1px, 
  rgba(0, 0, 0, 0.0980392) 3px 6px 1px, 
  rgba(0, 0, 0, 0.0980392) 0px 0px 5px, 
  rgba(0, 0, 0, 0.298039) 0px 1px 3px,
  rgba(0, 0, 0, 0.14902) 0px 3px 5px; 
}

.students_profile_pictures a{
  text-decoration: none;
}

#students_profile_picture{
  margin:3px 0 0 3px;
  width:50px;
  height: 50px;
  border-radius: 50%;
  border:1px solid #007bff;
}
.students_profile_pictures-reactions img{
  margin:3px 0 0 -13px !important;
}
.date_time_posted{
  padding-left:60px;
  margin-top:-15px;
  padding-top: 0;
  text-transform:capitalize;
}
.studentsquestion{
  padding-top: 5px;
  padding-left: 3px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  border-top: 2px solid rgb(9, 167, 153);
  margin-bottom: 10px;
}
#students_answer_wrapper{
  display: none;
}
.users_reactions{
  padding-top: 5px;
  margin-right: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
#share_toggle:hover{
  color:blue;
  cursor: pointer;
}
.Answer_users_reactions{
  padding-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-top: 1px solid #eee;
}
.users_views{
  color:rgb(134, 131, 126);
}
.users_views_active:hover{
  color:blue ;
  cursor: pointer;
}
.studentsquestion_topic{
  color:red;
}
.studentsanswers{
  background-color: #dce2e2; 
  /* padding-right: 0px;
  margin-right:0px !important; */
  border-top: 2px solid black;
  
}



/**************************checkboxes***************************/
.reactions_trigger-button{
  display: none;
}
.toggle_more_content-open{
  display: block;
}
.toggle_more_content-close {
  display: none; 
}
.reactions_wrapper{
  display: none;
}
.checkbox{
  display: none;
}
#more_years-wrapper{
  display: none;
}
.toggle_more_years-checkbox{
  display: none;
}
.toggle_more_years-checkbox:checked + .toggle_more_years_button .toggle_more_content-open {
  display:none;
}
.toggle_more_years-checkbox:checked + .toggle_more_years_button .toggle_more_content-close {
  display:block;
}


.toggle_content_checkbox:checked + .toggle_content_label .users_views_active{
  color:blue !important;
}
.toggle_content_checkbox-01:checked + .toggle_content_label .users_views_active{
  color:blue !important;
}

/**************************checkboxes ends here***************************/
.reactions_title-box{
  font-size: 16px;
  color:#fff;
  padding: 8px 10px;
  background: #294a70 none repeat scroll 0 0;
  border-top:2px solid #e44a3c;
  font-size: 16px;
  text-transform: capitalize;
  text-align: left;
  font-weight: 500;
  margin-bottom: 2px;
}

.student_reactions_on_trending_qns{
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
  margin-bottom: 10px;
}
.student_views_on_reactions_about_trending_qns{
  padding-top: 5px;
  margin-bottom: 5px;
  border-top:1px solid #c1c1c1;
}

.users_views_on_reactions{
  color:rgb(134, 131, 126);
}

.users_views_on_reactions:hover{
  color:blue;
}

.students_question_img{
  width:100%;
  min-height: 300px;
  border:1px solid rgb(155, 154, 154);
}



/*****ANSWER AND REACTIONS TEXTBOX*******/
.send_icon{
  translate: scaleX(-2);
}
.students_answer_input-box button{
float:right;
margin-bottom: 1rem;
background-color: var(--lightblue-color);

}
.Answer_btn_submit{
  border-radius: 20px;
  margin-top: 8px;
  box-shadow: 0 5px 5px rgba(0,0,0,.2);
  padding:3px 20px 3px 20px;
}
.Answer_btn_submit:hover{
  background-color: #20c997;
  color:white !important;
  transform: none;
  box-shadow: 0 5px 5px rgba(0,0,0,.2);
}
.custom-file{
  height:32px;
}
.custom-file-input {
  height: 26px !important;
  opacity: 1 !important;
  padding: 0px;
}
.custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 23px;
  padding: 15px 0px;
  line-height: 2;
  color: #495057;
  background-color:#fff;
  border: 1px solid#ced4da;
  border-radius: .25rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.custom-file-label::after {
  
  display: none !important;
 
}
#file_upload{
display: -ms-flexbox;
display: flex;
-ms-flex-align: center;
align-items: center;
padding: 3px 10px;
text-align: center;
}








/*****************Topical discussion section starts HERE******************************/
.discussion-section{
  margin-top: 1rem;
position: relative;
margin-bottom: 30px;
padding-bottom: 1rem;
}

.u-center-text{
  text-align: center;
  border-top: 2px solid #eee;
  border-bottom: 1px solid #eee;

}
.discussion-section-heading{
  font-weight: 700;
  letter-spacing: .2rem;
  display:inline-block;
  background-image: linear-gradient(to right,#7ed56f,#28b485);
  -webkit-background-clip:text;
  color:transparent;
  transition: all .2s ;

}
.discussion-section-heading:hover{
  transform: skewX(2deg) skewX(15deg) scale(1.1);
  text-shadow: .5rem 1rem 2rem rgba(0,0,0,.2);

}


.card{
  perspective: 150rem;
  -moz-perspective:150rem;
  background-color:#F4F6F8 !important ;
  border:.01px #F4F6F8 !important;
  border-radius: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.card-special{
margin-top: 1rem;
background-color:#0ebc7f;
border-radius: 20px;
padding:5px;
margin-bottom:10px;

}
.card-special-inside{
  background-color: #EEEEEE;
  color:black;
  border-radius: 20px;
  margin-top: 5px;
}

.card:hover .card_side-front{
  transform: rotateY(180deg);

}
.card:hover .card_side-back{
  transform: rotateY(0);

}
.card_side{
  position: relative;
  top:0;
  left:0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  color:black;
  transition: all 1s ease;
  box-shadow: 0 1.5rem 4rem rgba(0,0,0 ,.15);
  padding:5px;
}

.card_side h3{
  color:green;
}
.card_side-front{
  background-color: #fff;
  text-align: center;
}
.card_side-back{
  background-image: linear-gradient(to right bottom,#ffb900,#ff7730 );
  transform: rotateY(180deg);
  position: absolute;
  top:0;
  margin-bottom: 1rem;
  padding:20px !important;
}
.card_side-back h1{
  color:white;
  padding-bottom: 0;
}
.card_side-back hr{
  margin: 10px;
}
#prefered_days{
  padding-left: 35px;
}

.card_side i{
  color:red;
}
.discussion-platform-expert-email{
  color:orange;
}
.discuss-rule{
  border-top: 1px solid red;
  margin:0;
}
.card_img img{
  width:100px;
  height: 130px;
  background-position: bottom;
  border-radius: 50%;
  margin-top: 5px;
}
.card-special{
  margin-top: 1rem;
  background-color:#0ebc7f;
  border-radius: 20px;
  padding:5px;
  margin-bottom:10px;
  
  }
  .card-special-inside{
    background-color: #EEEEEE;
    color:black;
    border-radius: 20px;
    margin-top: 5px;
    padding:3px;
    padding-left:20px;
    padding-right:20px;

  }
.call-for-to-added{
  background-color: green;
  color:white;
}


/*****************Topical discussion section ENDS HERE******************************/




/*    
     #Answer_toggle:link,
     #Answer_toggle:visited {
         border-radius: 100px;
         box-shadow: none;
     }
     #Answer_toggle:hover{
       transform: none;
     } */


    
     
/*----------docx----------*/

     
/* .questions-docx{
  text-align: left;
  padding:2px;

}
.questions-docx .paper_duration,
.paper_code,.paper_number,
.paper_instuctions{
  text-align: center;
  margin-bottom: 0;

}
.questions-docx a{
  text-decoration: none;
  border:none;
  
}
.questions-docx ul a:hover{
  text-decoration: none;
  border:none;
  background-color: none !important;
  
}
.last-page-lecturenotes{
  height:600px !important;
} */

/*--------------------*/

