{% extends "gpa_elevator/templates/college-template.php" %}

{% block col_title %}
Faculty of Management
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/mubs/Faculty_of_Management">{{ block('col_title') }}{% endblock %}
{% block nav_Courseunit %} {% endblock %}
{% block uni_title %}Mubs{% endblock %}

{% block university_name %}MAKERERE UNIVERSITY BUSINESS SCHOOL {% endblock %}

{% block col_name %} FACULTY OF MANAGEMENT {% endblock %}

{% block sch1_title_box %}{% endblock %}

{% block dept1_name %}Department Of Human Resource Management {% endblock %}
{% block dept_1_course1_name %}Bachelor of Human Resource Management {% endblock %}
{% block dept_1_course_1_courseunit_list_1 %}
<li class="course_units"><b><i><a  href="#">NUHRM31101-Business Communication</a></i></b></li>
<li class="course_units"><b><i><a href="#">NUHRM31102-Computer Applications I</a></i></b></li>
<li class="course_units"><b><i><a  href="#">NUHRM31103-Organisation Theory</a></i></b></li>
<li class="course_units"><b><i><a  href="#">NUHRM31104-Business Statistics I</a></i></b></li>
<li class="course_units"><b><i><a href="#">NUHRM31105-Human Resource Management</a></i></b></li>
<li class="course_units"><b><i><a href="#">NUHRM31106-Organisation Development </a></i></b></li>
{% endblock %}
{% block dept_1_course_1_courseunit_list_2 %}
<li class="course_units"><b><i><a  href="#">NUHRM31201-Fundamentals of Accounting</a></i></b></li>
<li class="course_units"><b><i><a  href ="#">NUHRM31202-Microeconomics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">NUHRM13203-Computer Applications II</a></i></b></li>
<li class="course_units"><b><i><a  href="#">NUHRM13204-Leadership in Organisations</a></i></b></li>
<li class="course_units"><b><i><a  href="#">NUHRM13205-Quantitative Methods</a></i></b></li>
<li class="course_units"><b><i><a  href="#">NUHRM13206-Human Resource Policy and Practice</a></i></b></li>
{% endblock %}
{% block dept_1_course_1_courseunit_list_3 %}
<li class="course_units"><b><i><a  href="#">NUHRM32101-Intermediate Accounting</a></i></b></li>
<li class="course_units"><b><i><a  href="#">NUHRM32102-Administrative Law</a></i></b></li>
<li class="course_units"><b><i><a  href="#">NUHRM32103-Strategic Human Resource Management</a></i></b></li>
<li class="course_units"><b><i><a  href="#">NUHRM32104-Labour Economics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">NUHRM32105-Research Methods</a></i></b></li>
<li class="course_units"><b><i><a  href="#">NUHRM32106-Employee Training and Development</a></i></b></li>
{% endblock %}
{% block dept_1_course_1_courseunit_list_4 %}
<li class="course_units"><b><i><a  href="#">NUHRM32201-Employment Law</a></i></b></li>
<li class="course_units"><b><i><a  href="#">NUHRM32202-Ethics in Human Resource Management</a></i></b></li>
<li class="course_units"><b><i><a  href="#">NUHRM32203-Employee Relations</a></i></b></li>
<li class="course_units"><b><i><a  href="#">NUHRM32204-Human Resource Mgt Information Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="#">NUHRM32205-Financial Management</a></i></b></li>
<li class="course_units"><b><i><a  href="#">NUHRM32206-Performance Management and Assessment</a></i></b></li>
{% endblock %}
{% block dept_1_course_1_courseunit_list_5 %}
<li class="course_units"><b><i><a href="#">NUHRM33101-Employee Counselling</a></i></b></li>
<li class="course_units"><b><i><a href="#">NUHRM33102-Human Resource Planning</a></i></b></li>
<li class="course_units"><b><i><a href="#">NUHRM33103-Project Planning and Management</a></i></b></li>
<li class="course_units"><b><i><a href="#">NUHRM33104-Organization Staffing and Management</a></i></b></li>
<li class="course_units"><b><i><a href="#">NUHRM33105-Human Resource Competence Mapping</a></i></b></li>
<li class="course_units"><b><i><a href="#">NUHRM33106-Contemporary Human Resource Issues</a></i></b></li>
{% endblock %}
{% block dept_1_course_1_courseunit_list_6 %}
<li class="course_units"><b><i><a href="#">NUHRM33201-Reward Strategy and Management</a></i></b></li>
<li class="course_units"><b><i><a href="#">NUHRM33202-Law of Contract</a></i></b></li>
<li class="course_units"><b><i><a href="#">NUHRM33203-Public Relations</a></i></b></li>
<li class="course_units"><b><i><a href="#">NUHRM33204-International Human Resource Mgt</a></i></b></li>
<li class="course_units"><b><i><a href="#">NUHRM33205-Management Accounting</a></i></b></li>
<li class="course_units"><b><i><a href="#">NUHRM33206-Organisation Behaviour </a></i></b></li>
{% endblock %}
{% block dept_1_course_1_year_4 %}{% endblock %}
{% block dept_1_course2_name %}Diploma in Human Resource Management{% endblock %}
{% block dept_1_course_2_year_3 %}{% endblock %}
{% block dept_1_course_2_year_4 %}{% endblock %}
{% block dept_1_course_2_year_5 %}{% endblock %}
{% block dept_1_course3_name %}Diploma in Local Government & Finance Management{% endblock %}
{% block dept_1_course_3_year_3 %}{% endblock %}
{% block dept_1_course_3_year_4 %}{% endblock %}
{% block dept_1_course_3_year_5 %}{% endblock %}

{% block dept_1_course_list_4 %} {% endblock %}

{% block dept2_name %}Department of Leadership & Governance {% endblock %}
{% block dept_2_course1_name %}Bachelor Leadership & Governance{% endblock %}
{% block dept_2_course_1_year_4 %}{% endblock %}
{% block dept_2_course2_name %}Diploma in Project Planning & Management{% endblock %}
{% block dept_2_course_2_year_3 %}{% endblock %}
{% block dept_2_course_2_year_4 %}{% endblock %}
{% block dept_2_course_2_year_5 %}{% endblock %}

{% block dept_2_course_list_3 %} {% endblock %}
{% block dept_2_course_list_4 %} {% endblock %}

{% block sch_1_dept_10 %}{% endblock %}
{% block sch_1_dept_3 %}{% endblock %}




{% block col_sch_2 %}{% endblock %}
{% block col_sch_3 %}{% endblock %}
{% block quick_link_img %}<img id="university_links-img" src="../../img/mubs-logo.png" alt="MUBS Logo">{% endblock %}

