{% extends "gpa_elevator/templates/college-template.php" %}

{% block col_title %}
School of Arts and Social Sciences
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/umu/School_Of_Arts_and_Social_Sciences">{{ block('col_title') }}{% endblock %}
{% block nav_Courseunit %} {% endblock %}
{% block uni_title %}UMU{% endblock %}

{% block university_name %}UGANDA MARTYRS UNIVERSITY {% endblock %}

{% block col_name %} SCHOOL OF ARTS AND SOCIAL SCIENCES {% endblock %}

{% block sch1_title_box %}{% endblock %}

{% block dept1_name %}Degree Courses {% endblock %}

{% block dept_1_course1_name %} Bachelor of Arts in Democracy & Development Studies{% endblock %}
{% block dept_1_course_1_year_4 %}{% endblock %}
{% block dept_1_course2_name %}Bachelor of Arts in Ethics & Development Studies{% endblock %}
{% block dept_1_course_2_year_4 %}{% endblock %}
{% block dept_1_course_2_year_5 %}{% endblock %}
{% block dept_1_course3_name %}Bachelor of Arts in Kiswahili{% endblock %}
{% block dept_1_course_3_year_4 %}{% endblock %}
{% block dept_1_course4_name %} Bachelor of Arts in Local Governance & Human Rights {% endblock %}
{% block dept_1_course_4_year_4 %}{% endblock %}
{% block dept_2 %}{% endblock %}

{% block dept_2_course1_name %} Bachelor of Journalism & Mass Communiation{% endblock %}
{% block dept_2_course_1_year_4 %}{% endblock %}
{% block dept_2_course2_name %}Bachelor of Public Administration & Management{% endblock %}
{% block dept_2_course_2_year_4 %}{% endblock %}
{% block dept_2_course_2_year_5 %}{% endblock %}
{% block dept_2_course3_name %}Bachelor of Social Development & Counselling{% endblock %}
{% block dept_2_course_3_year_4 %}{% endblock %}
{% block dept_2_course4_name %} Bachelor of Social Work & Social Administration{% endblock %}
{% block dept_2_course_4_year_4 %}{% endblock %}
{% block dept_3 %}{% endblock %}

{% block dept_3_course1_name %} Bachelor of Arts in Fashion & Textile Design {% endblock %}
{% block dept_3_course_1_year_4 %}{% endblock %}
{% block dept_3_course_list_2 %} {% endblock %}
{% block dept_3_course_list_3 %} {% endblock %}
{% block dept_3_course_list_4 %} {% endblock %}
{% block sch_1_dept_10 %}{% endblock %}

{% block sch2_title_box %}{% endblock %}

{% block dept4_name %}Diploma Courses {% endblock %}
{% block dept_4_course1_name %}Diploma in Democracy and Development Studies{% endblock %}
{% block dept_4_course_1_year_3 %}{% endblock %}
{% block dept_4_course_1_year_4 %}{% endblock %}
{% block dept_4_course2_name %}Diploma in Kiswahili{% endblock %}
{% block dept_4_course_2_year_3 %}{% endblock %}
{% block dept_4_course_2_year_4 %}{% endblock %}
{% block dept_4_course_2_year_5 %}{% endblock %}
{% block dept_4_course3_name %}Diploma in Local Governance and Human Rights{% endblock %}
{% block dept_4_course_3_year_3 %}{% endblock %}
{% block dept_4_course_3_year_4 %}{% endblock %}
{% block dept_4_course4_name %}Diploma in Transformative Education and Faith{% endblock %}
{% block dept_4_course_4_year_3 %}{% endblock %}
{% block dept_4_course_4_year_4 %}{% endblock %}


{% block sch_2_dept_2 %}{% endblock %}
{% block sch_2_dept_3 %}{% endblock %}

{% block col_sch_3 %}{% endblock %}
{% block quick_link_img %}<img id="university_links-img" src="../../img/umu-logo.png" alt="Uganda Martyrs University Business School Logo">{% endblock %}

