{% extends "gpa_elevator/templates/college-template.php" %}

{% block col_title %}
College of Agricultural & Environmentals
{% endblock %}

{% block nav_col_name %}<a href="http://localhost/Home/caes">CAES{% endblock %}
{% block nav_Courseunit %} {% endblock %}


{% block col_name %}COLLEGE OF AGRICULTURAL & ENVIRONMENTAL SCIENCES (CAES){% endblock %}

{% block sch1_title %}SCHOOL OF AGRICULTURAL SCIENCES{% endblock %}

{% block dept1_name %}Department of Agricultural Production {% endblock %}
{% block dept_1_course1_name %}Bachelor Of Science In Horticulture {% endblock %}
{% block dept_1_course2_name %} Bachelor Of Science In Agriculture{% endblock %}
{% block dept_1_course_2_year_4 %}{% endblock %}
{% block dept_1_course_2_year_5 %}{% endblock %}

{% block dept_1_course3_name %}Bachelor Of Science in Agricultural Land Use & Management{% endblock %}
{% block dept_1_course_3_year_4 %}{% endblock %}

{% block dept2_name %}Department Of Extension & Innovation Studies {% endblock %}
{% block dept_2_course1_name %}Bachelor of Agriculture & Rural Innovations {% endblock %}
{% block dept_2_course2_name %} Bachelor of Agricultural Extension Education {% endblock %}
{% block dept_2_course_2_year_4 %}{% endblock %}
{% block dept_2_course_2_year_5 %}{% endblock %}

{% block dept_2_course3_name %} Bachelor of Social & Entrepreneurial Forestry {% endblock %}

{% block dept3_name %}Department Of Agribusiness & Natural Resource Economics {% endblock %}
{% block dept_3_course1_name %}Bachelor of Agribusiness Management  {% endblock %}

{% block sch_1_dept_10 %} {% endblock %}

{% block sch2_title %}SCHOOL OF FORESTRY, ENVIRONMENTAL & GEOGRAPHICAL SCIENCES{% endblock %}
{% block dept4_name %}Department Of Forestry, Biodiversity & Tourism {% endblock %}
{% block dept_4_course1_name %} Bachelor of Forestry  {% endblock %}
{% block dept_4_course2_name %} Bachelor of Social & Entrepreneurial Forestry {% endblock %}
{% block dept_4_course3_name %} Bachelor of Tourism & Hospitality Management {% endblock %}


{% block dept5_name %}Department Of Environmental Management {% endblock %}
{% block dept_5_course1_name %} Bachelor of Environment Science {% endblock %}
{% block dept_5_course_list_2 %} {% endblock %}
{% block dept_5_course_list_3 %} {% endblock %}
{% block dept_5_course_list_4 %} {% endblock %}


{% block dept6_name %}Department Of Geography, Geo-Informatics & Climatic Sciences {% endblock %}
{% block dept_6_course1_name %} Bachelor of Meteorology {% endblock %}
{% block dept_6_course2_name %} Bachelor of Geographical Sciences {% endblock %}
{% block dept_6_course3_name %} Postgraduate Diploma in Meteorology {% endblock %}

{% block sch3_title %}SCHOOL OF FOOD TECHNOLOGY, NUTRITION & BIO-ENGINEERING{% endblock %}
{% block dept7_name %}Department Of Food Technology & Nutrition {% endblock %}
{% block dept_7_course1_name %} Bachelor of Human Nutrition {% endblock %}
{% block dept_7_course_1_year_4 %}{% endblock %}

{% block dept_7_course2_name %} Bachelor of Food Science and Technology {% endblock %}
{% block dept_7_course_2_year_5 %}{% endblock %}

{% block dept8_name %}Department Of Agricultural & Bio-Systems Engineering {% endblock %}
{% block dept_8_course1_name %}Bachelor of Agricultural Engineering {% endblock %}
{% block dept_8_course2_name %} Bachelor of Conservation Forestry{% endblock %}
{% block dept_8_course3_name %} Bachelor of Wood Technology  {% endblock %}
{% block dept_8_course4_name %}   {% endblock %}

{% block sch_3_dept_3 %} {% endblock %}



{% block dept_2_course_list_3 %} {% endblock %}

{% block dept_3_course_list_2 %} {% endblock %}
{% block dept_3_course_list_3 %} {% endblock %}




{% block dept_7_course_list_3 %} {% endblock %}


{% block dept_9_course_list_3 %} {% endblock %}


{% block dept_1_course_list_4 %} {% endblock %}

{% block dept_2_course_list_4 %} {% endblock %}

{% block dept_3_course_list_4 %} {% endblock %}

{% block dept_4_course_list_4 %} {% endblock %}


{% block dept_6_course_list_4 %} {% endblock %}

{% block dept_7_course_list_4 %} {% endblock %}

{% block dept_9_course_list_4 %} {% endblock %}
