{% extends "gpa_elevator/templates/college-template.php" %}

{% block col_title %}
School of Medicine
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/ucu/School_Of_Medicine">{{ block('col_title') }}{% endblock %}
{% block nav_Courseunit %} {% endblock %}
{% block uni_title %}Ucu {% endblock %}

{% block university_name %}UGANDA CHRISTIAN UNIVERSITY {% endblock %}

{% block col_name %} UCU SCHOOL OF MEDICINE {% endblock %}

{% block sch1_title_box %}{% endblock %}

{% block dept1_name %}Department of Medicine{% endblock %}
{% block dept_1_course1_name %} Bachelor of Medicine & Surgery{% endblock %}
{% block dept_1_course2_name %}Bachelor of Dental Surgery{% endblock %}
{% block dept_1_course_2_year_5 %}{% endblock %}
{% block dept_1_course_list_3 %} {% endblock %}
{% block dept_1_course_list_4 %} {% endblock %}



{% block dept2_name %}Department of Public Health {% endblock %}
{% block dept_2_course1_name %} Bachelor of Community Health{% endblock %}
{% block dept_2_course_1_year_4 %}{% endblock %}
{% block dept_2_course2_name %}Bachelor of Health Administration{% endblock %}
{% block dept_2_course_2_year_5 %}{% endblock %}
{% block dept_2_course3_name %}Bachelor of Human Nutrition and Dietetics{% endblock %}
{% block dept_2_course_3_year_4 %}{% endblock %}
{% block dept_2_course4_name %}Diploma of Health Administration{% endblock %}
{% block dept_2_course_4_year_3 %}{% endblock %}
{% block dept_2_course_4_year_4 %}{% endblock %}


{% block dept3_name %}Department of Nursing{% endblock %}
{% block dept_3_course1_name %} Bachelor of Nursing Science{% endblock %}
{% block dept_3_course_1_year_4 %}{% endblock %}
{% block dept_3_course_list_2 %} {% endblock %}
{% block dept_3_course_list_3 %} {% endblock %}
{% block dept_3_course_list_4 %} {% endblock %}

{% block sch_1_dept_10 %}{% endblock %}
{% block col_sch_2 %}{% endblock %}
{% block col_sch_3 %}{% endblock %}


{% block quick_link_img %}<img id="university_links-img" src="../../img/ucu-logo.jpg" alt="Uganda Christian University Logo">{% endblock %}

