{% extends "gpa_elevator/templates/college-template.php" %}


{% block col_title %}
College of Veterinary Medicine,Animal Resources & Biosecurity
{% endblock %}
  {% block nav_col_name %}<a href="http://localhost/Home/covab">COVABS{% endblock %}
    {% block nav_Courseunit %} {% endblock %}
{% block col_name %} COLLEGE OF VETERINARY MEDICINE,ANIMAL RESOURCES & BIOSECURITY (CoVAB) {% endblock %}

{% block sch1_title %}SCHOOL OF VETERINARY MEDICINE AND ANIMAL RESOURCES{% endblock %}

{% block dept1_name %}Department of Veterinary Pharmacy, Clinical and Comparative Medicine{% endblock %}
{% block dept_1_course1_name %} Bachelor Of Veterinary Medicine (BVM) {% endblock %}

{% block dept_1_course_1_year_4 %} {% endblock %}
{% block dept_1_course_list_2 %}{% endblock %}
{% block dept_1_course_list_3 %}{% endblock %}
{% block dept_1_course_list_4 %}{% endblock %}

{% block dept2_name %}Department of Livestock and Industrial Resources{% endblock %}
{% block dept_2_course1_name %}Bachelor Of Animal Production Technology & Management (BAP) {% endblock %}

{% block dept_2_course_1_year_4 %} {% endblock %}
{% block dept_2_course2_name %}Bachelor Of Livestock Industrial Business (BLB) {% endblock %}

{% block dept_2_course_2_year_4 %} {% endblock %}
{% block dept_2_course_2_year_5 %} {% endblock %}
{% block dept_2_course_list_3 %}{% endblock %}
{% block dept_2_course_list_4 %}{% endblock %}

{% block dept3_name %}Department of Wildlife and Aquatic Animal Resources{% endblock %}
{% block dept_3_course1_name %}Bechelor Of Science In Wildlife Health & Management (WHM) {% endblock %}

{% block dept_3_course_1_year_4 %} {% endblock %}
{% block dept_3_course_list_2 %}{% endblock %}
{% block dept_3_course_list_3 %}{% endblock %}
{% block dept_3_course_list_4 %}{% endblock %}

{% block sch_1_dept_10 %} {% endblock %}

{% block sch2_title %}SCHOOL OF BIO-SECURITY,BIO-TECHINICAL & LABAROTORY SCIENCES {% endblock %}

{% block dept4_name %}{% endblock %}
{% block dept_4_course1_name %} Bachelor Of Biomedical Laboratory Technology {% endblock %}

{% block dept_4_course_1_year_4 %} {% endblock %}
{% block dept_4_course_list_2 %}{% endblock %}
{% block dept_4_course_list_3 %}{% endblock %}
{% block dept_4_course_list_4 %}{% endblock %}


{% block sch_2_dept_2 %}{% endblock %}
{% block sch_2_dept_3 %}{% endblock %}
{% block col_sch_3 %}{% endblock %}

{% block stylesheets %}
<link rel="dns-prefetch" href="https://fonts.googleapis.com/">
<link href="https://pagecdn.io/lib/easyfonts/fonts.css" rel="stylesheet" />
<link rel="dns-prefetch" href="https://s.w.org/">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/owl.carousel.css">
<link rel="stylesheet" href="../../css/owl.theme.default.css">
<link rel="stylesheet" href="../../css/all.css">
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/navigation.css">
<link rel="stylesheet" href="../../css/form.css">
<link rel="stylesheet" href="../../css/main.css">
{% endblock %}   
{% block js_links %}
  <script type="text/javascript" src="../../js/jquery-3.4.1.min.js"></script>
  <link rel="stylesheet" id="msnb_notice_style-css" href="../../css/msnb_style.css" type="text/css" media="all">
  <script type="text/javascript" src="../../js/popper.min.js"></script>
  <script type="text/javascript" src="../../js/all.js"></script>
  <link rel="stylesheet" href="../../css/academicons.min.css">
  <link rel="stylesheet" href="../../css/media-queries.css">
  <link rel="stylesheet" href="../../css/theme-utils.css">
  <script type="text/javascript" src="../../js/elevator.js"></script>
  <script type="text/javascript" src="../../js/owl.carousel.js"></script>
  <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
{% endblock %}