{% extends "gpa_elevator/templates/college-template.php" %}


{% block col_title %}
Faculty Of Built Environment
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/umu/Faculty_Of_Built_Environment">{{ block('col_title') }}{% endblock %}
{% block nav_Courseunit %} {% endblock %}
{% block uni_title %}UMU{% endblock %}

{% block university_name %}UGANDA MARTYRS UNIVERSITY {% endblock %}

{% block col_name %} FACULTY OF BUILT ENVIRONMENT {% endblock %}

{% block sch1_title_box %}{% endblock %}

{% block dept1_name %}Degree Courses {% endblock %}

{% block dept_1_course1_name %} Bachelor of environmental design  {% endblock %}
{% block dept_1_course_1_year_4 %}{% endblock %}
{% block dept_1_course_list_2 %} {% endblock %}
{% block dept_1_course_list_3 %} {% endblock %}
{% block dept_1_course_list_4 %} {% endblock %}

{% block dept2_name %}Diploma Courses {% endblock %}
{% block dept_2_course1_name %}Graduate diploma in environmental design{% endblock %}
{% block dept_2_course_1_year_3 %}{% endblock %}
{% block dept_2_course_1_year_4 %}{% endblock %}

{% block dept_2_course_list_2 %} {% endblock %}
{% block dept_2_course_list_3 %} {% endblock %}
{% block dept_2_course_list_4 %} {% endblock %}

{% block sch_1_dept_10 %}{% endblock %}
{% block sch2_title_box %}{% endblock %}
{% block sch_1_dept_3 %}{% endblock %}
{% block sch_1_dept_4 %}{% endblock %}



{% block col_sch_2 %}{% endblock %}
{% block col_sch_3 %}{% endblock %}
{% block quick_link_img %}<img id="university_links-img" src="../../img/umu-logo.png" alt="Uganda Martyrs University Business School Logo">{% endblock %}

