{% extends "gpa_elevator/templates/college-template.php" %}


{% block col_title %}
Faculty of Interdisciplinary Studies
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/must/Faculty_Of_Interdisciplinary_Stud">{{ block('col_title') }}{% endblock %}
{% block nav_Courseunit %} {% endblock %}
{% block uni_title %}Must{% endblock %}

{% block university_name %}MBARARA UNIVERSITY OF SCIENCE AND TECHNOLOGY {% endblock %}

{% block col_name %} FACULTY OF INTERDISCIPLINARY STUDIES {% endblock %}
{% block sch1_title_box %}{% endblock %}

{% block dept1_name %}Department of Human Development & Relational Sciences{% endblock %}
{% block dept_1_course1_name %} Bachelors of Gender & Women Health (BGWH) {% endblock %}
{% block dept_1_course_list_2 %} {% endblock %}
{% block dept_1_course_list_3 %} {% endblock %}
{% block dept_1_course_list_4 %} {% endblock %}

{% block dept2_name %}Department of Planning & Governance {% endblock %}
{% block dept_2_course1_name %} Bachelors Of Planning & Community Development (BPCD) {% endblock %}
{% block dept_2_course_1_year_4 %}{% endblock %}
{% block dept_2_course2_name %}Post Graduate Diploma in Criminology {% endblock %}
{% block dept_2_course_2_year_3 %}{% endblock %}
{% block dept_2_course_2_year_4 %}{% endblock %}
{% block dept_2_course_2_year_5 %}{% endblock %}
{% block dept_2_course_list_3 %} {% endblock %}
{% block dept_2_course_list_4 %} {% endblock %}

{% block dept3_name %}Department of Environment & Livelihoods Support Systems {% endblock %}
{% block dept_3_course1_name %} Bachelors of Science in Agricultural Livelihoods & Farm Production{% endblock %}
{% block dept_3_course_1_year_4 %}{% endblock %}

{% block dept_3_course_list_2 %} {% endblock %}
{% block dept_3_course_list_3 %} {% endblock %}
{% block dept_3_course_list_4 %} {% endblock %}

{% block col_sch_2%}{% endblock %}
{% block col_sch_3 %}{% endblock %}
{% block sch_1_dept_10 %}{% endblock %}


{% block quick_link_img %}<img id="university_links-img" src="../../img/must-logo.png" alt="Mbarara University Of Science and Technology Logo">{% endblock %}

