{% extends "gpa_elevator/templates/college-template.php" %}

{% block col_title %}
Faculty of Journalism, Media & Communication
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/ucu/Faculty_Of_Journalism_Media_and_Comm">{{ block('col_title') }}{% endblock %}
{% block nav_Courseunit %} {% endblock %}
{% block uni_title %}UCU {% endblock %}

{% block university_name %}UGANDA CHRISTIAN UNIVERSITY {% endblock %}

{% block col_name %} FACULTY OF JOURNALISM, MEDIA & COMMUNICATION {% endblock %}

{% block sch1_title_box %}{% endblock %}
{% block dept1_name %}Department of Mass Communication{% endblock %}

{% block dept_1_course1_name %} Bachelor of Arts in Mass Communication {% endblock %}
{% block dept_1_course_1_year_4 %}{% endblock %}


{% block dept_1_course_list_2 %}{% endblock %}
{% block dept_1_course_list_3 %}{% endblock %}
{% block dept_1_course_list_4 %}{% endblock %}
{% block sch_1_dept_2 %}{% endblock %}
{% block sch_1_dept_3 %}{% endblock %}
{% block sch_1_dept_10 %}{% endblock %}
{% block col_sch_2 %} {% endblock %}
{% block col_sch_3 %} {% endblock %}

{% block quick_link_img %}<img id="university_links-img" src="../../img/ucu-logo.jpg" alt="Uganda Christian University Logo">{% endblock %}
