
<form action="http://localhost/edit/pass"method="post" >
<div id="field">
<label for="CurrentPassword"> CurrentPassword
<input type="password" name= "current_password" id="current_password">
</label>
</div>

<div id="field">
<label for="NewPassword">NewPassword
<input type="password" name= "New_password" id="New_password">
</label>
</div>
<div id="field"> 
<label for="NewPassword">NewPasswordAgain
<input type="password" name= "new_password_again" id="new_password_again">

</label>
<input type="hidden" name="token" value="{{ token }}">
</div>
<input type="submit" value="change">
</form>