<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {%if loggedIn %}
            Welcome  {{ user }}


            <ul>
                <li> <a href ="http://localhost/login/logout" >logout </a> </li>
                <li> <a href ="Home/edit" >update information </a> </li>
                <li> <a href ="Home/pass" >changePassword </a> </li>
                </ul>
        {% else %}

        you need to <a href="Home/login"> signin</a> or  <a href="Home/register">register</a>
       
        {% endif%}
</body>
</html>