{% extends "gpa_elevator/templates/college-template.php" %}


{% block col_title %}
Faculty of Arts and Social Sciences
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/Faculty_of_Arts_and_Social_Science/index">{{ block('col_title') }}{% endblock %}
{% block nav_Courseunit %} {% endblock %}
{% block uni_title %}Kyu{% endblock %}

{% block university_name %}KYAMBOGO UNIVERSITY {% endblock %}

{% block col_name %} FACULTY OF ARTS AND SOCIAL SCIENCES {% endblock %}

{% block sch1_title_box %}{% endblock %}

{% block dept1_name %}Department of Development Studies{% endblock %}
{% block dept_1_course1_name %} Bachelor of Engineering in Civil & Building Engineering{% endblock %}
{% block dept_1_course2_name %}Higher Diploma In Civil & Building Engineering {% endblock %}
{% block dept_1_course_2_year_3 %}{% endblock %}
{% block dept_1_course_2_year_4 %}{% endblock %}
{% block dept_1_course_2_year_5 %}{% endblock %}
{% block dept_1_course3_name %}Diploma In Civil & Building Engineering {% endblock %}
{% block dept_1_course_3_year_3 %}{% endblock %}
{% block dept_1_course_3_year_4 %}{% endblock %}
{% block dept_1_course4_name %}Diploma In Water Engineering {% endblock %}
{% block dept_1_course_4_year_3 %}{% endblock %}
{% block dept_1_course_4_year_4 %}{% endblock %}


{% block dept2_name %}Department of Economics and Statistics{% endblock %}
{% block dept_2_course1_name %} Bachelor of Electrical Engineering{% endblock %}
{% block dept_2_course2_name %}Bachelor Of Engineering In Telecommunication Engineering {% endblock %}
{% block dept_2_course3_name %}Bachelor Of Mechatronics & Biomedical Engineering {% endblock %}
{% block dept_2_course4_name %}Higher Diploma In Electrical Engineering {% endblock %}
{% block dept_2_course_4_year_3 %}{% endblock %}
{% block dept_2_course_4_year_4 %}{% endblock %}

{% block dept3_name %}Department of Geography and Social Studies{% endblock %}
{% block dept_3_course1_name %} Bachelor of Engineering in Mechanical & Manufacturing Engineering{% endblock %}
{% block dept_3_course2_name %}Bachelor Of Engineering In Automative & Power Engineering {% endblock %}
{% block dept_3_course3_name %}Bachelor Of Environmental Engineering & Management {% endblock %}
{% block dept_3_course4_name %}Bachelor Of Industrial Engineering & Management {% endblock %}
{% block dept_3_course_4_year_3 %}{% endblock %}
{% block dept_3_course_4_year_4 %}{% endblock %}

{% block dept_4 %}{% endblock %}
{% block dept4_name %}Department of History and Political Science{% endblock %}
{% block dept5_name %}Department of Languages and Communications{% endblock %}
{% block dept6_name %}Department of Literature{% endblock %}

{% block dept7_name %}Department of Music and Performing Arts{% endblock %}
{% block dept_7_course1_name %} Bachelor of Performing Arts{% endblock %}
{% block dept_7_course2_name %} Bachelor of Education (Secondary){% endblock %}
{% block dept_7_course3_name %} Bachelor of Education ( Primary){% endblock %}
{% block dept_7_course4_name %} Bachelor of Teacher Education{% endblock %}

{% block dept8_name %}Department of Sociology and Social Administration{% endblock %}
{% block dept9_name %}Department of Religious Studies and Philosophy{% endblock %}

{% block sch2_title_box %}{% endblock %}
{% block sch3_title_box %}{% endblock %}
{% block sch_1_dept_10 %}{% endblock %}

{% block dept_1_course_list_3 %} {% endblock %}
{% block dept_2_course_list_3 %} {% endblock %}

{% block dept_3_course_list_3 %} {% endblock %}

{% block dept_4_course_list_3 %} {% endblock %}
{% block dept_5_course_list_3 %} {% endblock %}

{% block dept_6_course_list_3 %} {% endblock %}

{% block dept_8_course_list_3 %} {% endblock %}

{% block dept_9_course_list_3 %} {% endblock %}


{% block dept_1_course_list_4 %} {% endblock %}

{% block dept_2_course_list_4 %} {% endblock %}

{% block dept_3_course_list_4 %} {% endblock %}

{% block dept_4_course_list_4 %} {% endblock %}
{% block dept_5_course_list_4 %} {% endblock %}

{% block dept_6_course_list_4 %} {% endblock %}

{% block dept_8_course_list_4 %} {% endblock %}

{% block dept_9_course_list_4 %} {% endblock %}

{% block quick_link_img %}<img id="university_links-img" src="../../img/kyu-logo.jpg" alt="Kyambogo University Logo">{% endblock %}

{% block quick_links %} 
<li class="link-item"><a href="https://kyu.ac.ug/">University Website</a></li>
<li class="link-item"><a href="https://student.kyu.ac.ug/portal-1.6/?cache">Students Portal</a></li>
<li class="link-item"><a href="https://kyu.ac.ug/kyambogo-university-map/">University Location</a></li>
<li class="link-item"><a href="https://kelms.kyu.ac.ug/">e-Learning</a></li>
<li class="link-item"><a href="https://admissions.kyu.ac.ug/">Admissions Portal</a></li>
<li class="link-item"><a href="https://kyu.ac.ug/scholarship/">Scholarship</a></li>
{% endblock %}