{% extends "gpa_elevator/templates/courseunit-template.php" %}

{% block col_title %}
CIV2102-Engineering Geology
{% endblock %}

{% block nav_col_name %}<a href="http://localhost/cedat/index">Cedat{% endblock %}
{% block Course_unit_name %}<a href="http://localhost/cedat/CIV2102">{{ block('coursecode') }} {% endblock %}

{% block courseunit %}{{ block('coursecode') }}:Engineering Geology	 {% endblock %}
{% block coursecode %}CIV2102{% endblock %}
{% block courseName %} Bachelor Of Science In Civil Engineering  {% endblock %}

{% block ref_textbks %} {% endblock %}


{% block courseunit_link_1 %} <a href="http://localhost/cedat/CIV2103" id="other_course_unit-linkbutton" class="link-item btn--pink">CIV2103-Engineering Surveying I{% endblock courseunit_link_1 %}
{% block courseunit_link_2 %} <a href="http://localhost/cedat/CIV2101" class="link-item btn--lightgreen" id="other_course_unit-linkbutton">CIV2101-Theory of Structures I{% endblock courseunit_link_2 %}
    