{% extends "gpa_elevator/templates/courseunit-template.php" %}

{% block col_title %}
CIV3101-Organizational Theory for Engineering
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/cedat/index">Cedat{% endblock %}
{% block Course_unit_name %}<a href="http://localhost/cedat/CIV3101">{{ block('coursecode') }} {% endblock %}
{% block courseunit %} {{ block('coursecode') }}:Organizational Theory for Engineering{% endblock %}
{% block coursecode %}CIV3101{% endblock %}
{% block courseName %} Bachelor Of Science In Civil Engineering  {% endblock %}

{% block ref_textbks %} {% endblock %}

{% block courseunit_link_1 %} <a href="http://localhost/cedat/CIV3102" id="other_course_unit-linkbutton" class="link-item btn--pink">CIV3102-Design of Structures I {% endblock courseunit_link_1 %}
{% block courseunit_link_2 %} <a href="http://localhost/cedat/CIV3103" class="link-item btn--lightgreen" id="other_course_unit-linkbutton">CIV3103-Highway Engineering{% endblock courseunit_link_2 %}
