{% extends "gpa_elevator/templates/courseunit-template.php" %}

{% block col_title %}
CIV3104-Hydrology I
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/cedat/index">Cedat{% endblock %}
{% block Course_unit_name %}<a href="http://localhost/cedat/CIV3104">{{ block('coursecode') }} {% endblock %}
{% block courseunit %} {{ block('coursecode') }}:Hydrology I{% endblock %}
{% block coursecode %}CIV3104{% endblock %}
{% block courseName %} Bachelor Of Science In Civil Engineering  {% endblock %}

{% block ref_textbks %} {% endblock %}

{% block courseunit_link_1 %} <a href="http://localhost/cedat/CIV3105" id="other_course_unit-linkbutton" class="link-item btn--pink">CIV3105-Construction Technology{% endblock courseunit_link_1 %}
{% block courseunit_link_2 %} <a href="http://localhost/cedat/CIV3106" class="link-item btn--lightgreen" id="other_course_unit-linkbutton">CIV3106-Environmental Chemistry{% endblock courseunit_link_2 %}
    