{% extends "gpa_elevator/templates/courseunit-template.php" %}

{% block col_title %}
CIV4103-Traffic & Transportation Engineering
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/cedat/index">Cedat{% endblock %}
{% block Course_unit_name %}<a href="http://localhost/cedat/CIV4103">{{ block('coursecode') }} {% endblock %}
{% block courseunit %} {{ block('coursecode') }}:Traffic & Transportation Engineering{% endblock %}
{% block coursecode %}CIV4103{% endblock %}
{% block courseName %} Bachelor Of Science In Civil Engineering  {% endblock %}

{% block ref_textbks %} {% endblock %}

{% block courseunit_link_1 %} <a href="http://localhost/cedat/CIV4104" id="other_course_unit-linkbutton" class="link-item btn--pink">CIV4104-Public Health Engineering II{% endblock courseunit_link_1 %}
{% block courseunit_link_2 %} <a href="http://localhost/cedat/CIV4105" class="link-item btn--lightgreen" id="other_course_unit-linkbutton">CIV4105-Design of Structures III{% endblock courseunit_link_2 %}
