{% extends "gpa_elevator/templates/courseunit-template.php" %}

{% block col_title %}
CIV4100-Civil Engineering Project I
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/cedat/index">Cedat{% endblock %}
{% block Course_unit_name %}<a href="http://localhost/cedat/CIV4100">{{ block('coursecode') }} {% endblock %}
{% block courseunit %} {{ block('coursecode') }}:Civil Engineering Project I{% endblock %}
{% block coursecode %}CIV4100{% endblock %}
{% block courseName %} Bachelor Of Science In Civil Engineering  {% endblock %}

{% block ref_textbks %} {% endblock %}

{% block courseunit_link_1 %} <a href="http://localhost/cedat/CIV4101" id="other_course_unit-linkbutton" class="link-item btn--pink">CIV4101-Civil Engineering Management{% endblock courseunit_link_1 %}
{% block courseunit_link_2 %} <a href="http://localhost/cedat/CIV4102" class="link-item btn--lightgreen" id="other_course_unit-linkbutton">CIV4102-Civil Engineering Infrastructure Maintainace{% endblock courseunit_link_2 %}
