{% extends "gpa_elevator/templates/courseunit-template.php" %}

{% block col_title %}
CIV4202-Water Resources Engineering II
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/cedat/index">Cedat{% endblock %}
{% block Course_unit_name %}<a href="http://localhost/cedat/CIV4202">{{ block('coursecode') }} {% endblock %}
{% block courseunit %} {{ block('coursecode') }}:Water Resources Engineering II{% endblock %}
{% block coursecode %}CIV4202{% endblock %}
{% block courseName %} Bachelor Of Science In Civil Engineering  {% endblock %}

{% block ref_textbks %} {% endblock %}

{% block courseunit_link_1 %} <a href="http://localhost/cedat/CIV4203" id="other_course_unit-linkbutton" class="link-item btn--pink">CIV4203-Civil Engineering Economy{% endblock courseunit_link_1 %}
{% block courseunit_link_2 %} <a href="http://localhost/cedat/CIV4204" class="link-item btn--lightgreen" id="other_course_unit-linkbutton">CIV4204-Environmental Quality Management{% endblock courseunit_link_2 %}
