{% extends "gpa_elevator/templates/courseunit-template.php" %}


{% block col_title %}
EMT2201-Engineering Mathematics IV	
{% endblock %}

{% block courseunit %}EMT2201:Engineering Mathematics IV	 {% endblock %}
{% block nav_col_name %}<a href="http://localhost/cedat/index">Cedat{% endblock %}
{% block Course_unit_name %}<a href="http://localhost/cedat/EMT2201">{{ block('coursecode') }} {% endblock %}
{% block coursecode %}EMT2201{% endblock %}
{% block courseName %} Bachelor Of Science In Civil Engineering  {% endblock %}

{% block ref_textbks %} {% endblock %}


{% block courseunit_link_1 %} <a href="http://localhost/cedat/CMP1202" id="other_course_unit-linkbutton" class="link-item btn--pink">CMP1202-Electronics II{% endblock courseunit_link_1 %}
{% block courseunit_link_2 %} <a href="http://localhost/cedat/CMP1203" class="link-item btn--lightgreen" id="other_course_unit-linkbutton">CMP1201-Comp Archit. {% endblock courseunit_link_2 %}
    