{% extends "gpa_elevator/templates/college-template.php" %}

{% block col_title %}
College of Education & External Studies
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/Home/cees">Cees{% endblock %}
{% block nav_Courseunit %} {% endblock %}
{% block col_name %} COLLEGE OF EDUCATION AND EXTERNAL STUDIES (CEES) {% endblock %}

{% block sch1_title %}SCHOOL OF EDUCATION {% endblock %}
{% block dept1_name %}Department of Science, Technology & Vocational Education (DSTVE){% endblock %}
{% block dept_1_course1_name %} Bachelor of Science with Education (Physical) {% endblock %}
{% block dept_1_course_1_year_4 %}{% endblock %}

{% block dept_1_course2_name %} Bachelor of Science with Education (Biological) {% endblock %}
{% block dept_1_course_2_year_4 %}{% endblock %}
{% block dept_1_course_2_year_5 %}{% endblock %}
{% block dept_1_course3_name %} Bachelor of Science with Education (Economics) {% endblock %}
{% block dept_1_course_3_year_4 %}{% endblock %}

{% block dept2_name %}Department of Humanities and Language Education (DHLE){% endblock %}
{% block dept_2_course1_name %} Bachelor of Arts with Education {% endblock %}
{% block dept_2_course_1_year_4 %}{% endblock %}
{% block dept_2_course_list_2 %} {% endblock %}

{% block dept3_name %}Department of Foundations & Curriculum Studies (DFCS){% endblock %}
{% block dept_3_course1_name %} Bachelor of Science with Education{% endblock %}
{% block dept_3_course_1_year_4 %}{% endblock %}
{% block dept_3_course_list_2 %} {% endblock %}

{% block sch_1_dept_10 %} {% endblock %}


{% block sch2_title %}SCHOOL OF DISTANCE AND LIFELONG LEARNING {% endblock %}
{% block dept4_name %}Department of Open & Distance Learning (DODL)  {% endblock %}
{% block dept_4_course1_name %} Bachelor of Commerce (External) {% endblock %}
{% block dept_4_course2_name %} Bachelor of Science (External) {% endblock %}
{% block dept_4_course_2_year_4 %}{% endblock %}
{% block dept_4_course_2_year_5 %}{% endblock %}
{% block dept_4_course3_name %}Bachelor of Education (External)  {% endblock %}
{% block dept_4_course_3_year_4 %}{% endblock %}

{% block dept_4_course4_name %}Bachelor in Youth development work   {% endblock %}
{% block dept_4_course_4_year_4 %}{% endblock %}

{% block dept5_name %}Department of Adult & Community Education (DACE) {% endblock %}
{% block dept_5_course1_name %} Bachelor of Adult and Community Education{% endblock %}
{% block dept_5_course_1_year_4 %}{% endblock %}
{% block dept_5_course_list_2 %} {% endblock %}
{% block sch_2_dept_3 %} {% endblock %}

{% block col_sch_3 %}{% endblock %}
{% block sch3_title %}SCHOOL OF HIGHER EDUCATIONAL STUDIES AND DEVELOPMENT {% endblock %}
{% block dept7_name %}Centre for Lifelong Learning (CLL){% endblock %}
{% block dept8_name %}The Centre for Teaching and Learning Support (CTLS){% endblock %}
{% block sch_3_dept_3 %} {% endblock %}


{% block dept_2_course_list_3 %} {% endblock %}

{% block dept_3_course_list_3 %} {% endblock %}

{% block dept_5_course_list_3 %} {% endblock %}

{% block dept_6_course_list_3 %} {% endblock %}

{% block dept_7_course_list_3 %} {% endblock %}

{% block dept_8_course_list_3 %} {% endblock %}

{% block dept_9_course_list_3 %} {% endblock %}


{% block dept_1_course_list_4 %} {% endblock %}

{% block dept_2_course_list_4 %} {% endblock %}

{% block dept_3_course_list_4 %} {% endblock %}

{% block dept_5_course_list_4 %} {% endblock %}

{% block dept_6_course_list_4 %} {% endblock %}

{% block dept_7_course_list_4 %} {% endblock %}

{% block dept_8_course_list_4 %} {% endblock %}

{% block dept_9_course_list_4 %} {% endblock %}















