{% extends "gpa_elevator/templates/college-template.php" %}


{% block col_title %}
Faculty of Medicine
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/must/Faculty_Of_Medicine">{{ block('col_title') }}{% endblock %}
{% block nav_Courseunit %} {% endblock %}
{% block uni_title %}Must{% endblock %}

{% block university_name %}MBARARA UNIVERSITY OF SCIENCE AND TECHNOLOGY {% endblock %}

{% block col_name %} FACULTY OF MEDICINE {% endblock %}

{% block sch1_title_box %}{% endblock %}

{% block dept1_name %}Degree Courses {% endblock %}

{% block dept_1_course1_name %} Bachelors of Medicine & Bachelor of Surgery(MBchB){% endblock %}

{% block dept_1_course2_name %}Bachelors of Pharmacy{% endblock %}
{% block dept_1_course_2_year_4 %}{% endblock %}
{% block dept_1_course_2_year_5 %}{% endblock %}
{% block dept_1_course3_name %}Bachelor of Medical Laboratory Science{% endblock %}
{% block dept_1_course_3_year_4 %}{% endblock %}
{% block dept_1_course4_name %} Bachelors of Nursing Science{% endblock %}
{% block dept_1_course_4_year_4 %}{% endblock %}
{% block dept_2 %}{% endblock %}

{% block dept_2_course1_name %} Bachelors of Science in Physiotherapy{% endblock %}
{% block dept_2_course2_name %} Bachelor of Pharmaceutical Sciences{% endblock %}
{% block dept_2_course_list_3 %} {% endblock %}
{% block dept_2_course_list_4 %} {% endblock %}

{% block sch_1_dept_10 %}{% endblock %}
{% block sch_1_dept_3 %}{% endblock %}

{% block sch2_title_box %}{% endblock %}

{% block dept4_name %}Diploma Courses {% endblock %}
{% block dept_4_course1_name %} Diploma in HIV Prevention, Management and care{% endblock %}
{% block dept_4_course_1_year_3 %}{% endblock %}
{% block dept_4_course_1_year_4 %}{% endblock %}
{% block dept_4_course2_name %}Diploma in Counseling{% endblock %}
{% block dept_4_course_2_year_3 %}{% endblock %}
{% block dept_4_course_2_year_4 %}{% endblock %}
{% block dept_4_course_2_year_5 %}{% endblock %}

{% block dept_4_course_list_3 %} {% endblock %}
{% block dept_4_course_list_4 %} {% endblock %}
{% block sch_2_dept_2 %}{% endblock %}
{% block sch_2_dept_3 %}{% endblock %}



{% block col_sch_3 %}{% endblock %}
{% block quick_link_img %}<img id="university_links-img" src="../../img/must-logo.png" alt="Mbarara University Of Science and Technology Logo">{% endblock %}

