{% extends "gpa_elevator/templates/college-template.php" %}

{% block col_title %}
Faculty of Business and Management 
{% endblock %}

{% block nav_col_name %}<a href="http://localhost/iuea/Faculty_Of_Business_and_Management">{{ block('col_title') }}{% endblock %}
{% block nav_Courseunit %} {% endblock %}
{% block uni_title %}IUEA{% endblock %}

{% block university_name %}INTERNATIONAL UNIVERSITY OF EAST AFRICA {% endblock %}

{% block col_name %} FACULTY OF BUSINESS AND MANAGEMENT  {% endblock %}

{% block sch1_title_box %}{% endblock %}

{% block dept1_name %}Degree Courses {% endblock %}

{% block dept_1_course1_name %}Bachelor of Science in Quantitative Economics{% endblock %}
{% block dept_1_course_1_year_4 %}{% endblock %}
{% block dept_1_course2_name %}Bachelor of Business Administration{% endblock %}
{% block dept_1_course_2_year_4 %}{% endblock %}
{% block dept_1_course_2_year_5 %}{% endblock %}
{% block dept_1_course3_name %}Bachelor of Procurement and Logistics Management{% endblock %}
{% block dept_1_course_3_year_4 %}{% endblock %}
{% block dept_1_course4_name %} Bachelor of Human Resource Management{% endblock %}
{% block dept_1_course_4_year_4 %}{% endblock %}
{% block dept_2 %}{% endblock %}

{% block dept_2_course1_name %} Bachelor of Public Administration{% endblock %}
{% block dept_2_course_1_year_4 %}{% endblock %}
{% block dept_2_course2_name %} Bachelor of Tourism Operations Management{% endblock %}
{% block dept_2_course_2_year_5 %}{% endblock %}
{% block dept_2_course3_name %} Bachelor of Arts in Economics{% endblock %}
{% block dept_2_course_3_year_4 %}{% endblock %}
{% block dept_2_course_list_4 %} {% endblock %}

{% block sch_1_dept_10 %}{% endblock %}
{% block sch_1_dept_3 %}{% endblock %}

{% block sch2_title_box %}{% endblock %}




{% block dept4_name %}Diploma Courses {% endblock %}
{% block dept_4_course1_name %}Diploma in Business Administration{% endblock %}
{% block dept_4_course_1_year_3 %}{% endblock %}
{% block dept_4_course_1_year_4 %}{% endblock %}
{% block dept_4_course2_name %}Diploma in Public Administration{% endblock %}
{% block dept_4_course_2_year_3 %}{% endblock %}
{% block dept_4_course_2_year_4 %}{% endblock %}
{% block dept_4_course_2_year_5 %}{% endblock %}

{% block dept_4_course_list_3 %} {% endblock %}
{% block dept_4_course_list_4 %} {% endblock %}

{% block sch_2_dept_2 %}{% endblock %}
{% block sch_2_dept_3 %}{% endblock %}



{% block col_sch_3 %}{% endblock %}
{% block quick_link_img %}<img id="university_links-img" src="../../img/iuea-logo.png" alt="International University of EA Logo">{% endblock %}
