{% extends "gpa_elevator/templates/college-template.php" %}

{% block col_title %}
Faculty of Vocational & Distance Education
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/mubs/Faculty_of_Vocational_and_Distance_Education">{{ block('col_title') }}{% endblock %}
{% block nav_Courseunit %} {% endblock %}
{% block uni_title %}Mubs{% endblock %}

{% block university_name %}MAKERERE UNIVERSITY BUSINESS SCHOOL {% endblock %}

{% block col_name %} FACULTY OF VOCATIONAL AND DISTANCE EDUCATION{% endblock %}
{% block sch1_title_box %}{% endblock %}

{% block dept1_name %}Courses Offered {% endblock %}

{% block dept_1_course1_name %} Diploma in Business Administration{% endblock %}

{% block dept_1_course_1_year_3 %}{% endblock %}
{% block dept_1_course_1_year_4 %}{% endblock %}
{% block dept_1_course2_name %}Diploma in Entrepreneurship & Small Business Management{% endblock %}

{% block dept_1_course_2_year_3 %}{% endblock %}
{% block dept_1_course_2_year_4 %}{% endblock %}
{% block dept_1_course_2_year_5 %}{% endblock %}

{% block dept_1_course3_name %}Diploma in International Business{% endblock %}
{% block dept_1_course_3_year_3 %}{% endblock %}
{% block dept_1_course_3_year_4 %}{% endblock %}

{% block dept_1_course4_name %} Diploma in Recreation and Events Management{% endblock %}
{% block dept_1_course_4_year_3 %}{% endblock %}
{% block dept_1_course_4_year_4 %}{% endblock %}
{% block dept_2 %}{% endblock %}

{% block dept_2_course1_name %} Diploma in Secretarial Studies{% endblock %}
{% block dept_2_course_1_year_3 %}{% endblock %}
{% block dept_2_course_1_year_4 %}{% endblock %}

{% block dept_2_course2_name %}Diploma in Local Government Finance Management{% endblock %}
{% block dept_2_course_2_year_3 %}{% endblock %}
{% block dept_2_course_2_year_4 %}{% endblock %}
{% block dept_2_course_2_year_5 %}{% endblock %}

{% block dept_2_course3_name %}Diploma in Local Government Administration Management{% endblock %}
{% block dept_2_course_3_year_3 %}{% endblock %}
{% block dept_2_course_3_year_4 %}{% endblock %}

{% block dept_2_course4_name %} Diploma in Sales & Marketing Management {% endblock %}
{% block dept_2_course_4_year_3 %}{% endblock %}
{% block dept_2_course_4_year_4 %}{% endblock %}



{% block sch_1_dept_10 %}{% endblock %}
{% block sch_1_dept_3 %}{% endblock %}

{% block col_sch_2 %}{% endblock %}
{% block col_sch_3 %}{% endblock %}
{% block quick_link_img %}<img id="university_links-img" src="../../img/mubs-logo.png" alt="Makerere University Business School Logo">{% endblock %}