{% extends "gpa_elevator/templates/college-template.php" %}

{% block col_title %}
Bishop Tucker School of Theology & Divinity
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/ucu/School_Of_Theology_and_Divinity">{{ block('col_title') }}{% endblock %}
{% block nav_Courseunit %} {% endblock %}
{% block uni_title %}Ucu {% endblock %}

{% block university_name %}UGANDA CHRISTIAN UNIVERSITY {% endblock %}

{% block col_name %} BISHOP TUCKER SCHOOL OF THEOLOGY AND DIVINITY {% endblock %}

{% block sch1_title_box %}{% endblock %}

{% block dept1_name %}Department of Divinity{% endblock %}
{% block dept_1_course1_name %} Bachelor of Divinity{% endblock %}
{% block dept_1_course2_name %}Diploma in Professional and Applied Ethics{% endblock %}
{% block dept_1_course_2_year_3 %}{% endblock %}
{% block dept_1_course_2_year_4 %}{% endblock %}
{% block dept_1_course_2_year_5 %}{% endblock %}
{% block dept_1_course_list_3 %} {% endblock %}
{% block dept_1_course_list_4 %} {% endblock %}


{% block dept2_name %}Department of Child Development & Children's Ministry{% endblock %}
{% block dept_2_course1_name %} Bachelor of Child development and Children’s Ministry {% endblock %}
{% block dept_2_course_1_year_4 %}{% endblock %}
{% block dept_2_course_list_2 %} {% endblock %}
{% block dept_2_course_list_3 %} {% endblock %}
{% block dept_2_course_list_4 %} {% endblock %}


{% block sch_1_dept_3 %}{% endblock %}
{% block sch_1_dept_10 %}{% endblock %}
{% block col_sch_2 %}{% endblock %}
{% block col_sch_3 %}{% endblock %}


{% block quick_link_img %}<img id="university_links-img" src="../../img/ucu-logo.jpg" alt="Uganda Christian University Logo">{% endblock %}

