{% extends "gpa_elevator/templates/college-template.php" %}

{% block col_title %}
Faculty of Science
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/Faculty_of_Sciences/index">{{ block('col_title') }}{% endblock %}
{% block nav_Courseunit %} {% endblock %}
{% block uni_title %}KYU{% endblock %}

{% block university_name %}KYAMBOGO UNIVERSITY {% endblock %}

{% block col_name %} FACULTY OF SCIENCE {% endblock %}

{% block sch1_title_box %}{% endblock %}

{% block dept1_name %}Department of Computer Science{% endblock %}
{% block dept_1_course1_name %} Bachelor of Information Systems (BIS){% endblock %}
{% block dept_1_course_1_year_4 %}{% endblock %}



{% block dept_1_course_1_courseunit_list_1 %}
<li class="course_units"><b><i><a  href="SIS1101">SIS1101-Introduction to Computers and Information Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="SHM1101">SHM1101-Humanities and Communication Skills</a></i></b></li>
<li class="course_units"><b><i><a  href="SIS1102">SIS1102-Computer Applications</a></i></b></li>
<li class="course_units"><b><i><a  href="SIS1103">SIS1103-Business Statistics</a></i></b></li>
<li class="course_units"><b><i><a  href="SIS1104">SIS1104-Discrete Mathematics</a></i></b></li>

{% endblock %}

{% block dept_1_course_1_courseunit_list_2 %}
<li class="course_units"><b><i><a  href="SIS1201">SIS1201-Management Information Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="SIS1202">SIS1202-Introduction to Programming</a></i></b></li>
<li class="course_units"><b><i><a  href="SIS1203">SIS1203-Business Computing</a></i></b></li>
<li class="course_units"><b><i><a  href="SIS1204">SIS1204-Computer maintaince and Management</a></i></b></li>
<li class="course_units"><b><i><a  href="SIS1205">SIS1205-Internet Technologies and Web Authoring</a></i></b></li>
<li class="course_units"><b><i><a  href="SIS1206">SIS1206-Industrial Attachment</a></i></b></li>

{% endblock %}

{% block dept_1_course_1_courseunit_list_3 %}
<li class="course_units"><b><i><a  href="SIS2101">SIS2101-E-commerce</a></i></b></li>
<li class="course_units"><b><i><a  href="SIS2102">SIS2102-Information Systems Analysis And Design	</a></i></b></li>
<li class="course_units"><b><i><a  href="SIS2103">SIS2103-Database Systems Design and Development</a></i></b></li>
<li class="course_units"><b><i><a  href="SIS2104">SIS2104-Object Oriented Programming</a></i></b></li>
<li class="course_units"><b><i><a  href="SIS2105">SIS2105-Multimedia Systems</a></i></b></li>

{% endblock %}

{% block dept_1_course_1_courseunit_list_4 %}
<li class="course_units"><b><i><a  href="SIS2201">SIS2201-Computer Networks and Data Communications</a></i></b></li>
<li class="course_units"><b><i><a  href="SIS2202">SIS2202-Website Design, Programming and Administration</a></i></b></li>
<li class="course_units"><b><i><a  href="SIS2203">SIS2203-Database Systems Implementation	</a></i></b></li>
<li class="course_units"><b><i><a  href="SIS2204">SIS2204-Research Methods</a></i></b></li>
<li class="course_units"><b><i><a  href="SIS2205">SIS2205-Business Process Analysis and Modeling</a></i></b></li>
<li class="course_units"><b><i><a  href="SIS2206">SIS2206-Industrial Attachment</a></i></b></li>

{% endblock %}

{% block dept_1_course_1_courseunit_list_5 %}
<li class="course_units"><b><i><a  href="SIS3201">SIS3201-Systems Administration</a></i></b></li>
<li class="course_units"><b><i><a  href="SIS3102">SIS3102-Information Systems Project Management</a></i></b></li>
<li class="course_units"><b><i><a  href="SIS3103-">SIS3103-Information Systems Security</a></i></b></li>
<li class="course_units"><b><i><a  href="SIS3104">SIS3104-Software Engineering Principle</a></i></b></li>
<li class="course_units"><b><i><a  href="SIS3105">SIS3105-Enterpreneurship Skills</a></i></b></li>

{% endblock %}

{% block dept_1_course_1_courseunit_list_6 %}
<li class="course_units"><b><i><a  href="SIS3201">SIS3201-Decision Support Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="SIS3202">SIS3202-Social Issues in Computing</a></i></b></li>
<li class="course_units"><b><i><a  href="SIS3203">SIS3203-Organisation Behaviour</a></i></b></li>
<li class="course_units"><b><i><a  href="SIS3204">SIS3204-Business Intelligence and data warehousing</a></i></b></li>
<li class="course_units"><b><i><a  href="SIS3205">SIS3205-BIS Project</a></i></b></li>

{% endblock %}



{% block dept_1_course2_name %}Bachelor of Information Technology & Computing (BITC) {% endblock %}
{% block dept_1_course_2_year_4 %}{% endblock %}


{% block dept_1_course_2_courseunit_list_1 %}
<li class="course_units"><b><i><a  href="SCS1101">SCS1101-Introduction to Information Technology and Computing</a></i></b></li>
<li class="course_units"><b><i><a  href="SCS1102">SCS1102-Computer Applications</a></i></b></li>
<li class="course_units"><b><i><a  href="SCS1103">SCS1103-Discrete Mathematical Structures</a></i></b></li>
<li class="course_units"><b><i><a  href="SCS1104">SCS1104-Probability and Statistics</a></i></b></li>
<li class="course_units"><b><i><a  href="SCS1105">SCS1105-Differential, Intergral and Vector Calculus</a></i></b></li>
<li class="course_units"><b><i><a  href="SCS1106">SCS1106-Humanities and communications Skills</a></i></b></li>

{% endblock %}

{% block dept_1_course_2_courseunit_list_2 %}
<li class="course_units"><b><i><a  href="SCS1201">SCS1201-Differential Equations and Systems Modeling</a></i></b></li>
<li class="course_units"><b><i><a  href="SCS1202">SCS1202-Programming Language Fundamentals</a></i></b></li>
<li class="course_units"><b><i><a  href="SCS1203">SCS1203-Linear Algebra</a></i></b></li>
<li class="course_units"><b><i><a  href="SCS1104">SCS1104-Computer Architecture</a></i></b></li>
<li class="course_units"><b><i><a  href="SCS1105">SCS1105-Operating Systems concepts</a></i></b></li>
<li class="course_units"><b><i><a  href="SCS1106">SCS1106-Computer Management and maintaince</a></i></b></li>

{% endblock %}

{% block dept_1_course_2_courseunit_list_3 %}
<li class="course_units"><b><i><a  href="SCS2101">SCS2101-Information Systems and Design</a></i></b></li>
<li class="course_units"><b><i><a  href="SCS2102">SCS2102-Numerical Analysis and computation</a></i></b></li>
<li class="course_units"><b><i><a  href="SCS2103">SCS2103-Introduction to Data communication and Networking</a></i></b></li>
<li class="course_units"><b><i><a  href="SCS2104">SCS2104-Structured Programming</a></i></b></li>
<li class="course_units"><b><i><a  href="SCS2105">SCS2105-Network Management Concepts</a></i></b></li>

{% endblock %}

{% block dept_1_course_2_courseunit_list_4 %}
<li class="course_units"><b><i><a  href="SCS2201">SCS2201-Operating Systems Implementation</a></i></b></li>
<li class="course_units"><b><i><a  href="SCS2202">SCS2202-Object Oriented Programming-introduction</a></i></b></li>
<li class="course_units"><b><i><a  href="SCS2203">SCS2203-Introduction to Database Management Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="SCS2204">SCS2204-Software Engineering</a></i></b></li>
<li class="course_units"><b><i><a  href="SCS2205">SCS2205-Internet Technology</a></i></b></li>
<li class="course_units"><b><i><a  href="SCS2206">SCS2206-Research Methods in Computing Science</a></i></b></li>

{% endblock %}

{% block dept_1_course_2_courseunit_list_5 %}
<li class="course_units"><b><i><a  href="SCS3101">SCS3101-Graph Theory</a></i></b></li>
<li class="course_units"><b><i><a  href="SCS3102">SCS3102-Data Structure And Algorithms</a></i></b></li>
<li class="course_units"><b><i><a  href="SCS3103">SCS3103-Computer Graphics</a></i></b></li>
<li class="course_units"><b><i><a  href="SCS3104">SCS3104-Distributed Computing Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="SCS3105">SCS3105-Intermediate Data communication and Networking</a></i></b></li>
<li class="course_units"><b><i><a  href="SHM3101">SHM3101-Enterpreneurship</a></i></b></li>

{% endblock %}

{% block dept_1_course_2_courseunit_list_6 %}
<li class="course_units"><b><i><a  href="SCS3201">SCS3201-Intermediate Data Base Management Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="SCS3202">SCS3202-Microprocessor Base System Design</a></i></b></li>
<li class="course_units"><b><i><a  href="SCS3203">SCS3203-Design and Analysis of Algorithms</a></i></b></li>
<li class="course_units"><b><i><a  href="SCS3204">SCS3204-Geographic Information Systems and Processing</a></i></b></li>
<li class="course_units"><b><i><a  href="SCS3205">SCS3205-Project</a></i></b></li>
{% endblock %}

{% block dept_1_course_2_year_5 %}{% endblock %}
{% block dept_1_course3_name %}Diploma in Computer Science (DCS) {% endblock %}

{% block dept_1_course_3_courseunit_list_1 %}
<li class="course_units"><b><i><a  href="DCS111">DCS111-Introduction to Computer Science</a></i></b></li>
<li class="course_units"><b><i><a  href="DCS112">DCS112-Introduction to Computer Science Mathematics</a></i></b></li>
<li class="course_units"><b><i><a  href="DCS113">DCS113-Computer Applications</a></i></b></li>
<li class="course_units"><b><i><a  href="DCS114">DCS114-Computer Architecture</a></i></b></li>
<li class="course_units"><b><i><a  href="DCS115">DCS115-Humanities and Communication Skills	</a></i></b></li>

{% endblock %}

{% block dept_1_course_3_courseunit_list_2 %}
<li class="course_units"><b><i><a  href="DCS121">DCS121-Management Information Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="DCS122">DCS122-Intermediate Computer Science Mathematics</a></i></b></li>
<li class="course_units"><b><i><a  href="DCS123">DCS123-Introduction to Database Management Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="DCS124">DCS124-Introduction to Programming and Programming Methodology</a></i></b></li>
<li class="course_units"><b><i><a  href="DCS125">DCS125-Systems Analysis and Design</a></i></b></li>

{% endblock %}

{% block dept_1_course_3_courseunit_list_3 %}
<li class="course_units"><b><i><a  href="DCS211">DCS211-Visual Basic Programming</a></i></b></li>
<li class="course_units"><b><i><a  href="DCS212">DCS212-Intermediate Database Management Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="DCS213">DCS213-Intermediate Programming and Programming Methodology</a></i></b></li>
<li class="course_units"><b><i><a  href="DCS213">DCS213-Web Development Technology</a></i></b></li>
<li class="course_units"><b><i><a  href="DCS214">DCS214-Research Methodology</a></i></b></li>
<li class="course_units"><b><i><a  href="DCS215">DCS215-Enterpreneurship Skills</a></i></b></li>

{% endblock %}

{% block dept_1_course_3_courseunit_list_4 %}
<li class="course_units"><b><i><a  href="DCS221">DCS221-Computer Management and maintaince</a></i></b></li>
<li class="course_units"><b><i><a  href="DCS222">DCS222-Data Communications and Networking</a></i></b></li>
<li class="course_units"><b><i><a  href="DCS223">DCS223-Introduction to Operating Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="DCS224">DCS224-Ethical, Legal and Social Issues and Social Issues in Computing</a></i></b></li>

{% endblock %}

{% block dept_1_course_3_year_3 %}{% endblock %}
{% block dept_1_course_3_year_4 %}{% endblock %}


{% block dept2_name %}Department of Chemistry{% endblock %}
{% block dept_2_course1_name %}Bachelor of Science Technology ( Chemistry ){% endblock %}
{% block dept_2_course2_name %}Bachelor Of Science in Oil & Gas Production {% endblock %}
{% block dept_2_course3_name %}Bachelor Of Science In Chemical And Process Engineering {% endblock %}
{% block dept_2_course4_name %}Diploma in Textile Design & Technology {% endblock %}
{% block dept_2_course_2_year_5 %}{% endblock %}
{% block dept_2_course_4_year_3 %}{% endblock %}
{% block dept_2_course_4_year_4 %}{% endblock %}



{% block dept3_name %}Department of Biological Science{% endblock %}
{% block dept_3_course1_name %} Bachelor Of Science With Education (Biology){% endblock %}


{% block dept_3_course_1_courseunit_list_1 %}
<li class="course_units"><b><i><a  href="SBE1101">SBE1101-Cell Biology</a></i></b></li>
<li class="course_units"><b><i><a  href="SBE1102">SBE1102-Plant taxonomy</a></i></b></li>
<li class="course_units"><b><i><a  href="SBE1103">SBE1103-Animal diversity and Classification</a></i></b></li>
<li class="course_units"><b><i><a  href="SBE1104">SBE1104-Development Biology</a></i></b></li>

{% endblock %}

{% block dept_3_course_1_courseunit_list_2 %}
<li class="course_units"><b><i><a  href="SBE1201">SBE1201-Ichthyology and Herpetology</a></i></b></li>
<li class="course_units"><b><i><a  href="SBE1202">SBE1202-Ornithology and Mammalogy</a></i></b></li>
<li class="course_units"><b><i><a  href="SBE1203">SBE1203-Basic Parasitology</a></i></b></li>

{% endblock %}

{% block dept_3_course_1_courseunit_list_3 %}
<li class="course_units"><b><i><a  href="SBE2101">SBE2101-Aquatic and terrestrial ecology</a></i></b></li>
<li class="course_units"><b><i><a  href="SBE2102">SBE2102-Plant morphology</a></i></b></li>
<li class="course_units"><b><i><a  href="SBE2103">SBE2103-Plant Physiology</a></i></b></li>
<li class="course_units"><b><i><a  href="SBE2104">SBE2104-Biostatistics, Introd. to computer & Research Methods</a></i></b></li>
<li class="course_units"><b><i><a  href="SBE2105">SBE2105-Parasitology and applied entomology</a></i></b></li>

{% endblock %}

{% block dept_3_course_1_courseunit_list_4 %}
<li class="course_units"><b><i><a  href="SBE2201">SBE2201-Genetics</a></i></b></li>
<li class="course_units"><b><i><a  href="SBE2202">SBE2202-Evolution</a></i></b></li>
<li class="course_units"><b><i><a  href="SBE2203">SBE2203-Animal Physiology</a></i></b></li>
<li class="course_units"><b><i><a  href="SBE2204">SBE2204-Human Ecology</a></i></b></li>
<li class="course_units"><b><i><a  href="SBE2205">SBE2205-Biology Education I</a></i></b></li>

{% endblock %}

{% block dept_3_course_1_courseunit_list_5 %}
<li class="course_units"><b><i><a  href="SBE3101">SBE3101-Environmental Science</a></i></b></li>
<li class="course_units"><b><i><a  href="SBE3102">SBE3102-EA flora, fauna and biogeography</a></i></b></li>
<li class="course_units"><b><i><a  href="SBE3103">SBE3103-Mycology and Phycology</a></i></b></li>
<li class="course_units"><b><i><a  href="SBE3104">SBE3104-Microbiology and Immunology</a></i></b></li>


{% endblock %}

{% block dept_3_course_1_courseunit_list_6 %}
<li class="course_units"><b><i><a  href="SBE3201">SBE3201-Weed biology and Crop Improvement</a></i></b></li>
<li class="course_units"><b><i><a  href="SBE3202">SBE3202-Conservation and Management of Natural resources</a></i></b></li>
<li class="course_units"><b><i><a  href="SBE3203">SBE3203-Advanced Ecology and Soil Science</a></i></b></li>
<li class="course_units"><b><i><a  href="SBE3204">SBE3204-Biology Education II</a></i></b></li>
<li class="course_units"><b><i><a  href="SBE3205">SBE3205-Research Project in Science</a></i></b></li>

{% endblock %}

{% block dept_3_course_1_year_4 %}{% endblock %}
{% block dept_3_course2_name %}Bachelor Of Science Technology (Biology) {% endblock %}

{% block dept_3_course_2_courseunit_list_1 %}
<li class="course_units"><b><i><a  href="HM1101">HM1101-Communication Skills</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT1101">SBT1101-Laboratory Workshop Practice</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT1102">SBT1102-General Laboratory Technology and Organization</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT1103">SBT1103-Basic Measurements and Vacuum Techniques</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT1104">SBT1104-Engineering Drawing</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT1105">SBT1105-Mathematics for Biologists</a></i></b></li>
<li class="course_units"><b><i><a  href="IT1108">IT1108-Introduction to Computer Science and Computing</a></i></b></li>

{% endblock %}

{% block dept_3_course_2_courseunit_list_2 %}
<li class="course_units"><b><i><a  href="SBT1201">SBT1201-Microscopy and Photomicrography</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT1202">SBT1202-Biomedical Laboratory Microbiology</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT1203">SBT1203-Ecology and Soil Science</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT1204">SBT1204-Cell Biology</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT1205">SBT1205-Plant Physiology</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT1206">SBT1206-Taxonomy, Museum and Herbarium Technology</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT1207">SBT1207-Analytical Methods</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT1208">SBT1208-Photography and Its Applications</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT1301">SBT1301-Industrial Training</a></i></b></li>

{% endblock %}

{% block dept_3_course_2_courseunit_list_3 %}
<li class="course_units"><b><i><a  href="HM2101">HM2101-Entrepreneurship Skills</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT2101">SBT2101-Clinical Chemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT2102">SBT2102-Molecular Biology & Biotechnology</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT2103">SBT2103-Serology, immunology & immunohistochemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT2104">SBT2104-Nuclear Techniques and Radiography</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT2105">SBT2105-Reproduction, Growth and Development</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT2106">SBT2106-Biochemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT2107">SBT2107-Animal Physiology</a></i></b></li>

{% endblock %}

{% block dept_3_course_2_courseunit_list_4 %}
<li class="course_units"><b><i><a  href="HM2201">HM2201-Industrial Organization and Management</a></i></b></li>
<li class="course_units"><b><i><a  href="IT2208">IT2208-Computing II</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT2201">SBT2201-Environmental Science and Management</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT2202">SBT2202-Animal Anatomy and Histology</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT2203">SBT2203-Biotechnology Applications</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT2204">SBT2204-Genetics and Evolution</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT2205">SBT2205-Basic Entomology and Parasitology</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT2301">SBT2301-Industrial Training II</a></i></b></li>

{% endblock %}

{% block dept_3_course_2_courseunit_list_5 %}
<li class="course_units"><b><i><a  href="SBT3101">SBT3101-physiology laboratory procedures</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT3102">SBT3102-Basic statistics, experimental & research methods</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT3103">SBT3103-Environmental Technology</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT3104">SBT3104-Pharmacology and Clinical Laboratory Procedures</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT3105">SBT3105-Principles of Nutrition</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT3106">SBT3106-Principles of Environmental Health</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT3107">SBT3107-Biological Principles of Agriculture</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT3108">SBT3108-Project Planning and Management</a></i></b></li>

{% endblock %}

{% block dept_3_course_2_courseunit_list_6 %}
<li class="course_units"><b><i><a  href="SBT3201">SBT3201-Chemotherapeutic and Pharmaceutical Lab Procedures</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT3202">SBT3202-Aquatic Biology and Fisheries Management</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT3203">SBT3203-Wildlife Ecology and Conservation Biology</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT3204">SBT3204-Applied Genetics</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT3205">SBT3205-Systematics and Environmental Biology Procedures</a></i></b></li>
<li class="course_units"><b><i><a  href="SBT3301">SBT3301-Research Report</a></i></b></li>


{% endblock %}

{% block dept_3_course_2_year_3 %}{% endblock %}
{% block dept_3_course_2_year_4 %}{% endblock %}
{% block dept_3_course_2_year_5 %}{% endblock %}
{% block dept_3_course3_name %}Bachelor Of Education In Biology {% endblock %}

{% block dept_3_course_3_courseunit_list_1 %}
<li class="course_units"><b><i><a  href="BTSC111">BTSC111-Plant Structure & Physiology</a></i></b></li>
<li class="course_units"><b><i><a  href="BTSC112">BTSC112-Organic Chemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="BTSC113">BTSC113-Human Health & Health Education</a></i></b></li>
<li class="course_units"><b><i><a  href="BTSC114">BTSC114-Biostatistics and Computer</a></i></b></li>
<li class="course_units"><b><i><a  href="BTSC115">BTSC115-Mechanical Properties of Matter</a></i></b></li>

{% endblock %}

{% block dept_3_course_3_courseunit_list_2 %}
<li class="course_units"><b><i><a  href="BTSC121">BTSC121-Animal Structure & Physiology</a></i></b></li>
<li class="course_units"><b><i><a  href="BTSC122">BTSC122-Physical Chemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="BTSC123">BTSC123-Human Health & Health Education</a></i></b></li>
<li class="course_units"><b><i><a  href="BTSC124">BTSC124-Pract. Work, Lab. Organisation & Mgt</a></i></b></li>
<li class="course_units"><b><i><a  href="BTSC125">BTSC125-Waves & Optics</a></i></b></li>
<li class="course_units"><b><i><a  href="BTSC126">BTSC126-Atomic & Nuclear Physics</a></i></b></li>

{% endblock %}

{% block dept_3_course_3_courseunit_list_3 %}
<li class="course_units"><b><i><a  href="BTSC211">BTSC211-Ecology & Environmental Science</a></i></b></li>
<li class="course_units"><b><i><a  href="BTSC212">BTSC212-Inorganic Chemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="BTSC213">BTSC213-Human Health</a></i></b></li>
<li class="course_units"><b><i><a  href="BTSC214">BTSC214-Research methods in Science Education</a></i></b></li>
<li class="course_units"><b><i><a  href="BTSC215">BTSC215-Thermal properties of matter</a></i></b></li>
<li class="course_units"><b><i><a  href="BTSC216">BTSC216-Transition Metals</a></i></b></li>


{% endblock %}

{% block dept_3_course_3_courseunit_list_4 %}
<li class="course_units"><b><i><a  href="BTSC221">BTSC221-Genetics & Evolution</a></i></b></li>
<li class="course_units"><b><i><a  href="BTSC222">BTSC222-Analytical & Environmental Chemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="BTSC223">BTSC223-Health Promotion</a></i></b></li>
<li class="course_units"><b><i><a  href="BTSC224">BTSC224-Science & Technology Education</a></i></b></li>
<li class="course_units"><b><i><a  href="BTSC225">BTSC225-Electricity & Magnetism</a></i></b></li>

{% endblock %}

{% block dept_3_course_3_year_3 %}{% endblock %}
{% block dept_3_course_3_year_4 %}{% endblock %}
{% block dept_3_course4_name %}Bachelor Of Teacher Education {% endblock %}

{% block dept_3_course_4_courseunit_list_1 %}
<li class="course_units"><b><i><a  href="BG111">BG111-Cell Biology, Animal Diversity, Classification & Physiology</a></i></b></li>
<li class="course_units"><b><i><a  href="BG112">BG112-Plant Diversity, Classification, Structure & Ecology</a></i></b></li>

{% endblock %}

{% block dept_3_course_4_courseunit_list_2 %}
<li class="course_units"><b><i><a  href="BG121">BG121-Animal Diversity II & Physiology II</a></i></b></li>
<li class="course_units"><b><i><a  href="BG122">BG122-Plant Metabolism, Life Processes II & Genetics</a></i></b></li>


{% endblock %}

{% block dept_3_course_4_courseunit_list_3 %}
<li class="course_units"><b><i><a  href="BG211">BG211-Biology Education, Biostatistics & Computer</a></i></b></li>
<li class="course_units"><b><i><a  href="BG212">BG212-Animal Physiology III, Behaviour & Evolution</a></i></b></li>


{% endblock %}

{% block dept_3_course_4_courseunit_list_4 %}
<li class="course_units"><b><i><a  href="BG221">BG221-Human Biology, Parasitology & Entomology</a></i></b></li>
<li class="course_units"><b><i><a  href="BG222">BG222-Environmental Science</a></i></b></li>


{% endblock %}



{% block dept_3_course_4_year_3 %}{% endblock %}
{% block dept_3_course_4_year_4 %}{% endblock %}
{% block dept_4 %}{% endblock %}
{% block dept_10_course1_name %} Bachelor Of Education In Integrated Science{% endblock %}

{% block dept_10_course_1_courseunit_list_1 %}
<li class="course_units"><b><i><a  href="BISC111">BISC111-Science Education</a></i></b></li>
<li class="course_units"><b><i><a  href="BISC112">BISC112-Cell Biology and Human Health Care</a></i></b></li>
<li class="course_units"><b><i><a  href="BISC113">BISC113-Plant Diversity,Structure & Physiology</a></i></b></li>
<li class="course_units"><b><i><a  href="BISC114">BISC114-Mechanical Properties of Matter</a></i></b></li>
<li class="course_units"><b><i><a  href="BISC115">BISC115-Introduction to Organic Chemistry</a></i></b></li>

{% endblock %}

{% block dept_10_course_1_courseunit_list_2 %}
<li class="course_units"><b><i><a  href="BISC121">BISC121-Science Education II</a></i></b></li>
<li class="course_units"><b><i><a  href="BISC122">BISC122-Laboratory Organisation & Management</a></i></b></li>
<li class="course_units"><b><i><a  href="BISC123">BISC123-Animal Diversity, Classification Structure & Physiology</a></i></b></li>
<li class="course_units"><b><i><a  href="BISC124">BISC124-Physical Chemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="BISC125">BISC125-Thermal Properties of Matter</a></i></b></li>
<li class="course_units"><b><i><a  href="BISC126">BISC126-Crop Husbandry, Soil & School Farm</a></i></b></li>


{% endblock %}

{% block dept_10_course_1_courseunit_list_3 %}
<li class="course_units"><b><i><a  href="BISC211">BISC211-Science and Technology Education</a></i></b></li>
<li class="course_units"><b><i><a  href="BISC212">BISC212-Animal Structure II & Physiology</a></i></b></li>
<li class="course_units"><b><i><a  href="BISC213">BISC213-Evolution , Genetics & Human Ecology</a></i></b></li>
<li class="course_units"><b><i><a  href="BISC214">BISC214-Biostatistics and Ecology</a></i></b></li>
<li class="course_units"><b><i><a  href="BISC215">BISC215-Electricity and Magnetism</a></i></b></li>
<li class="course_units"><b><i><a  href="BISC216">BISC216-Transitional Metals</a></i></b></li>

{% endblock %}

{% block dept_10_course_1_courseunit_list_4 %}
<li class="course_units"><b><i><a  href="BISC221">BISC221-Food Nutrition, Maternal & Child Health Care</a></i></b></li>
<li class="course_units"><b><i><a  href="BISC222">BISC222-Livestock Management & Agriculture</a></i></b></li>
<li class="course_units"><b><i><a  href="BISC223">BISC223-Waves & Optics</a></i></b></li>
<li class="course_units"><b><i><a  href="BISC224">BISC224-Atomic & Nuclear Physics</a></i></b></li>
<li class="course_units"><b><i><a  href="BISC225">BISC225-Analytical & Environmental Chemistry</a></i></b></li>
<li class="course_units"><b><i><a  href="BISC226">BISC226-Science Education</a></i></b></li>

{% endblock %}

 

 


{% block dept_10_course_1_year_3 %}{% endblock %}
{% block dept_10_course_1_year_4 %}{% endblock %}
{% block dept_10_course2_name %} Ordinary Diploma In Science Technology (Biology) {% endblock %}

{% block dept_10_course_2_courseunit_list_1 %}
<li class="course_units"><b><i><a  href="HM1101">HM1101-Communication Skills</a></i></b></li>
<li class="course_units"><b><i><a  href="STB1101">STB1101-Workshop Practice</a></i></b></li>
<li class="course_units"><b><i><a  href="STB1102">STB1102-General Laboratory Techniques and Organization</a></i></b></li>
<li class="course_units"><b><i><a  href="STB1103">STB1103-Basic measurements and Vacuum Techniques</a></i></b></li>
<li class="course_units"><b><i><a  href="STB1104">STB1104-Engineering Drawing</a></i></b></li>
<li class="course_units"><b><i><a  href="STB1105">STB1105-Mathematics for Biologists</a></i></b></li>
<li class="course_units"><b><i><a  href="STB1106">STB1106-Microscopy</a></i></b></li>
<li class="course_units"><b><i><a  href="IT1108">IT1108-Computing</a></i></b></li>

{% endblock %}

{% block dept_10_course_2_courseunit_list_2 %}
<li class="course_units"><b><i><a  href="STB1201">STB1201-Microbiology</a></i></b></li>
<li class="course_units"><b><i><a  href="STB1202">STB1202-Cell biology</a></i></b></li>
<li class="course_units"><b><i><a  href="STB1203">STB1203-General Laboratory Techniques (Electricity and Audio Visual Aids</a></i></b></li>
<li class="course_units"><b><i><a  href="STB1204">STB1204-Plant Physiology</a></i></b></li>
<li class="course_units"><b><i><a  href="STB1205">STB1205-Reproduction, Growth& Development</a></i></b></li>
<li class="course_units"><b><i><a  href="STB1206">STB1206-Analytical Methods</a></i></b></li>
<li class="course_units"><b><i><a  href="STB1207">STB1207-Biostatistics and Research Methods</a></i></b></li>
<li class="course_units"><b><i><a  href="STB1301">STB1301-Industrial Training I</a></i></b></li>


{% endblock %}

{% block dept_10_course_2_courseunit_list_3 %}
<li class="course_units"><b><i><a  href="HM2101">HM2101-Entrepreneurship Skills</a></i></b></li>
<li class="course_units"><b><i><a  href="STB2101">STB2101-Photography</a></i></b></li>
<li class="course_units"><b><i><a  href="STB2102">STB2102-Entomology and Parasitology</a></i></b></li>
<li class="course_units"><b><i><a  href="STB2103">STB2103-Taxonomy</a></i></b></li>
<li class="course_units"><b><i><a  href="STB2104">STB2104-Animal Physiology I</a></i></b></li>
<li class="course_units"><b><i><a  href="STB2I06">STB2I06-Ecology</a></i></b></li>

{% endblock %}

{% block dept_10_course_2_courseunit_list_4 %}
<li class="course_units"><b><i><a  href="STB2201">STB2201-Animal Physiology II</a></i></b></li>
<li class="course_units"><b><i><a  href="STB2202">STB2202-Anatomy Histology and Histological Techniques</a></i></b></li>
<li class="course_units"><b><i><a  href="STB2203">STB2203-Principles of Genetics and Evolution</a></i></b></li>
<li class="course_units"><b><i><a  href="STB2204">STB2204-Soil Science</a></i></b></li>
<li class="course_units"><b><i><a  href="STB2205">STB2205-Radioisotopes in Biology</a></i></b></li>
<li class="course_units"><b><i><a  href="STB2206">STB2206-Industrial Training II</a></i></b></li>
<li class="course_units"><b><i><a  href=""></a></i></b></li>
<li class="course_units"><b><i><a  href=""></a></i></b></li>
<li class="course_units"><b><i><a  href=""></a></i></b></li>
<li class="course_units"><b><i><a  href=""></a></i></b></li>
<li class="course_units"><b><i><a  href=""></a></i></b></li>
<li class="course_units"><b><i><a  href=""></a></i></b></li>

{% endblock %}

{% block dept_10_course_2_year_3 %}{% endblock %}
{% block dept_10_course_2_year_4 %}{% endblock %}
{% block dept_10_course_2_year_5 %}{% endblock %}



{% block dept4_name %}Department of Mathematics{% endblock %}
{% block dept5_name %}Department of Food Processing{% endblock %}
{% block dept6_name %}Department of Physics{% endblock %}
{% block dept7_name %}Department of SportScience{% endblock %}
{% block dept_7_course1_name %} Bachelors Of Science In Sports & Leisure Management {% endblock %}
{% block dept_7_course2_name %} Bachelor Of Teacher Education {% endblock %}
{% block dept_7_course3_name %} Bachelors Of Education  {% endblock %}
{% block dept_7_course_3_year_3 %}{% endblock %}
{% block dept_7_course_3_year_4 %}{% endblock %}
{% block dept_7_course_3_year_5 %}{% endblock %}

{% block dept_7_course4_name %} Diploma in Sports Management{% endblock %}
{% block dept_7_course_4_year_3 %}{% endblock %}
{% block dept_7_course_4_year_4 %}{% endblock %}
{% block dept_7_course_4_year_5 %}{% endblock %}

{% block sch2_title_box %}{% endblock %}
{% block sch3_title_box %}{% endblock %}
{% block sch_3_dept_3 %}{% endblock %}
{% block sch_3_dept_2 %}{% endblock %}


{% block dept_4_course_list_3 %} {% endblock %}
{% block dept_5_course_list_3 %} {% endblock %}

{% block dept_6_course_list_3 %} {% endblock %}

{% block dept_8_course_list_3 %} {% endblock %}

{% block dept_9_course_list_3 %} {% endblock %}


{% block dept_1_course_list_4 %} {% endblock %}


{% block dept_4_course_list_4 %} {% endblock %}
{% block dept_5_course_list_4 %} {% endblock %}

{% block dept_6_course_list_4 %} {% endblock %}

{% block dept_8_course_list_4 %} {% endblock %}

{% block dept_9_course_list_4 %} {% endblock %}

{% block quick_link_img %}<img id="university_links-img" src="../../img/kyu-logo.jpg" alt="Kyambogo University Logo">{% endblock %}

{% block quick_links %} 
<li class="link-item"><a href="https://kyu.ac.ug/">University Website</a></li>
<li class="link-item"><a href="https://student.kyu.ac.ug/portal-1.6/?cache">Students Portal</a></li>
<li class="link-item"><a href="https://kyu.ac.ug/kyambogo-university-map/">University Location</a></li>
<li class="link-item"><a href="https://kelms.kyu.ac.ug/">e-Learning</a></li>
<li class="link-item"><a href="https://admissions.kyu.ac.ug/">Admissions Portal</a></li>
<li class="link-item"><a href="https://kyu.ac.ug/scholarship/">Scholarship</a></li>
{% endblock %}