{% extends "gpa_elevator/templates/college-template.php" %}


{% block col_title %}
Faculty of Economics, Energy & Management science
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/mubs/Faculty_Of_Economics_Energy_and_Management_Sci">{{ block('col_title') }}{% endblock %}
{% block nav_Courseunit %} {% endblock %}
{% block uni_title %}Mubs{% endblock %}

{% block university_name %}MAKERERE UNIVERSITY BUSINESS SCHOOL {% endblock %}

{% block col_name %} FACULTY OF ECONOMICS, ENERGY AND MANAGEMENT SCIENCE {% endblock %}
{% block sch1_title_box %}{% endblock %}

{% block dept1_name %}Department of Procurement & Logistics Management {% endblock %}
{% block dept_1_course1_name %} Bachelor of Procurement & Supply Chain Management {% endblock %}
{% block dept_1_course_1_year_4 %}{% endblock %}
{% block dept_1_course2_name %} Bachelor of Transport & Logistics Management {% endblock %}
{% block dept_1_course_2_year_4 %}{% endblock %}
{% block dept_1_course_2_year_5 %}{% endblock %}
{% block dept_1_course_list_3 %} {% endblock %}
{% block dept_1_course_list_4 %} {% endblock %}

{% block dept2_name %}Department of Management Science{% endblock %}
{% block dept_2_course1_name %} Bachelor of business Statistics{% endblock %}
{% block dept_2_course_1_year_4 %}{% endblock %}
{% block dept_2_course2_name %}Bachelor of Science Management Science{% endblock %}
{% block dept_2_course_2_year_4 %}{% endblock %}
{% block dept_2_course_2_year_5 %}{% endblock %}
{% block dept_2_course_list_3 %} {% endblock %}
{% block dept_2_course_list_4 %} {% endblock %}

{% block dept3_name %}Department of Economics{% endblock %}
{% block dept_3_course1_name %} Bachelors in Information Technology{% endblock %}
{% block dept_3_course_1_year_4 %}{% endblock %}

{% block dept_3_course_list_2 %} {% endblock %}
{% block dept_3_course_list_3 %} {% endblock %}
{% block dept_3_course_list_4 %} {% endblock %}

{% block dept4_name %}Department of Energy Science & Technology {% endblock %}
{% block dept_4_course1_name %} Bachelor of Science in Energy Management{% endblock %}
{% block dept_4_course_1_year_4 %}{% endblock %}
{% block dept_4_course2_name %} Bachelor of Science in Energy Use and Energy Planning{% endblock %}
{% block dept_4_course_2_year_4 %}{% endblock %}
{% block dept_4_course_2_year_5 %}{% endblock %}
{% block dept_4_course3_name %} Bachelor of Science in Sustainable and Renewable Energy {% endblock %}
{% block dept_4_course_3_year_4 %}{% endblock %}
{% block dept_4_course4_name %} Bachelor of Science Energy Engineering {% endblock %}
{% block dept_4_course_4_year_4 %}{% endblock %}

{% block sch_2_dept_2 %}{% endblock %}
{% block sch_2_dept_3 %}{% endblock %}
{% block sch2_title_box %}{% endblock %}
{% block col_sch_3 %}{% endblock %}
{% block sch_1_dept_10 %}{% endblock %}


{% block quick_link_img %}<img id="university_links-img" src="../../img/mubs-logo.png" alt="MUBS Logo">{% endblock %}

