{% extends "gpa_elevator/templates/college-template.php" %}


{% block col_title %}
Faculty of Applied Sciences and technology
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/must/Faculty_of_Applied_Sci_and_technology">{{ block('col_title') }}{% endblock %}
{% block nav_Courseunit %} {% endblock %}
{% block uni_title %}Must{% endblock %}

{% block university_name %}MBARARA UNIVERSITY OF SCIENCE AND TECHNOLOGY {% endblock %}

{% block col_name %} FACULTY OF APPLIED SCIENCES AND TECHNOLOGY{% endblock %}

{% block sch1_title_box %}{% endblock %}

{% block dept1_name %}Department of Mechanical & Industrial Engineering {% endblock %}
{% block dept_1_course1_name %} Bachelor of Mechanical Engineering {% endblock %}
{% block dept_1_course2_name %}Bachelor of Mechanical and Industrial Engineering {% endblock %}
{% block dept_1_course_2_year_5 %}{% endblock %}
{% block dept_1_course3_name %} Bachelor of Mechatronics {% endblock %}
{% block dept_1_course_3_year_4 %}{% endblock %}


{% block dept2_name %}Department of Civil & Building Services Engineering{% endblock %}
{% block dept_2_course1_name %} Bachelor of Civil Engineering with Specialization in Structural Engineering{% endblock %}
{% block dept_2_course_1_year_4 %}{% endblock %}
{% block dept_2_course2_name %}Bachelor of Building Services Engineering{% endblock %}
{% block dept_2_course_2_year_5 %}{% endblock %}
{% block dept_2_course3_name %}Bachelor of Environment Engineering {% endblock %}
{% block dept_2_course_3_year_4 %}{% endblock %}
{% block dept_2_course4_name %}Bachelor of Commercial Management and Quantity Survey{% endblock %}
{% block dept_2_course_4_year_4 %}{% endblock %}

{% block dept3_name %}Department of Energy, Mineral & Petroleum Studies {% endblock %}
{% block dept_3_course1_name %} Bachelor of Industrial Chemistry{% endblock %}
{% block dept_3_course2_name %} Bachelor of Petroleum Engineering{% endblock %}
{% block dept_3_course_2_year_5 %}{% endblock %}
{% block dept_3_course3_name %}Bachelor Chemical Engineering {% endblock %}
{% block dept_3_course4_name %}Bachelor of Mineral and Mining Engineering{% endblock %}


{% block dept4_name %}Department of Biomedical Sciences & Engineering {% endblock %}
{% block dept_4_course1_name %} Bachelor of Biomedical Engineering{% endblock %}
{% block dept_4_course2_name %} Bachelor of Biomedical Sciences{% endblock %}
{% block dept_4_course_2_year_5 %}{% endblock %}

{% block dept_4_course_list_3 %} {% endblock %}
{% block dept_4_course_list_4 %} {% endblock %}

{% block dept5_name %}Department of Electrical & Electronic Engineering {% endblock %}
{% block dept_5_course1_name %}Bachelor of Engineering in Electrical and Electronics Engineering{% endblock %}
{% block dept_5_course2_name %}Bachelor of Science in Computer Engineering{% endblock %}
{% block dept_5_course_2_year_5 %}{% endblock %}

{% block dept_5_course_list_3 %} {% endblock %}
{% block dept_5_course_list_4 %} {% endblock %}

{% block sch2_title_box %}{% endblock %}
{% block col_sch_3 %}{% endblock %}
{% block sch_1_dept_10 %}{% endblock %}
{% block sch_2_dept_3 %}{% endblock %}



{% block quick_link_img %}<img id="university_links-img" src="../../img/must-logo.png" alt="Mbarara University Of Science and Technology Logo">{% endblock %}

