{% extends "gpa_elevator/templates/college-template.php" %}

{% block col_title %}
Faculty of Social Sciences
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/ucu/School_Of_Social_Sciences">{{ block('col_title') }}{% endblock %}
{% block nav_Courseunit %} {% endblock %}
{% block uni_title %}Ucu {% endblock %}

{% block university_name %}UGANDA CHRISTIAN UNIVERSITY {% endblock %}

{% block col_name %} FACULTY OF SOCIAL SCIENCES {% endblock %}

{% block sch1_title_box %}{% endblock %}

{% block dept1_name %}Department of Social Work & Social Administration{% endblock %}
{% block dept_1_course1_name %} Bachelor of social work & social administration {% endblock %}
{% block dept_1_course_1_year_4 %}{% endblock %}
{% block dept_1_course2_name %}Diploma social work & social administration {% endblock %}
{% block dept_1_course_2_year_4 %}{% endblock %}
{% block dept_1_course_2_year_5 %}{% endblock %}
{% block dept_1_course_list_3 %} {% endblock %}
{% block dept_1_course_list_4 %} {% endblock %}


{% block dept2_name %}Department of Public Administration & Governance{% endblock %}
{% block dept_2_course1_name %} Bachelors of Public Administration & Management{% endblock %}
{% block dept_2_course_1_year_4 %}{% endblock %}
{% block dept_2_course2_name %} Bachelor of Human Rights, Peace & Humanitarian Interventions{% endblock %}
{% block dept_2_course_2_year_4 %}{% endblock %}
{% block dept_2_course_2_year_5 %}{% endblock %}
{% block dept_2_course3_name %}Bachelor of Governance & International Relations{% endblock %}
{% block dept_2_course_3_year_4 %}{% endblock %}
{% block dept_2_course4_name %}Postgraduate Diploma in Public Administration & Management {% endblock %}
{% block dept_2_course_4_year_3 %}{% endblock %}
{% block dept_2_course_4_year_4 %}{% endblock %}

{% block dept3_name %}Department of Development Studies {% endblock %}
{% block dept_3_course1_name %} Bachelor of Development Studies{% endblock %}
{% block dept_3_course_1_year_4 %}{% endblock %}
{% block dept_3_course2_name %} Bachelor of Organisation and Development Management{% endblock %}
{% block dept_3_course_2_year_4 %}{% endblock %}
{% block dept_3_course_2_year_5 %}{% endblock %}
{% block dept_3_course3_name %} Bachelor of Community Leadership and Development{% endblock %}
{% block dept_3_course_3_year_4 %}{% endblock %}
{% block dept_3_course4_name %} Bachelor of Development and Social Entrepreneurship{% endblock %}
{% block dept_3_course_4_year_4 %}{% endblock %}
{% block dept_4 %}{% endblock %}
{% block dept_10_course1_name %} Postgraduate Diploma in Development Monitoring and Evaluation{% endblock %}
{% block dept_10_course_1_year_3 %}{% endblock %}
{% block dept_10_course_1_year_4 %}{% endblock %}
{% block dept_10_course_list_2 %} {% endblock %}

{% block col_sch_2 %}{% endblock %}
{% block col_sch_3 %}{% endblock %}


{% block quick_link_img %}<img id="university_links-img" src="../../img/ucu-logo.jpg" alt="Uganda Christian University Logo">{% endblock %}

