{% extends "gpa_elevator/templates/college-template.php" %}


{% block col_title %}
School of Social Sciences
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/nkumba/sch_of_social_science">{{ block('col_title') }}{% endblock %}
{% block nav_Courseunit %} {% endblock %}
{% block uni_title %}Nkumba{% endblock %}

{% block university_name %}NKUMBA UNIVERSITY {% endblock %}

{% block col_name %} SCHOOL OF SOCIAL SCIENCES {% endblock %}

{% block sch1_title_box %}{% endblock %}

{% block dept1_name %}Degree Courses {% endblock %}

{% block dept_1_course1_name %} Bachelor of Arts in Development Studies{% endblock %}
{% block dept_1_course_1_year_4 %}{% endblock %}
{% block dept_1_course2_name %}Bachelor of Arts in Community Based Development{% endblock %}
{% block dept_1_course_2_year_4 %}{% endblock %}
{% block dept_1_course_2_year_5 %}{% endblock %}
{% block dept_1_course3_name %}Bachelor of Arts in Sociology and Development{% endblock %}
{% block dept_1_course_3_year_4 %}{% endblock %}
{% block dept_1_course4_name %} Bachelor of Public Administration and Management{% endblock %}
{% block dept_1_course_4_year_4 %}{% endblock %}
{% block dept_2 %}{% endblock %}

{% block dept_2_course1_name %} Bachelor of Arts in International Relations and Diplomacy{% endblock %}
{% block dept_2_course_1_year_4 %}{% endblock %}
{% block dept_2_course_list_2 %} {% endblock %}
{% block dept_2_course_list_3 %} {% endblock %}
{% block dept_2_course_list_4 %} {% endblock %}

{% block sch_1_dept_10 %}{% endblock %}
{% block sch_1_dept_3 %}{% endblock %}

{% block sch2_title_box %}{% endblock %}

{% block dept4_name %}Diploma Courses {% endblock %}
{% block dept_4_course1_name %} Diploma in Development Studies{% endblock %}
{% block dept_4_course_1_year_3 %}{% endblock %}
{% block dept_4_course_1_year_4 %}{% endblock %}
{% block dept_4_course2_name %}Diploma in Public Administration and Management{% endblock %}
{% block dept_4_course_2_year_3 %}{% endblock %}
{% block dept_4_course_2_year_4 %}{% endblock %}
{% block dept_4_course_2_year_5 %}{% endblock %}
{% block dept_4_course3_name %}Diploma in HIV/AIDS Education and Management{% endblock %}
{% block dept_4_course_3_year_3 %}{% endblock %}
{% block dept_4_course_3_year_4 %}{% endblock %}
{% block dept_4_course4_name %} Postgraduate Diploma in Development Studies {% endblock %}
{% block dept_4_course_4_year_3 %}{% endblock %}
{% block dept_4_course_4_year_4 %}{% endblock %}
{% block dept_6 %}{% endblock %}

{% block dept_5_course1_name %} Postgraduate Diploma in Community-Based Development{% endblock %}
{% block dept_5_course_1_year_3 %}{% endblock %}
{% block dept_5_course_1_year_4 %}{% endblock %}

{% block dept_5_course2_name %} Postgraduate Diploma in International Relations and Diplomacy {% endblock %}
{% block dept_5_course_2_year_3 %}{% endblock %}
{% block dept_5_course_2_year_4 %}{% endblock %}
{% block dept_5_course_2_year_5 %}{% endblock %}

{% block dept_5_course3_name %}Postgraduate Diploma in Public Administration and Management{% endblock %}
{% block dept_5_course_3_year_3 %}{% endblock %}
{% block dept_5_course_3_year_4 %}{% endblock %}

{% block dept_5_course_list_4 %} {% endblock %}
{% block sch_2_dept_3 %}{% endblock %}



{% block col_sch_3 %}{% endblock %}
{% block quick_link_img %}<img id="university_links-img" src="../../img/nkumba-logo.png" alt="Nkumba University Business School Logo">{% endblock %}

