{% extends "gpa_elevator/templates/college-template.php" %}

{% block col_title %}
School of Education, Humanities and Sciences
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/nkumba/sch_of_educ_humanities_and_sciences">{{ block('col_title') }}{% endblock %}
{% block nav_Courseunit %} {% endblock %}
{% block uni_title %}Nkumba{% endblock %}

{% block university_name %}NKUMBA UNIVERSITY {% endblock %}

{% block col_name %} SCHOOL OF EDUCATION, HUMANITIES AND SCIENCES{% endblock %}

{% block sch1_title_box %}{% endblock %}

{% block dept1_name %}Degree Courses {% endblock %}

{% block dept_1_course1_name %} Bachelor of Science in Journalism{% endblock %}
{% block dept_1_course_1_courseunit_list_1 %}
<li class="course_units"><b><i><a  href="NUBBA31101">NUBBA31101-Quantitative Methods </a></i></b></li>
<li class="course_units"><b><i><a  href="NUBBA31102">NUBBA31102-Computer Applications I </a></i></b></li>
<li class="course_units"><b><i><a  href="NUBBA31103">NUBBA31103-Organisation Theory </a></i></b></li>
<li class="course_units"><b><i><a  href="NUBBA31104">NUBBA31104-Business Ethics </a></i></b></li>
<li class="course_units"><b><i><a  href="NUBBA31105">NUBBA31105-Fundamentals of Accounting</a></i></b></li>
{% endblock %}
{% block dept_1_course_1_courseunit_list_2 %}
<li class="course_units"><b><i><a  href="NUBBA31201">NUBBA31201-Information Technology</a></i></b></li>
<li class="course_units"><b><i><a  href="NUBBA31202">NUBBA31202-Business Communication</a></i></b></li>
<li class="course_units"><b><i><a  href="NUBBA31203">NUBBA31203-Economics I </a></i></b></li>
<li class="course_units"><b><i><a  href="NUBBA31204">NUBBA31204-Business Statistics I </a></i></b></li>
<li class="course_units"><b><i><a  href="NUBBA31205">NUBBA31205-Marketing Management </a></i></b></li>
<li class="course_units"><b><i><a  href="NUBBA31206">NUBBA31206-Sales and Sales Force Management  </a></i></b></li>
{% endblock %}
{% block dept_1_course_1_courseunit_list_3 %}
<li class="course_units"><b><i><a  href="NUBBA32101">NUBBA32101-Business Finance I </a></i></b></li>
<li class="course_units"><b><i><a  href="NUBBA32102">NUBBA32102-Administrative Function </a></i></b></li>
<li class="course_units"><b><i><a  href="NUBBA32103">NUBBA32103-Intermediate Accounting </a></i></b></li>
<li class="course_units"><b><i><a  href="NUBBA32104">NUBBA32104-Systems Analysis and Design</a></i></b></li>
<li class="course_units"><b><i><a  href="NUBBA32105">NUBBA32105-Strategic Management </a></i></b></li>
<li class="course_units"><b><i><a  href="NUBBA32106">NUBBA32106-Money, Banking and Insurance</a></i></b></li>
{% endblock %}
{% block dept_1_course_1_courseunit_list_4 %}
<li class="course_units"><b><i><a  href="NUBBA32201">NUBBA32201-Taxation Management</a></i></b></li>
<li class="course_units"><b><i><a  href="NUBBA32202">NUBBA32202-Company Law</a></i></b></li>
<li class="course_units"><b><i><a  href="NUBBA32203">NUBBA32203-Research Methods</a></i></b></li>
<li class="course_units"><b><i><a  href="NUBBA32204">NUBBA32204-Economics II </a></i></b></li>
<li class="course_units"><b><i><a  href="NUBBA32205">NUBBA32205-Cost Accounting </a></i></b></li>
<li class="course_units"><b><i><a  href="NUBBA32206">NUBBA32206-Business Statistics II </a></i></b></li>
{% endblock %}
{% block dept_1_course_1_courseunit_list_5 %}
<i class="courseunit_opt">Management Option</i>
<li class="course_units"><b><i><a  href="NUMGT33101">NUMGT33101-Organisational Behaviour </a></i></b></li>
<li class="course_units"><b><i><a  href="NUMGT33102">NUMGT33102-Human Resource Management </a></i></b></li>
<li class="course_units"><b><i><a  href="NUMGT33103">NUMGT33103-Entrepreneurship</a></i></b></li>
<li class="course_units"><b><i><a  href="NUMGT33104">NUMGT33104-Industrial Relations </a></i></b></li>
<li class="course_units"><b><i><a  href="NUMGT33105">NUMGT33105-Management of Information Systems </a></i></b></li>

{% endblock %}
{% block dept_1_course_1_courseunit_list_6 %}
<i class="courseunit_opt">Management Option</i>
<li class="course_units"><b><i><a  href="NUMGT33201">NUMGT33201-Public Relations</a></i></b></li>
<li class="course_units"><b><i><a  href="NUMGT33202">NUMGT33202-Human Resource Planning</a></i></b></li>
<li class="course_units"><b><i><a  href="NUMGT33203">NUMGT33203-Comparative Business Management</a></i></b></li>
<li class="course_units"><b><i><a  href="NUMGT33204">NUMGT33204-Operations Research</a></i></b></li>
<li class="course_units"><b><i><a  href="NUMGT33205">NUMGT33205-Labour Law  </a></i></b></li>
<li class="course_units"><b><i><a  href="NUMGT33206">NUMGT33206-Management Accounting</a></i></b></li>

{% endblock %}

{% block dept_1_course_1_year_4 %}{% endblock %}

{% block dept_1_course2_name %}Bachelor of Science with Education (Secondary) {% endblock %}
{% block dept_1_course_2_courseunit_list_1 %}
<li class="course_units"><b><i><a  href="NUHRM31101">NUHRM31101-Business Communication</a></i></b></li>
<li class="course_units"><b><i><a  href="NUHRM31102">NUHRM31102-Computer Applications I </a></i></b></li>
<li class="course_units"><b><i><a  href="NUHRM31103">NUHRM31103-Organisation Theory </a></i></b></li>
<li class="course_units"><b><i><a  href="NUHRM31104">NUHRM31104-Business Statistics I </a></i></b></li>
<li class="course_units"><b><i><a  href="NUHRM31105">NUHRM31105-Human Resource Management</a></i></b></li>
<li class="course_units"><b><i><a  href="NUHRM31106">NUHRM31106-Organisation Development</a></i></b></li>
{% endblock %}
{% block dept_1_course_2_courseunit_list_2 %}
<li class="course_units"><b><i><a  href="NUHRM31201">NUHRM31201-Fundamentals of Accounting</a></i></b></li>
<li class="course_units"><b><i><a  href="NUHRM31202">NUHRM31202-Microeconomics</a></i></b></li>
<li class="course_units"><b><i><a  href="NUHRM31203">NUHRM31204-Leadership in Organisations </a></i></b></li>
<li class="course_units"><b><i><a  href="NUHRM31204">NUHRM313205-Quantitative Methods</a></i></b></li>
<li class="course_units"><b><i><a  href="NUHRM31205">NUHRM313206-Human Resource Policy and Practice</a></i></b></li>
{% endblock %}
{% block dept_1_course_2_courseunit_list_3 %}
<li class="course_units"><b><i><a  href="NUHRM32101">NUHRM32101-Intermediate Accounting </a></i></b></li>
<li class="course_units"><b><i><a  href="NUHRM32102">NUHRM32102-Administrative Law</a></i></b></li>
<li class="course_units"><b><i><a  href="NUHRM32103">NUHRM32103-Strategic Human Resource Management</a></i></b></li>
<li class="course_units"><b><i><a  href="NUHRM32104">NUHRM32104-Labour Economics </a></i></b></li>
<li class="course_units"><b><i><a  href="NUHRM32105">NUHRM32105-Research Methods </a></i></b></li>
<li class="course_units"><b><i><a  href="NUHRM32106">NUHRM32106-Employee Training and Development</a></i></b></li>

{% endblock %}
{% block dept_1_course_2_courseunit_list_4 %}
<li class="course_units"><b><i><a  href="NUHRM32201">NUHRM32201-Employment Law</a></i></b></li>
<li class="course_units"><b><i><a  href="NUHRM32202">NUHRM32202-Ethics in Human Resource Management</a></i></b></li>
<li class="course_units"><b><i><a  href="NUHRM32203">NUHRM32204-Human Resource Management Information Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="NUHRM32204">NUHRM32205-Financial Management</a></i></b></li>
<li class="course_units"><b><i><a  href="NUHRM32205">NUHRM32206-Performance Management and Assessment</a></i></b></li>
{% endblock %}
{% block dept_1_course_2_courseunit_list_5 %}
<li class="course_units"><b><i><a  href="NUHRM33101">NUHRM33101-Employee Counselling</a></i></b></li>
<li class="course_units"><b><i><a  href="NUHRM33102">NUHRM33101-Employee Counselling</a></i></b></li>
<li class="course_units"><b><i><a  href="NUHRM33103">NUHRM33102-Human Resource Planning </a></i></b></li>
<li class="course_units"><b><i><a  href="NUHRM33104">NUHRM33103-Project Planning and Management</a></i></b></li>
<li class="course_units"><b><i><a  href="NUHRM33105">NUHRM33104-Organization Staffing and Management</a></i></b></li>
<li class="course_units"><b><i><a  href="NUHRM33106">NUHRM33105-Human Resource Competence Mapping</a></i></b></li>
<li class="course_units"><b><i><a  href="NUHRM33107">NUHRM33106-Contemporary Human Resource Issues </a></i></b></li>
{% endblock %}
{% block dept_1_course_2_courseunit_list_6 %}
<li class="course_units"><b><i><a  href="NUHRM33201">NUHRM33201-Reward Strategy and Management  </a></i></b></li>
<li class="course_units"><b><i><a  href="NUHRM33202">NUHRM33202-Law of Contract </a></i></b></li>
<li class="course_units"><b><i><a  href="NUHRM33203">NUHRM33203-Public Relations </a></i></b></li>
<li class="course_units"><b><i><a  href="NUHRM33204">NUHRM33204-International Human Resource Management  </a></i></b></li>
<li class="course_units"><b><i><a  href="NUHRM33205">NUHRM33205-Management Accounting </a></i></b></li>
<li class="course_units"><b><i><a  href="NUHRM33206">NUHRM33206-Organisation Behaviour Human Resource Management Project </a></i></b></li>
{% endblock %}
{% block dept_1_course_2_year_4 %}{% endblock %}
{% block dept_1_course_2_year_5 %}{% endblock %}

{% block dept_1_course3_name %}Bachelor of Arts with Education (Secondary){% endblock %}
{% block dept_1_course_3_year_4 %}{% endblock %}

{% block dept_1_course4_name %} Bachelor of Early Childhood Care and Development{% endblock %}
{% block dept_1_course_4_year_4 %}{% endblock %}
{% block dept_2 %}{% endblock %}

{% block dept_2_course1_name %} Bachelor of Arts in Counselling{% endblock %}
{% block dept_2_course_1_year_4 %}{% endblock %}

{% block dept_2_course2_name %}Bachelor of Science Psychology Guidance and Counselling{% endblock %}
{% block dept_2_course_2_year_4 %}{% endblock %}
{% block dept_2_course_2_year_5 %}{% endblock %}

{% block dept_2_course3_name %} Bachelor of Arts in Community Disability Studies {% endblock %}
{% block dept_2_course_3_year_4 %}{% endblock %}

{% block dept_2_course4_name %} Bachelor of Arts with Education (Primary) {% endblock %}
{% block dept_2_course_4_year_4 %}{% endblock %}

{% block sch2_title_box %}{% endblock %}

{% block dept3_name %}Diploma Courses {% endblock %}

{% block dept_3_course1_name %} Diploma in Education – (Secondary) - Arts and Science{% endblock %}
{% block dept_3_course_1_year_3 %}{% endblock %}
{% block dept_3_course_1_year_4 %}{% endblock %}

{% block dept_3_course2_name %}Diploma in Early Childhood Care and Development{% endblock %}
{% block dept_3_course_2_year_3 %}{% endblock %}
{% block dept_3_course_2_year_4 %}{% endblock %}
{% block dept_3_course_2_year_5 %}{% endblock %}

{% block dept_3_course3_name %}Diploma in Education (Primary) {% endblock %}
{% block dept_3_course_3_year_3 %}{% endblock %}
{% block dept_3_course_3_year_4 %}{% endblock %}

{% block dept_3_course4_name %}Diploma in Journalism  {% endblock %}
{% block dept_3_course_4_year_3 %}{% endblock %}
{% block dept_3_course_4_year_4 %}{% endblock %}
{% block dept_5 %}{% endblock %}

{% block dept_4_course1_name %} Diploma in Counselling  {% endblock %}
{% block dept_4_course_1_year_3 %}{% endblock %}
{% block dept_4_course_1_year_4 %}{% endblock %}

{% block dept_4_course2_name %} Diploma in Community Disability Studies{% endblock %}
{% block dept_4_course_2_year_3 %}{% endblock %}
{% block dept_4_course_2_year_4 %}{% endblock %}
{% block dept_4_course_2_year_5 %}{% endblock %}

{% block dept_4_course3_name %} Postgraduate Diploma in Education{% endblock %}
{% block dept_4_course_3_year_3 %}{% endblock %}
{% block dept_4_course_3_year_4 %}{% endblock %}

{% block dept_4_course4_name %} Post Graduate Diploma in Counselling{% endblock %}
{% block dept_4_course_4_year_3 %}{% endblock %}
{% block dept_4_course_4_year_4 %}{% endblock %}






{% block sch_1_dept_10 %}{% endblock %}
{% block sch_2_dept_2 %}{% endblock %}
{% block sch_2_dept_3 %}{% endblock %}

{% block col_sch_3 %}{% endblock %}
{% block quick_link_img %}<img id="university_links-img" src="../../img/nkumba-logo.png" alt="Nkumba University Business School Logo">{% endblock %}