{% extends "gpa_elevator/templates/college-template.php" %}

{% block col_title %}
College of Computting & Information Sciences
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/Home/cocis">CoCIS{% endblock %}
    {% block nav_Courseunit %} {% endblock %}
{% block col_name %} COLLEGE OF COMPUTING & INFORMATION SCIENCES (CoCIS) {% endblock %}


{% block sch1_title %} SCHOOL OF COMPUTING & INFORMATION TECHNOLOGY  {% endblock %}
{% block dept1_name %}  Department Of Computer Science {% endblock%}

{% block dept_1_course1_name %}Bachelor of science in Computer Science {% endblock %}
{% block dept_1_course_1_year_4 %}{% endblock %}

{% block dept_1_course_1_courseunit_list_1 %}
<li class="course_units"><b><i><a  href="http://localhost/cocis/CSC1100">CSC1100-Computer Literacy</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CSK1101-Communication Skills</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CSC1104-Computer Organization & Architecture</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CSC1105-Numerical Methods</a></i></b></li>
{% endblock %}
{% block dept_1_course_1_courseunit_list_2 %}
<li class="course_units"><b><i><a  href="#">CSC1210-Programming Methodology I</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CSC1204-Research Methodology</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CSC1207-Programming Methodology II</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CSC1208-Individual Project I</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CSC1301-Practical Skills Development</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CSC1303-Cisco Certified Network Associate (Audited)</a></i></b></li>

{% endblock %}

{% block dept_1_course_1_courseunit_list_3 %}
<li class="course_units"><b><i><a  href="#">CSC2100-Data Structure And Algorithms</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CSC2113-Software Engineering</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CSC2111-Database Management Systems I</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CSC2114-Artificial Intelligence</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BSE2105-Formal Methods</a></i></b></li>

{% endblock %}

{% block dept_1_course_1_courseunit_list_4 %}
<li class="course_units"><b><i><a  href="#">CSC2200-Operating Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CSC2209-Systems Progamming</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CSC2214-Cryptology And Coding Theory</a></i></b></li>

{% endblock %}

{% block dept_1_course_1_courseunit_list_5 %}
<li class="course_units"><b><i><a  href="#">CSC3114-Selected Topics In Computer Science</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CSC3105-Computer Graphics</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CSC3110-Database Management Systems II</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CSC3111-Operations Research</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CSC3112-Principles Of Programming Languages</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CSC3113 / BSE4104-Emerging Trends In Computer Science</a></i></b></li>

{% endblock %}

{% block dept_1_course_1_courseunit_list_6 %}
<li class="course_units"><b><i><a  href="#">CSC3205-Compiler Design</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CSC3208-UseInterface Design</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CSC3207-Computer Security</a></i></b></li>
<li class="course_units"><b><i><a  href="#">CSC3206-Group Project</a></i></b></li>

{% endblock %}
{% block dept_1_course2_name %}Diploma In Computer Science & Information Technology {% endblock %}

{% block dept_1_course_2_year_3 %}{% endblock %}
{% block dept_1_course_2_year_4 %}{% endblock %}
{% block dept_1_course_2_year_5 %}{% endblock %}

{% block dept_1_course_list_3 %}{% endblock %}
{% block dept_1_course_list_4 %}{% endblock %}

{% block dept2_name %}  Department Of Information Systems {% endblock%}
{% block dept_2_course1_name %}Bachelor of Information Systems (BIS) {% endblock %}

{% block dept_2_course_1_year_4 %}{% endblock %}

{% block dept_2_course_1_courseunit_list_1 %}
<li class="course_units"><b><i><a  href="#">BIS1101-Communication For Information Systems Managers</a></i></b></li>


{% endblock %}

{% block dept_2_course_1_courseunit_list_2 %}
<li class="course_units"><b><i><a  href="#">BIS1201-Distributed Information Systems</a></i></b></li>
{% endblock %}

{% block dept_2_course_1_courseunit_list_3 %}
<li class="course_units"><b><i><a  href="#">BIS2100-Information Systems Security</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BIS2101-Information Systems Development</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BIS2102-Information Sytems Management</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BIS2103-Knowledge-based Systems</a></i></b></li>

{% endblock %}


{% block dept_2_course_1_courseunit_list_4 %}
<li class="course_units"><b><i><a  href="#">BIS2200-Intelligent Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BIS2201-Executive Information Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BIS2202-Selected Topics In Information Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BIS2203 / BIS1206-Systems Analysis And Design</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BIS2204-Database Languages</a></i></b></li>

{% endblock %}

{% block dept_2_course_1_courseunit_list_5 %}
<li class="course_units"><b><i><a  href="#">BIS3100-Modelling And Simulation</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BIS3102-Human Computer Interaction</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BIS3103-Database Management Systems</a></i></b></li>

{% endblock %}

{% block dept_2_course_1_courseunit_list_6 %}
<li class="course_units"><b><i><a  href="#">BIS3202-E-Governance</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BIS3204-Database DB Programming</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BIS3200-Project In Information Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BIS3201-Strategic Management Of Information Systems</a></i></b></li>

{% endblock %}

{% block dept_2_course2_name %}Diploma In Information Systems (DIS) {% endblock %}

{% block dept_2_course_2_year_3 %}{% endblock %}
{% block dept_2_course_2_year_4 %}{% endblock %}
{% block dept_2_course_2_year_5 %}{% endblock %}

{% block dept_2_course_list_3 %}{% endblock %}
{% block dept_2_course_list_4 %}{% endblock %}


{% block dept3_name %}  Department Of Information Technology {% endblock%}
{% block dept_3_course1_name %}Bachelor of Information Technology (BIT) {% endblock %}

{% block dept_3_course_1_courseunit_list_1 %}
<li class="course_units"><b><i><a  href="#"></a></i></b></li>
{% endblock %}

{% block dept_3_course_1_year_4 %}{% endblock %}
{% block dept_3_course2_name %}Diploma In Information Technology (DIT) {% endblock %}

{% block dept_3_course_2_year_3 %}{% endblock %}
{% block dept_3_course_2_year_4 %}{% endblock %}
{% block dept_3_course_2_year_5 %}{% endblock %}

{% block dept_3_course_list_3 %}{% endblock %}
{% block dept_3_course_list_4 %}{% endblock %}


{% block dept10_name %}  Department Of Networking {% endblock%}
{% block dept_10_course1_name %}Bachelor of Sciences In Software Engineering {% endblock %}

{% block dept_10_course_1_courseunit_list_2 %}
<li class="course_units"><b><i><a  href="#">BSE1301-ProffessionalSoftware Engineering Mini Practical Project I</a></i></b></li>
{% endblock %}


{% block dept_10_course_1_courseunit_list_3 %}
<li class="course_units"><b><i><a  href="#">BSE2101-Introduction To Database Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BSE2103-Principles Of Programming II</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BSE2104-Computer Architecture</a></i></b></li>

{% endblock %}

{% block dept_10_course_1_courseunit_list_4 %}
<li class="course_units"><b><i><a  href="#">BSE2200-Systems Software</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BSE2201-Network Application Development</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BSE2202-Embedded Systems Software</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BSE2204-Modelling In Information Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BSE2302-Professional Software Engineering Mini Practical Project II</a></i></b></li>

{% endblock %}

{% block dept_10_course_1_courseunit_list_5 %}
<li class="course_units"><b><i><a  href="#">BSE3101-IT Project Management And Development</a></i></b></li>

{% endblock %}

{% block dept_10_course_1_courseunit_list_6 %}
<li class="course_units"><b><i><a  href="#">BSE3202-Distributed Systems Development</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BSE3205-UNIX Shell Programming</a></i></b></li>

{% endblock %}

{% block dept_10_course_1_courseunit_list_7 %}
<li class="course_units"><b><i><a  href="#">BSE4103-Entrepreneurship And Engineering</a></i></b></li>
<li class="course_units"><b><i><a  href="#"></a></i></b></li>
{% endblock %}

{% block dept_10_course_1_courseunit_list_8 %}
<li class="course_units"><b><i><a  href="#">BSE4204-Emmerging Trends In Software Engineering</a></i></b></li>
<li class="course_units"><b><i><a  href="#"></a></i></b></li>
{% endblock %}

{% block dept_10_course_1_year_4 %}{% endblock %}
{% block dept_10_course2_name %}Bachelor Of Information Systems & Technology (BIST) {% endblock %}

{% block dept_10_course_2_year_4 %}{% endblock %}
{% block dept_10_course_2_year_5 %}{% endblock %}

{% block dept_10_course_list_3 %}{% endblock %}
{% block dept_10_course_list_4 %}{% endblock %}







{% block sch2_title %} EAST AFRICAN SCHOOL OF LIBRARY & INFORMATION SCIENCE{% endblock %}
{% block dept4_name %} Department Of Library & Information Science{% endblock %}
{% block dept_4_course1_name %}Bachelor Of Library & Information Science (BLIS) {% endblock %}

{% block dept_4_course_1_courseunit_list_1 %}
<li class="course_units"><b><i><a  href="#">BLS1106-Information Literacy</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BLS1111-Information Technology I</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BLS1112-Communication Skills And Practice</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BLS1105-Information And Society</a></i></b></li>

{% endblock %}

{% block dept_4_course_1_courseunit_list_2 %}
<li class="course_units"><b><i><a  href="#">BLS1211-Information Technology II</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BLS1205-Principles Of Knowledge Organisation</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BLS1206-Publishing And Book Trade</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BLS1213-Analysis Of Information Systems</a></i></b></li>

{% endblock %}

{% block dept_4_course_1_courseunit_list_3 %}
<li class="course_units"><b><i><a  href="#">BLS2113-Classification I</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BLS2112-Cataloguing I</a></i></b></li>

{% endblock %}


{% block dept_4_course_1_courseunit_list_4 %}
<li class="course_units"><b><i><a  href="#">BLS2212-Document Cataloguing II</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BLS2301-Field Attachment</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BLS2207-Documentation Work And Services</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BLS2208-Database Management And Information Retrieval</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BLS2211-Document Classification II</a></i></b></li>

{% endblock %}

{% block dept_4_course_1_courseunit_list_5 %}
<li class="course_units"><b><i><a  href="#">BLS3113-Management Of Information Institutions And Resources</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BLS3123-Research Methods</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BLS3117-Publication Design And Production</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BLS3120-Library Operations</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BLS3122-Web Document Management</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BLS3125-Automation Of Library And Information Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BLS3124-Multimedia Librarianship</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BLS2107-Editing</a></i></b></li>

{% endblock %}

{% block dept_4_course_1_courseunit_list_6 %}
<li class="course_units"><b><i><a  href="#">BLS3224-Project</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BLS3220-Community And Specialised Information Systems</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BLS3221-Management Of Electronic Resources</a></i></b></li>
<li class="course_units"><b><i><a  href="#">BLS3223-Information Enterprenuership</a></i></b></li>
{% endblock %}

{% block dept_4_course_1_courseunit_list_7 %}
<li class="course_units"><b><i><a  href="#">BLS3116-Preservation And Conservation</a></i></b></li>
<li class="course_units"><b><i><a  href="#"></a></i></b></li>
{% endblock %}

{% block dept_4_course_1_courseunit_list_8 %}
<li class="course_units"><b><i><a  href="#">BLS3222-Legal, Policy And Information Ethics</a></i></b></li>
<li class="course_units"><b><i><a  href="#"></a></i></b></li>
{% endblock %}

{% block dept_4_course_1_year_4 %}{% endblock %}
{% block dept_4_course2_name %}Diploma In Library & Information Science (DLIS) {% endblock %}

{% block dept_4_course_2_year_3 %}{% endblock %}
{% block dept_4_course_2_year_4 %}{% endblock %}
{% block dept_4_course_2_year_5 %}{% endblock %}
{% block dept_4_course_list_3 %}{% endblock %}
{% block dept_4_course_list_4 %}{% endblock %}

{% block dept5_name %} Department Of Records & Archives Management{% endblock %}
{% block dept_5_course1_name %}Bachelor Of Records & Archives Management (BRAM) {% endblock %}

{% block dept_5_course_1_courseunit_list_1 %}
<li class="course_units"><b><i><a  href="#">BRM1203-Classification And Cataloguing</a></i></b></li>
{% endblock %}

{% block dept_5_course_1_year_4 %}{% endblock %}

{% block dept_5_course2_name %}Diploma In Records & Archives Management (DRAM) {% endblock %}

{% block dept_5_course_2_year_3 %}{% endblock %}
{% block dept_5_course_2_year_4 %}{% endblock %}
{% block dept_5_course_2_year_5 %}{% endblock %}
{% block dept_5_course_list_3 %}{% endblock %}
{% block dept_5_course_list_4 %}{% endblock %}


{% block sch_2_dept_3 %}{% endblock %}
{% block col_sch_3 %}{% endblock %}
