{% extends "gpa_elevator/templates/college-template.php" %}


{% block col_title %}
College Of Health Sciences
{% endblock %}
{% block nav_col_name %}<a href="http://localhost/Home/chs">Mak-Chs{% endblock %}
{% block nav_Courseunit %} {% endblock %}

{% block col_name %} COLLEGE OF HEALTH SCIENCE (Mak-CHS)  {% endblock %}



{% block sch1_title_box %} {% endblock %}
{% block dept1_name %} School Of Medicine  {% endblock %}
{% block dept_1_course1_name %}Bachelor of Science in Radiography(BSMR) {% endblock %}
{% block dept_1_course_1_year_4 %}{% endblock %}

{% block dept_1_course2_name %}Bachelor of Medicine and Surgery(BMAM){% endblock %}

{% block dept_1_course3_name %}Bachelor of Science in Speech and Language Therapy(BSLT){% endblock %}
{% block dept_1_course_3_year_4 %}{% endblock %}

{% block dept_1_course4_name %}Bachelor of Science in Palliative Care(BPAC) {% endblock %}
{% block dept_1_course_4_year_4 %}{% endblock %}




{% block sch2_title_box %} {% endblock %}
{% block dept2_name %} School Of Health Science{% endblock %}
{% block dept_2_course1_name %}Bachelor of Dental Surgery(BDSU) {% endblock %}
{% block dept_2_course_1_year_4 %}{% endblock %}
{% block dept_2_course2_name %}Bachelor of Pharmacy(BPHA){% endblock %}
{% block dept_2_course_2_year_5 %}{% endblock %}

{% block dept_2_course3_name %}Bachelor of Dental Technology(BSDT) {% endblock %}
{% block dept_2_course_3_year_4 %}{% endblock %}

{% block dept_2_course4_name %}Bachelor of Optometry(BOPT) {% endblock %}
{% block dept_2_course_4_year_4 %}{% endblock %}




{% block sch3_title %}{% endblock %}

{% block sch3_title_box %}{% endblock %}
{% block dept3_name %} School Of Medical Science {% endblock %}
{% block dept_3_course1_name %}Bachelor of Biomedical Engineering(BBIO){% endblock %}
{% block dept_3_course2_name %}Bachelor of Biomedical Sciences(BCBS){% endblock %}
{% block dept_3_course3_name %}Bachelor of Cytotechnology(BCYT) {% endblock %}
{% block dept_3_course4_name %}Bachelor of Clinical Nutrition(BCN) {% endblock %}


{% block dept10_name %} School Of Public Health {% endblock %}
{% block dept_10_course1_name %}Bachelor of Environmental Health Science(BEHS) {% endblock %}
{% block dept_10_course_1_year_4 %}{% endblock %}

{% block dept_10_course_list_2 %}{% endblock %}
{% block dept_10_course_list_3 %}{% endblock %}
{% block dept_10_course_list_4 %}{% endblock %}



{% block col_sch_3 %} {% endblock %}
{% block col_sch_2 %} {% endblock %}

{% block stylesheets %}
<link rel="dns-prefetch" href="https://fonts.googleapis.com/">
<link href="https://pagecdn.io/lib/easyfonts/fonts.css" rel="stylesheet" />
<link rel="dns-prefetch" href="https://s.w.org/">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/owl.carousel.css">
<link rel="stylesheet" href="../../css/owl.theme.default.css">
<link rel="stylesheet" href="../../css/all.css">
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/navigation.css">
<link rel="stylesheet" href="../../css/form.css">
<link rel="stylesheet" href="../../css/main.css">
{% endblock %}   
{% block js_links %}
  <script type="text/javascript" src="../../js/jquery-3.4.1.min.js"></script>
  <link rel="stylesheet" id="msnb_notice_style-css" href="../../css/msnb_style.css" type="text/css" media="all">
  <script type="text/javascript" src="../../js/popper.min.js"></script>
  <script type="text/javascript" src="../../js/all.js"></script>
  <link rel="stylesheet" href="../../css/academicons.min.css">
  <link rel="stylesheet" href="../../css/media-queries.css">
  <link rel="stylesheet" href="../../css/theme-utils.css">
  <script type="text/javascript" src="../../js/elevator.js"></script>
  <script type="text/javascript" src="../../js/owl.carousel.js"></script>
  <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
{% endblock %}